/*
* Customized input fields for the new coin client
*
*/



textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
	
	padding: 10px;
	
	-webkit-box-shadow: inset 0px 0px 5px rgba(0, 0, 0, .2);
	-moz-box-shadow: inset 0px 0px 5px rgba(0, 0, 0, .2);
	box-shadow: inset 0px 0px 5px rgba(0, 0, 0, .2);
	
	
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
}


fieldset label{
	font-size: 16px;
}


/* all form DIVs have position property set to relative so we can easily position newly created SPAN */
form div{position:relative;} 

.rel-select{
	position:relative;
	float: right;
}

.form-horizontal{
	width: 490px
}

/* setting the width and height of the SELECT element to match the replacing graphics */
select.select{
    position:relative;
    z-index:10;
    width: 292px !important;
    height:37px !important;
    line-height:37px;
}

/* dynamically created SPAN, placed below the SELECT */
span.select{
    position:absolute;
    bottom:0;
    float:left;
    left:0;
    width: 292px;
    height:37px;
    line-height:37px;
    text-indent:10px;
    background:url(../img/select-bg.png) no-repeat 0 0;
    cursor:default;
    z-index:1;
}

/* SMALL SELECT ----------------------------------------------------*/ 

select.select-small{
    position:relative;
    z-index:10;
    width:90px !important;
    height:37px !important;
    line-height:37px;
}

/* dynamically created SPAN, placed below the SELECT */
span.select-small{
    position:absolute;
    bottom:0;
    float:left;
    left:0;
    width:90px;
    height:37px;
    line-height:37px;
    text-indent:10px;
    background:url(../img/select-bg-small.png) no-repeat 0 0;
    cursor:default;
    z-index:1;
}


/*-----------------------------------------------------------------------------------*/
/*	UI customized. this overrides the css/lightness/jquery-ui.css 
/*-----------------------------------------------------------------------------------*/


.ui-widget-content{
	padding: 10px;
}

.ui-state-default .ui-icon{
	background: url(../img/drop-down.png) no-repeat center center;
}


/* Interaction states ----------------------------------*/


.ui-state-default, 
.ui-widget-content .ui-state-default, 
.ui-widget-header .ui-state-default { 
	border: 1px solid #cccccc; 
	background: #f6f6f6 url(images/ui-bg_glass_100_f6f6f6_1x400.png) 50% 50% repeat-x; 
	font-weight: bold; 
	color: #1c94c4; 
}

.ui-state-default a, 
.ui-state-default a:link, 
.ui-state-default a:visited { 
	color: #1c94c4; 
	text-decoration: none; 
}

.ui-state-hover, 
.ui-widget-content .ui-state-hover, 
.ui-widget-header .ui-state-hover, 
.ui-state-focus, 
.ui-widget-content .ui-state-focus, 
.ui-widget-header .ui-state-focus { 
	border: 1px solid #439bff; 
	background: #f1f1f1 url(images/ui-bg_glass_100_fdf5ce_1x400.png) 50% 50% repeat-x; 
	font-weight: bold; 
	color: #444; 
}

.ui-state-hover a, 
.ui-state-hover a:hover { 
	color: #c77405; 
	text-decoration: none; 
}

.ui-state-active, 
.ui-widget-content .ui-state-active, 
.ui-widget-header .ui-state-active { 
	border: 1px solid #439bff; 
	background: #ffffff url(images/ui-bg_glass_65_ffffff_1x400.png) 50% 50% repeat-x; 
	font-weight: bold; color: #eb8f00; 
}

.ui-state-active a, 
.ui-state-active a:link, 
.ui-state-active a:visited { 
	color: #eb8f00; 
	text-decoration: none; 
}

.ui-widget :active { outline: none; }



.ui-autocomplete-input{
	padding: 10px;
	
	
	-webkit-box-shadow: inset 0px 0px 5px rgba(0, 0, 0, .2);
	-moz-box-shadow: inset 0px 0px 5px rgba(0, 0, 0, .2);
	box-shadow: inset 0px 0px 5px rgba(0, 0, 0, .2);
	
	
	-moz-border-radius: 10px 0px 0px 10px;
	-webkit-border-radius: 10px 0px 0px 10px;
	border-radius: 10px 0px 0px 10px;
}

.ui-autocomplete-input:focus{
	border-color: rgba(82, 168, 236, 0.8);
	
	outline: none ; /* testing if this removes the yellow glow on chrome */
}

.ui-button{
	-moz-border-radius: 0px 10px 10px 0px;
	-webkit-border-radius: 0px 10px 10px 0px;
	border-radius: 0px 10px 10px 0px;
}

button.ui-button-icon-only { width: 2.4em; height: 36px; } 
