


path.link {
  fill: none;
  stroke: #666;
  stroke-width: 1.5px;
  marker-end: "url(#arrow)";
}

link {
  fill: none;
  stroke: #666;
  stroke-width: 1.5px;
  marker-end: "url(#arrow)";
}


line.link {
  stroke: #999;
  stroke-opacity: .6;
}


line {
    stroke: black;
}

