


path.link {
  fill: none;
  stroke: #666;
  stroke-width: 1.5px;
  marker-end: "url(#arrow)";
}

link {
  fill: none;
  stroke: #666;
  stroke-width: 1.5px;
  marker-end: "url(#arrow)";
}


line.link {
  stroke: #999;
  stroke-opacity: .6;
}


line {
    stroke: black;
}


.graphBox {
	border: 1px solid #888888;
	border-radius: 8px 8px 8px 8px;
	-moz-box-shadow: 0 0 6px rgba(0,0,0,.1);
	-webkit-box-shadow: 0 0 6px rgba(0,0,0,.1);
	box-shadow: 0 0 6px rgba(0,0,0,.1);
}
