/* Welcome nav  ----------------------------------------------------*/ 

header .topNav{
	background: none;
	margin-bottom: 10px;
}

header .topNav li{
	border-right: 1px solid #fff;
}

header .topNav li:first-child{
	border-right: none;
}

header .topNav a{
	color: #fff;
	text-shadow: none;
	line-height: 1.3em;
	padding-bottom: 0;
	padding-top: 0;
	border: 1px solid transparent;
}


.topNav  > li.secondary-tab > a:hover{
	background: none;
	color: #ffa800;
	border: 1px solid transparent;
}

.topNav  >  .active a{
	background: none;
	color: #ffa800;
	border: 1px solid transparent;
}



/* Main nav  ----------------------------------------------------*/ 

.mainNav{
	margin-bottom: 0px;
} 

.mainNav a .caret{
	margin-top: 8px;
	margin-left: 5px;
}

.mainNav .log-message{
	color: #444;
	line-height: 37px;
	display: block;
	padding-left: 10px;
	padding-right: 20px;
}

/* Sub nav  ----------------------------------------------------*/ 

.subnav{
	background: #6b727a;
	
	margin-bottom: 0px;
	border-top: 2px solid #565b62;
	border-bottom: 2px solid #393c41;
	
	-moz-border-radius: 0px 0px 5px 5px;
	-webkit-border-radius: 0px 0px 5px 5px;
	border-radius: 0px 0px 5px 5px;
	
}

.subnav > li, .nav-pills > li {
	float: right;
}

.subnav > li > a{
	color: #e2e3e9;
	text-shadow: none;
	border: 1px solid transparent;
}

.subnav > li > a:hover,
.subnav > li.active > a,
.subnav > li.active > a:hover{
	background: #585d65;
	border: 1px solid transparent;
	color: #ffa800;
}


.subnav > li.secondary-tab > a{
	color: #fff;
	border: 1px solid transparent;
}

.subnav > li.secondary-tab > a:hover{
	color: #ffa800;	
	border: 1px solid transparent;
}


.secondary-tab{
	cursor: pointer;
}








