a {
	cursor: pointer;
	//color: #858585; 
}

a:hover 
{
	color:#EE0909;
	text-decoration: none;
}

.row {
    margin-left: 0px;
}

.top-status {
	float:right;
	clear: right;
	//margin-top: -140px;
}

#ClientState {
	margin-right: 20px;
	color: blue;
}

#Balance, #RecvAddress {
	font-weight: bold;
}

#NewAddress, #NewMasterKey, #InfoMasterKey {
	font-weight: bold;
}

.ncc-nav {
	//margin-top: 10px;
	margin-left: 10px;
}

.top-msg
{
	margin-top: 5px;
	margin-bottom: 10px;
	text-align:center;
	//color: white;
	font-size: 18px;
	font-weight: bold;
}

.spaceTable {
	width: 100%;
}

.dataTable td {
	padding: 10px;
	border-right: 1px solid;
	border-left: 1px solid;
}

.dataTable tr {
	border-bottom: 1px solid;
}
.smallFont {
	font-size: 9px;
}

.infoTable 
{
	margin-bottom: 20px;
} 

.infoTable td {
	padding: 10px;
	border: 1px solid;
}

.containerFrame {

	padding: 10px;
	//background: #C7EBD8;
	//background: #EDEDCE;
	border: 1px solid #79B394;
	border-radius: 8px 8px 8px 8px;
	-moz-box-shadow: 0 0 6px rgba(0,0,0,.1);
	-webkit-box-shadow: 0 0 6px rgba(0,0,0,.1);
	box-shadow: 0 0 6px rgba(0,0,0,.1);

}

fieldset {
	padding: 2em;
	margin: 0 0 1em 0;
	border: 1px solid #888888;
	border-radius: 4px 4px 4px 4px;
	background: #fafafa;
}

legend {
	width: auto;
	line-height: normal;
	
	margin-bottom: 0;	
	padding: .5em 1em;
	border: 1px solid #888888;
	border-radius: 4px 4px 4px 4px;
	background: #fff;
	font-size: 16px;
}

input {
	height: 28px;
}

.bottom-btn {
	margin-top: 30px;
	margin-bottom: 20px;
	text-align: center;
}

.footer {
	border-top: 1px solid #e6e6e6;
	margin-top: 20px;
}


.ledgerFeedMsg, .unknownFeedMsg, .errorFeedMsg, .startFeedMsg, .stopFeedMsg, .transFeedMsg {
	border: 1px solid #888888;
	margin: 5px;
	padding-left: 5px;
	padding-right: 5px;
}

.transFeedMsg {
	background: #eeffff;
}

.ledgerFeedMsg {
	background: #eeffee;
}

.startFeedMsg {
	background: #aaffaa;
}

.unknownFeedMsg {
	background: #ffeeee;
}

.errorFeedMsg {
	background: #ffbbbb;
}

/////////////////////////////////////


//////////////////////////////////