a {
	cursor: pointer;
}

.ledgerFeedMsg, .unknownFeedMsg, .errorFeedMsg, .startFeedMsg, .stopFeedMsg, .transFeedMsg {
	border: 1px solid #888888;
	margin: 5px;
	padding-left: 5px;
	padding-right: 5px;
}

.transFeedMsg {
	background: #eeffff;
}

.ledgerFeedMsg {
	background: #eeffee;
}

.startFeedMsg {
	background: #aaffaa;
}

.unknownFeedMsg {
	background: #ffeeee;
}

.errorFeedMsg {
	background: #ffbbbb;
}

.below-tab {
 margin-top: 20px;
}

.ncc-alert {
	margin-right: 20px;
	margin-left: 20px;
}

.bottom-btn {
	margin-top: 30px;
	margin-bottom: 20px;
	text-align: center;
}

.smallFont {
	font-size: 9px;
}

#t-send tr {
  height: 51px;
}

td.addr {
  font-family: monospace;
}

td.name a {
  float: right;
}

td button.save {
  display: none;
}

ul.ui-autocomplete.ui-menu.ui-widget.ui-widget-content {
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
}

#StatusDiv p {
  margin-bottom: 0;
}

.alert-heading {
  font-family: monospace;
}

pre.json {outline: 1px solid #ccc; padding: 5px; margin: 5px; }
pre.json .string { color: green; }
pre.json .number { color: #006; }
pre.json .boolean { color: #006; }
pre.json .null { color: #66F; }
pre.json .key { color: #030; } /* dark green */

