a {
	cursor: pointer;
}

.ledgerFeedMsg, .unknownFeedMsg, .errorFeedMsg, .startFeedMsg, .stopFeedMsg, .transFeedMsg {
	border: 1px solid #888888;
	margin: 5px;
	padding-left: 5px;
	padding-right: 5px;
}

.transFeedMsg {
	background: #eeffff;
}

.ledgerFeedMsg {
	background: #eeffee;
}

.startFeedMsg {
	background: #aaffaa;
}

.unknownFeedMsg {
	background: #ffeeee;
}

.errorFeedMsg {
	background: #ffbbbb;
}

.below-tab {
 margin-top: 20px;
}

.ncc-alert {
	margin-right: 20px;
	margin-left: 20px;
}

.bottom-btn {
	margin-top: 30px;
	margin-bottom: 20px;
	text-align: center;
}

.smallFont {
	font-size: 9px;
}

td.addr {
  font-family: monospace;
}

td.name a {
  float: right;
}

td button.save {
  display: none;
}