a {
  cursor: pointer;
}

.ledgerFeedMsg, .unknownFeedMsg, .errorFeedMsg, .startFeedMsg, .stopFeedMsg, .transFeedMsg {
  border: 1px solid #888888;
  margin: 5px;
  padding-left: 5px;
  padding-right: 5px;
}

.transFeedMsg {
  background: #eeffff;
}

.ledgerFeedMsg {
  background: #eeffee;
}

.startFeedMsg {
  background: #aaffaa;
}

.unknownFeedMsg {
  background: #ffeeee;
}

.errorFeedMsg {
  background: #ffbbbb;
}

.below-tab {
 margin-top: 20px;
}

.ncc-alert {
  margin-right: 20px;
  margin-left: 20px;
}

.bottom-btn {
  margin-top: 15px;
  margin-bottom: 20px;
  text-align: center;
}

.smallFont {
  font-size: 9px;
}

#t-send tr {
  height: 51px;
}

td.addr {
  font-family: monospace;
}

td.name a {
  float: right;
}

#AddressBookTable td button,
#OpenOrderTable td button {
  float: right;
  margin-left: 4px;
}

td button.save, td button.delete {
  display: none;
}

#TradePageStatus {
  height: 31px;
  margin-top: 15px;
  text-align: center;
}

#TradePageStatus div {
  padding: 5px;
  font-size: 90%;
  border-radius: 8px;
  text-align: center;
  width: 80%;
  display: none;
}

#TradePageStatus div.info {
  background-color: #D9EDF7;
  color: #3A87AD;
  border: 1px #EED3D7 solid;
}

#TradePageStatus div.error {
  background-color: #F2DEDE;
  color: #B94A48;
  border: 1px #B94A48 solid;
}

ul.ui-autocomplete.ui-menu.ui-widget.ui-widget-content {
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
}

#StatusDiv p, #ErrorDiv p {
  margin-bottom: 0;
}

#ClientState a {
  color: #bbb;
}

.alert-heading {
  font-family: monospace;
}

pre.json {
  padding: 5px;
  margin: 5px;
}

pre.json .string { color: green; }
pre.json .number { color: #006; }
pre.json .boolean { color: #006; }
pre.json .null { color: #66F; }
pre.json .key { color: #040; }

