/*  Password Strength Meter  */
.testresult {
  border-radius: 5px;
  font-weight: bold;
  font-size: 13px;
  font-family: arial, helvetica, san-serif;
  color: #666;
  padding: 0px 0px 12px 8px;
  margin-left: 10px;
  margin-top: 4px;
  display: block;
  height: 15px;
  float: left;
}
.testresult span {
  padding: 4px 10px 0px 6px;
  margin: 0px 0px 0px 16px;
  display: block;
  float: left;
  white-space: nowrap;
}

span.shortPass {
  background: #EDABAB url(../img/psm/red.png) no-repeat 7px center;
  border: 1px solid #BC0000;
}

span.badPass { 
  background: #EDABAB url(../img/psm/red.png) no-repeat 7px center;
  border: 1px solid #BC0000;
}

span.goodPass {
  background: #EDE3AB url(../img/psm/yellow.png) no-repeat 7px center;
  border: 1px solid #BC9F00;
}

span.strongPass {
  background: #CAF2A9 url(../img/psm/green.png) no-repeat 7px center; 
  border: 1px solid #73BC00;
}
