@import url('reset.css');

@import url('nav.css');


/* Vars ----------------------------------------------------*//* Mixins ----------------------------------------------------*/.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
}
.clearfix:after {
  clear: both;
}
.hide-text {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}
.input-block-level {
  display: block;
  width: 100%;
  min-height: 28px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}
/* GENERAL ------------------------------------------------------------*/
.cf:after,
.cf:before {
  content: "";
  display: table;
}
.cf:after {
  clear: both;
}
.cf {
  zoom: 1;
}
body {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
  line-height: 1.5em;
  color: #444444;
  background: #dadbdd url(../img/bg.png) repeat-x top center;
}
body a {
  text-decoration: none;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
body p {
  margin-bottom: 21px;
}
#main h1,
#main h2,
#main h3,
#main h4,
#main h5,
#main h6 {
  margin-bottom: 21px;
  line-height: 1.3em;
}
h1 {
  font-size: 48px;
}
h2 {
  font-size: 36px;
}
h3 {
  font-size: 30px;
}
h4 {
  font-size: 24px;
}
h5 {
  font-size: 18px;
}
h6 {
  font-size: 14px;
}
/* LAYOUT ------------------------------------------------------------*/
.wrapper {
  margin: 0 auto;
  width: 960px;
  position: relative;
}
/* HEADER ----------------------------------------------------*/header {
  position: relative;
  margin-bottom: 10px;
}
header nav {
  float: left;
  width: 760px;
}
header nav #logo {
  margin-top: 20px;
  margin-bottom: 0px;
}
header nav #logo:hover {
  opacity: 0.8;
}
header nav #logo img {
  display: block;
}
header .status-message {
  float: right;
  color: #fff;
  font-size: 13px;
  list-style: none;
  margin-top: 30px;
  margin-left: 0px;
  width: 160px;
  text-shadow: 0px 1px 0 rgba(0, 0, 0, 0.8);
}
header .status-message li {
  margin-bottom: 2px;
}
header .status-message li span {
  float: right;
  font-size: 10px;
  color: #d5d5d5;
}
header .status-message .heading {
  border-bottom: 1px solid #888c93;
  padding-bottom: 5px;
  margin-bottom: 5px;
}
/* MAIN ----------------------------------------------------*/#main {
  background: #fff;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  min-height: 600px;
  margin-top: 20px;
  margin-bottom: 40px;
  padding-bottom: 20px;
  box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.22);
  font-size: 16px;
}
#main form,
#main table {
  font-size: 12px;
}
#main section .heading {
  font-family: Arvo, Helvetica, Arial, sans-serif;
  font-size: 24px;
  font-wight: 400;
  padding: 20px;
  text-shadow: 0px 1px 0 #ffffff;
  color: #5e5f63;
  background: #e2e3e9 url(../img/oblique.png);
  -moz-border-radius: 5px 5px 0px 0px;
  -webkit-border-radius: 5px 5px 0px 0px;
  border-radius: 5px 5px 0px 0px;
  border-bottom: 1px solid #ccc;
}
#main section .page-content {
  margin: 20px;
}
/* FOOTER ----------------------------------------------------*/footer {
  font-size: 14px;
  margin-bottom: 60px;
}
footer a {
  color: #468dd1;
}
footer .right-footer .right-footer-content {
  border-left: 1px solid #ccc;
  padding-left: 20px;
}
