h4(l10n) Profile Information
.section
  .descriptor(l10n) Identity Information
  .row.public-account-row
    .col-xs-12.col-sm-9
      span(ng-show="profileCompleted", l10n) Completed
      span(ng-hide="profileCompleted", l10n) Incomplete
      a(ng-hide="profileCompleted", href="#/kyc", l10n) Complete your profile
.section
  .descriptor(l10n) Identity Questions
  .row.public-account-row
    .col-xs-12.col-sm-9
      span(ng-show="identityCompleted", l10n) Completed
      span(ng-hide="identityCompleted", l10n) Incomplete
      a(ng-hide="identityCompleted", href="#/kyc", l10n) Complete your profile
