.col-sm-9.list
  form.row-padding-small(name="kycForm", ng-show="editForm = true", ng-submit="save()")
    h4(l10n) Profile Information
    hr
    .row
      .col-lg-4
        .description(l10n) Identity Information
    .row
      .col-sm-4
        span(ng-show="profileCompleted") Completed
    .row
      .col-sm-4
        span(ng-hide="profileCompleted") Incomplete
    .row
      .col-lg-4
        .description(l10n) Identity Questions
    .row
      .col-sm-4
        span(ng-show="identityCompleted") Completed
    .row
      .col-sm-4
        span(ng-hide="identityCompleted") Incomplete