.mobile-nav(rp-snapper)
  a.wallet(href="#/balance", ng-class="{active: $route.current.tabName == 'balance'}")
    span.nav-icon.nav-icon-wallet
    span(l10n) Balance
  //- a.sub(href="#/balance", ng-class="{active: $route.current.tabName == 'balance'}", l10n) Balance
  a.sub(href="#/history", ng-class="{active: $route.current.tabName == 'history'}", l10n) History
  a.sub(href="#/contacts", ng-class="{active: $route.current.tabName == 'contacts'}", l10n) Contacts

  a.send(href="#/send", ng-class="{active: $route.current.tabName == 'send'}")
    span.nav-icon.nav-icon-send
    span(l10n) Send

  a.exchange(href="#/exchange", ng-class="{active: $route.current.tabName == 'exchange'}")
    span.nav-icon.nav-icon-exchange
    span(l10n) Trade (simple)
  //- a.sub(href="#/exchange", ng-class="{active: $route.current.tabName == 'exchange'}", l10n) Convert
  a.sub(href="#/trade", ng-class="{active: $route.current.tabName == 'trade'}", l10n) Trade (advanced)

  a.fund(href="#/xrp", ng-class="{active: $route.current.tabName == 'xrp'}")
    span.nav-icon.nav-icon-advanced
    span(l10n) Featured gateways
  //- a.sub(href="#/withdraw", ng-class="{active: $route.current.tabName == 'withdraw'}", l10n) Withdraw
  a.sub(href="#/trust", ng-class="{active: $route.current.tabName == 'trust'}", l10n) Add any gateway (trust lines)

  a.advanced(href="#/account/public", ng-class="{active: $route.current.tabName == 'account'}")
    img(src="img/profile-gray.png")
    span(l10n) Account
  a.advanced(href="#/security", ng-class="{active: $route.current.tabName == 'security'}")
    img(src="img/settings-gray.png")
    span(l10n) Settings
  a.advanced(href="#", ng-click='logout()')
    img(src="img/logout-gray.png")
    span(l10n) Logout

// Wrapper
div#wrapper
  // Header
  header(ng-class="{ 'loggedOut': !loginStatus }")
    .headerWrapper(ng-class="{ 'loggedOut': !loginStatus }")
      a.logo(href="/")

    div(ng-if="loginStatus")
      include ../client/navbar.jade

  .landingWrapper(ng-class="{ 'loggedOut container-fluid': !loginStatus, 'container': loginStatus  }")

    .landingContainer

      .loginContainer

        // Login
        .container-fluid.main(ng-if="showLogin", id="t-login", role="main")
          include ../tabs/login.jade

        // Main
        .container-fluid.main.pageLoading(ng-show="pageLoading")
          img(src="img/sections.png", class="loader")
        .container-fluid.main(ng-if="!showLogin && !pageLoading", id="{{$route.current.tabClass}}", role="main", ng-view)