.currencies.fund-menu
  a(href="#/brl", ng-class="{active: $route.current.tabName == 'brl'}", class="currency-brl", l10n)
    i.icon.fa.fa-money.fa-brl
    | BRL
  a(href="#/btc", ng-class="{active: $route.current.tabName == 'btc'}", class="currency-btc", l10n)
    i.icon.fa.fa-money.fa-btc
    | BTC
  a(href="#/eur", ng-class="{active: $route.current.tabName == 'eur'}", l10n)
    i.icon.fa.fa-money.fa-eur
    | EUR
  a(href="#/jpy", ng-class="{active: $route.current.tabName == 'jpy'}", class="currency-jpy", l10n)
    i.icon.fa.fa-money.fa-jpy
    | JPY
  a(href="#/mxn", ng-class="{active: $route.current.tabName == 'mxn'}", class="currency-mxn", l10n)
    i.icon.fa.fa-money.fa-mxn
    | MXN
  a(href="#/sgd", ng-class="{active: $route.current.tabName == 'sgd'}", class="currency-sgd", l10n)
    i.icon.fa.fa-money.fa-sgd
    | SGD
  a(href="#/usd", ng-class="{active: $route.current.tabName == 'usd'}", l10n)
    i.icon.fa.fa-money.fa-usd
    | USD
  a(href="#/gold", ng-class="{active: $route.current.tabName == 'gold'}", class="currency-xau", l10n) 
    i.icon.fa.fa-money.fa-xau
    | XAU