config.json
js/.DS_Store
.tx/
.idea
npm-debug.log
.DS_Store
node_modules
build/
src/js/config.js
test/e2e/protractor.conf.js
analytics.js
res/nw/config.js
deps/js/ripple/
deps/js/angular/
deps/js/angular-route/
deps/js/angular-mocks/
deps/js/jquery/
deps/js/moment/
deps/js/spin.js/
deps/js/store.js/
deps/js/underscore/
deps/js/snapjs/
deps/js/angular-bootstrap/
deps/js/ripple-vault-client
deps/js/ng-sortable/
deps/js/d3/

# Ignore coverage files
/coverage
