language: node_js
node_js:
  - "0.10"
before_install:
  - "export DISPLAY=:99.0"
  - "sh -e /etc/init.d/xvfb start"
  - npm install -g grunt-cli
before_script:
  - "cp src/js/config-example.js src/js/config.js"
  - npm install -g bower
  - bower install
script: "grunt && npm run test-travis"
notifications:
  email:
    false
  webhooks:
    urls:
      - https://webhooks.gitter.im/e/706809d6a4c29c8fb8b6
    on_success: change
    on_failure: always
    on_start: false
