language: node_js
node_js:
  - "0.10"
before_install:
  - "export DISPLAY=:99.0"
  - "sh -e /etc/init.d/xvfb start"
  - npm install -g grunt-cli
addons:
  sauce_connect: true
before_script:
  - "cp src/js/config-example.js src/js/config.js"
  - npm install -g bower
  - bower install
  - npm install -g se-interpreter
script: "grunt && npm run test-travis && se-interpreter test/selenium/interpreter_config.json"
notifications:
  email:
    false
  webhooks:
    urls:
      - https://webhooks.gitter.im/e/706809d6a4c29c8fb8b6
    on_success: change
    on_failure: always
    on_start: false
env:
  global: 
    - SAUCE_USERNAME=tonga
    - secure: "VJFHj5fr46Qf7h34xa/W6FmGvknPH57eQLJoEjKlZUYn0EGx9EliCdENfzAbtr3e4GnNvQh6X2bLA/lB7TRzoD84oyGkllkMayevQm/dViJbUBQsl7HOa6VwUwugW+o7T3+vPM4y5qqFv1B/fs3Fthl+eKUatccy9qK4xra1Hso="


