// Error messages for the send and convert tabs

group(ng-switch="error_type")
  group.result-error(ng-switch-when='noDest')
    h2.tx-status(l10n) Transaction failed
    p(l10n) Error code: The account you&#39;re trying to send to does not exist [noDest].
  group.result-error(ng-switch-when='noPath')
    h2.tx-status(l10n) Transaction failed
    p(l10n) Error code: Ripple was unable to find a path between you and the destination account [noPath].
  group.result-error(ng-switch-when='maxFeeExceeded')
    h2.tx-status(l10n) Transaction failed
    p(l10n) Error code: This transaction failed because it exceeded the maximum network fee. [maxfeeExceeded].
  group.result-error(ng-switch-when='invalidTransaction')
    h2.tx-status(l10n) Transaction failed
    p(l10n) Error code: The transaction was rejected by the Ripple network [invalidTransaction].
  group.result-error(ng-switch-when='unlockFailed')
    h2.tx-status(l10n) Account unlock failed
    p(l10n) Your account cannot be accessed at the moment. Please try again later.
  group(ng-switch-default)
    p.literal(l10n) Sorry, an error occurred while submitting your transaction.
      | Make sure you are connected to the Internet and try again later.
    p.literal(l10n) Before trying again, please ensure that the transaction has
      |  not been executed already.