section.col-xs-12.content(ng-controller="NotFoundCtrl")
  .not-found-wrapper-row.row
    .col-xs-12.text-center
      h3.not-found-title
        | 404
      p.not-found-text
        | Page cannot be 
      hr
      p
        a(href="/") Return to Ripple Trade homepage
