section.col-xs-12.content(ng-controller='BalanceCtrl')
  //- Disconnected

  group.disconnected(ng-hide='connected')
    p.literal(l10n) You have to be online to see this screen

  group.disconnected(ng-hide="!connected || loadState.account")
    div(id="section_loader")
      img(src="img/sections.png", class="loader")
      div(class="loading_sections", l10n) Loading... 

  group.disconnected(ng-hide='!connected || loadState.account')
    //img(src="img/sections.png", class="loader", id="section_loader", ng-hide="exchangeRatesNonempty")

  //- Connected
  div(ng-show='!loadingAccount && !account.Balance && loadState.account && connected')
    include ../tabs/banner/unfunded

  div(ng-show='hasRTJapanTrust')
    include banner/rtjapan
  div(ng-show='hasRTJapanTrustWithRippling')
    include banner/rtjapanrippling

  group(ng-show='connected && loadState.account')
    include ../tabs/banner/terms
    include ../tabs/banner/touannouncement
    include ../tabs/banner/announcement
    .widgets.row
      .col-xs-12.col-sm-4
        include ../tabs/widgets/networth
        include ../tabs/widgets/assetallocation
        include ../tabs/widgets/balances

      .col-xs-12.col-sm-8
        include ../tabs/widgets/markets
        include ../tabs/widgets/orders
