section.col-xs-12.content(ng-controller='BtcCtrl')
  //- the ng-states & ng-clicks should be implemented
  //- Connected
  //- group.connected(ng-show="connected")

  //- Disconnected

  group.disconnected(ng-hide='connected')
    p.literal(l10n="err-you-must-be-online-to-see-this-screen", l10n)
      | You have to be online to see this screen

  //- Funding
  div(ng-show="!loadingAccount && !account.Balance && loadState.account && connected")
    include ../tabs/banner/unfunded

  group.mode-granted.wide(ng-show='notif !== "clear"', ng-hide='!notif')
    group(ng-switch="notif")
      group.result-success(ng-switch-when="success")
        h2.tx-status(l10n) Success! You can deposit BTC via your generated BTC receiving address.
      group.result-error(ng-switch-when="error")
        h2.tx-status(l10n) There was an error with your request.&#32;
          p(l10n) Please try again later.

  .row(ng-show='connected')
    .col-sm-3
      include ../tabs/fund/menu
    .col-sm-9.list
      div(ng-show='debug') This page is not available in debug mode
      .fundBtc(ng-hide='debug')
        .nameLine(l10n) Bitcoin Deposit
        .B2R-wrap.row
          .col-xs-12
            .gateway.row
              .col-md-3
                .title(l10n) Gateway
                .description(l10n) btc2ripple (~SnapSwap)&#32;
                  a(href="https://www.btc2ripple.com", target="_blank") www.btc2ripple.com
              .col-md-3
                .title(l10n) Availability
                .description(l10n) All countries
              .col-md-3
                .title(l10n) Fees
                .description(l10n) 0% for deposits/withdrawals, .2% when transferring
              .col-md-3
                .title(l10n) Rating
                .description(l10n)
                  a(href="https://coinist.co/ripple/assets/btc-btc2ripple", target="_blank") read reviews
            .row.fund-tab-description(ng-show="!btcConnected")
              .col-xs-12.col-md-8.col-lg-6
                .descriptor(l10n) Ripple Trade has partnered with btc2ripple to make depositing BTC easier. By proceeding, you agree to the btc2ripple&#32;
                  a(href="https://btc2ripple.com/terms", target="_blank") terms of service.
                  |&#32;Following this action will allow btc2ripple to hold BTC on your behalf.
            .row.fund-tab-description
              .col-xs-7.col-sm-5.col-md-4
                rp-popup
                  a.btn.btn-success.btn-sm.btn-block.sign(href="", rp-popup-link,
                    ng-click="openPopup()", ng-show="!btcConnected && !loading", ng-disabled="emailError", ng-hide="btcConnected",l10n) Add btc2ripple
                  div.connectModal(rp-popup-content)
                    .modal-header
                      .navbar-brand.hidden-sm.modal-logo#logo
                      .modal-title(l10n) Connect
                    .modal-body
                      div.modal-prompt(l10n) btc2ripple would like to:
                      div.grey-focus
                        div.modal-permissions(l10n) - Receive your email address&#32;
                          span.modal-email(l10n) ({{userBlob.data.email}})
                        div.modal-permissions(l10n) - Hold deposited BTC on your behalf
                      div.modal-agreement(l10n) By proceeding, you agree to the btc2ripple
                        a(href="https://btc2ripple.com/#/terms/of/service", target="_blank")  terms of service.
                      div.modal-buttons
                        button.modal-btn.btn.btn-default.btn-success.btn-md(ng-click="B2RSignup()",
                          ng-disabled="loading")
                          img(src="img/button-s.png", class="loader", ng-show="loading")
                          span(class="loading_text", ng-show="loading", l10n) Loading...
                          span(ng-hide="loading", l10n) Confirm
                        button.modal-btn.btn.btn-default.btn-link.btn-cancel(data-dismiss="modal"
                          ng-hide="loading", l10n) cancel
                      span.modal-error(ng-show="emailError", l10n)
                        | SnapSwap's btc2ripple service is currently unavailable.
                        |  Please check back later.
                button.btn.btn-primary(ng-show="!btcConnected && loading", ng-disabled="loading", l10n) Adding...
                button.btn.btn-block.btn-primary(ng-show="showInstructions && btcConnected", type="submit", ng-click="toggle_instructions()", l10n) Hide instructions
                button.btn.btn-block.btn-primary(ng-show="btcConnected && !showInstructions", type="submit", ng-click="toggle_instructions()", l10n) Show instructions

              .connect.col-md-8.col-sm-7.col-xs-5
                .description(ng-show="btcConnected")
                  i.fa.fa-check
                  span(l10n) Connected
                .description(ng-hide="btcConnected")
                  i.fa.fa-times
                  span(l10n) Not connected
              span.error(ng-show="emailError", l10n)
                | SnapSwap's btc2ripple service is currently unavailable.
                |  Please check back later.
        .row(ng-show="btcConnected && showInstructions")
          .instructions.col-md-10
            //a.dismiss#hide(href="", ng-click="toggle_instructions()")  ×

            .active.col-xs-12(ng-show="B2R.active")
              .title(l10n) Personal Deposit address
              .btc-address(ng-bind="B2R.instructions.instructionParams[0].value") 
              .description(l10n) Your account is fully verified.
              div(ng-show="loadState.B2RInstructions")
                .description(ng-bind="B2R.instructions.instruction") 
                //.about(ng-hide="account.Balance", l10n) A small amount (~.001 BTC) of your first
                  |  transfer will be converted to XRP to activate your wallet.&#32;
                  a.why(href="https://ripple.com/wiki/Reserves",
                  target="_blank", l10n-inc) Why?
              .title(l10n) Withdrawal instructions
              .description(l10n) To withdraw to a BTC address, go to the Send tab and enter the BTC address. Using the btc2ripple service, you will be able to
                  | send to that BTC address.
              div(ng-hide="loadState.B2RInstructions") Loading...
          .inactive.col-xs-12(ng-hide="B2R.active")
            span(ng-show="loading")
              label(l10n) Waiting for response from SnapSwap service...
            span(ng-hide="loading")
              label(l10n) To deposit, generate a bitcoin receiving address
                |  using the&#32;
                a(href="https://btc2ripple.com", target="_blank") btc2ripple
                |  service powered by SnapSwap.
