section.col-xs-12.content(ng-controller='DebugPretendCtrl')

  span Debug as {{pretend.pretendAs}}
  form.mode-form(name="debugPretendForm", id="debugPretendForm", ng-show='connected', ng-submit='pretend()')
    .form-group
      label(for='pretendAddr') Ripple name or address:
      .row.row-padding-small.amount
        .col-xs-12.col-sm-9.col-md-6
          input.value.form-control#pretendAddr(
          name='pretendAddr', type='text'
          rp-combobox="pretend_query"
          rp-combobox-value-as-ripple-name
          l10n-placeholder="Enter a Ripple name or address"
          ng-model='pretend.pretendAs'
          required
          rp-dest, rp-dest-address, rp-dest-ripple-name, rp-dest-contact
          rp-spinner
          )
      .errorGroup(ng-messages='debugPretendForm.pretendAddr.$error')
        .success(ng-show='debugPretendForm.pretendAddr.$valid && pretend.pretendAs != pretend.address', ng-bind='pretend.address')
        .error(ng-message='required', l10n) Please enter an address.
        .error(ng-message='rpDest', l10n) Not a valid address.
      .row.row-padding-small.amount
        .col-xs-12.col-sm-9.col-md-6
          button.btn.btn-block.btn-success(type="submit", ng-disabled='debugPretendForm.$invalid || debugPretendForm.$pending',  l10n)
            | Turn on debug mode

