section.col-xs-12.content(ng-controller="LoginCtrl")
  include ../tabs/banner/announcement
  .row.auth-form-container(ng-hide="$routeParams.to")
    .col-xs-12.col-sm-4.col-md-8.hidden-xs
      .welcomeText(l10n) Welcome to Ripple Trade
      hr
      p.heroText(l10n) Trade hundreds of assets, from XRP to crypto to gold to fiat.
    .auth-form-wrapper.col-xs-12.col-sm-6.col-md-4
      .text-status(ng-show='status')
        span.loggingIn(ng-bind="status")
        br
        .backend.error(ng-repeat="message in backendMessages")
          span.error(ng-bind="message")
      .submit-btn-container
        a.btn.btn-submit.btn-block.btn-success#registerBtn(href="{{globalOptions.backend_url}}/auth/register")
          span(l10n) Sign up
        a.btn.btn-submit.btn-block.btn-success#loginBtn(href="{{globalOptions.backend_url}}/auth/login")
          span(l10n) Sign in
      .row.switch-mode-wrapper
        .switch-mode-link-container.bottomText(l10n)
          | Ripple Trade uses &nbsp;
          a(href="https://id.ripple.com") RippleID &nbsp;
          | to securely manage your personal information


  .row.action-login(ng-if="$routeParams.to")
    .col-xs-12.col-sm-6.col-md-6.uri-form-container
      div.info(ng-show="'send' == $route.current.tabName")
        p.literal(ng-bind="$routeParams.label")
        div(ng-hide="$routeParams.amount", l10n)
          p(l10n-inc) You're sending money to
          .address {{ $routeParams.to | rpripplenamefull:{tilde:true} }}
          | .
        div(ng-show="$routeParams.amount", l10n)
          p(l10n-inc) You're sending
          .amount(ng-show="$routeParams.amount")
            span.number {{$routeParams.amount | rpamount:{xrp_human: true} }}
            span.currency {{$routeParams.amount | rpcurrency}}
          p(l10n-inc) &#32;to&#32;
          .address {{ $routeParams.to | rpripplenamefull:{tilde:true} }}
          | .
        p(l10n-inc) Log in to your Ripple Trade account to continue. You 
          | will be able to confirm this transaction on the next page.
      div.info(ng-show="'trust' == $route.current.tabName")
        p.literal {{$routeParams.label}}
        div(l10n)
          p(l10n-inc) You're connecting to the gateway
          .address {{ $routeParams.to | rpripplenamefull:{tilde:true} }}
          div(ng-show="$routeParams.currency", l10n-inc)
            | for
            .amount
              span.currency(ng-bind="$routeParams.currency")
          div(ng-show="$routeParams.amount", l10n-inc)
            | with a limit of
            .amount
              span.currency {{$routeParams.amount | rpamount}} {{$routeParams.amount | rpcurrency}}
          | .
        p(l10n-inc) Log in to your Ripple Trade account to continue. You 
          | will be able to confirm this transaction on the next page.

      div.info(ng-show="'contacts' == $route.current.tabName")
        p.literal(ng-bind="$routeParams.label")
        span(l10n)
          p(l10n-inc) You're adding
          .address {{ $routeParams.to | rpripplenamefull:{tilde:true} }}
          p(l10n-inc) to your contacts list
        p(l10n-inc) Log in to your Ripple Trade account to continue. You 
          | will be able to confirm this transaction on the next page.


    .col-xs-12.col-sm-6.col-md-5.col-lg-4.col-lg-offset-1.auth-form-container
      .auth-form-wrapper
        form(name='loginForm', ng-submit='submitForm()')
          .loginWrapper
            h2.loginTop(l10n) Log In
          include ../tabs/login/form
          .row
            .col-xs-12.text-status(ng-show='status')
              span(ng-bind="status")
              br
              .backend(ng-repeat="message in backendMessages")
                span(ng-bind="message")
          .row
            .col-xs-12
              button.btn.btn-lg.btn-submit.btn-block.btn-primary(type='submit', ng-disabled="loginForm.$invalid || ajax_loading", l10n)
                img(src="img/button-s.png", class="loader", ng-show="ajax_loading")
                |  Log In
          p.literal.landing(l10n) New to {{productName}}?&#32;
            a(href='#/register', l10n-inc) Create an account
