section.col-xs-12.content(ng-controller="MigrateCtrl")
  .row.auth-form-container
    .col-xs-12.col-sm-4.col-md-8.hidden-xs
      .welcomeText(l10n) Welcome to Ripple Trade
      hr
      p.heroText(l10n) Trade hundreds of assets, from XRP to crypto to gold to fiat.
      
    .auth-form-wrapper.col-sm-8.col-md-4.col-xs-12
      form(name='loginForm', ng-submit='submitForm()')
        h2(l10n) Migrate
        .auth-attention(l10n) To begin migration, enter the name and passphrase
          |  used to encrypt your ripple.com/client wallet below.
          |  After migration, you will no longer be able to login on ripple.com/client.
        .form-group
          label(for='login_username', l10n) Existing ripple.com/client Wallet name
          input.form-control#login_username(name='login_username', type='text'
            ng-model='username', required, autofocus='autofocus'
            rp-focus-on-empty, rp-autofill='$routeParams.username')
        .form-group
          label(for='login_password', l10n) Passphrase
          input.form-control#login_password(name='login_password', type='password'
            ng-model='password', required, rp-focus)
        .text-status(ng-show='status')
          span(ng-bind="status")
          br
          span#error(ng-bind="error")
          br
          .backend(ng-repeat="message in backendMessages")
            b {{message.backend}} &#32;
            span(ng-bind="message.message")
        .submit-btn-container
          button.btn.btn-submit.btn-block.btn-success(type='submit'
            ng-disabled="ajax_loading || loginForm.$invalid")
            img(src="img/button-s.png", class="loader", ng-show="ajax_loading")
            span(class="loading_text", l10n) Begin Migration
        .switch-mode-link-container.bottomText(l10n) New to {{productName}}?&#32;
          a(href='#register', l10n-inc) Sign Up
        .switch-mode-link-container.bottomText(l10n) Have a {{productName}} account?&#32;
          a(href='#login', l10n-inc) Log In
