section.content(ng-controller="PrivacypolicyCtrl")
  header
    h2 Ripple Trade Privacy Policy
  hr
  p <strong>Last Updated:</strong> October 23, 2014
  p This Privacy Policy explains how information about you is collected, used and disclosed by Ripple Trade,
    | LLC (“<strong>Company</strong>,” “<strong>we</strong>” or “<strong>us</strong>”).  This Privacy Policy
    | applies to information we collect when you use our website (<a href="http://www.rippletrade.com">www.rippletrade.com</a>)
    | and the online services made available via our website (collectively,
    | “<strong>Ripple Trade</strong>”).  Ripple Trade allows you to interact directly with the decentralized
    | Ripple transaction protocol payment network (“<strong>Ripple Protocol</strong>”) to create a
    | Ripple Protocol wallet (“<strong>Ripple Wallet</strong>”)
  p We may change this Privacy Policy from time to time.  If we make changes, we will notify you by revising the date
    | at the top of the policy and, in some cases, we may provide you with additional notice (such as by
    | adding a statement to the homepage of our website or by sending you a notification).
  br
  h4 Collection of Information
  p <strong> Information You Provide to Us</strong>
  p The information you provide via Ripple Trade is stored in a hosted data storage service
    | (“<strong>Blobvault</strong>”).  The Blobvault has three separate components:
  p (1) a public storage component, which contains the Ripple name you create when setting up a Ripple
    | Wallet via Ripple Trade;
  p (2) a restricted storage component, which contains the information you provide about any recipient (such as the
    | Ripple name or Ripple public address of the recipient) when you send a balance via Ripple Trade; and
  p (3) an ID storage component, which includes contact and other identifiable information you provide about yourself
    | via Ripple Trade, including the email address you provide when first setting up a Ripple Wallet and any
    | information you submit for identity verification purposes.
  p <strong>Information We Collect Automatically via Ripple Trade</strong>
  p When you use Ripple Trade, we automatically collect information about you, including:
  li <strong>Log Information</strong>:  We collect log files that contain the type of browser you use, access times, pages
    | viewed, your IP address and the page you visited before navigating to our websites.
  br
  li <strong>Information Collected by Cookies and Other Tracking Technologies</strong>:  We and our service providers use
    | various technologies to collect information about you when you use Ripple Trade, including cookies.  Cookies are small
    | data files stored on your hard drive or in device memory.  For information about how to disable cookies, please see “Your
    | Choices” below.  Through these technologies, we may collect information about your interactions with Ripple Trade,
    | including Ripple Protocol transactions you submit via Ripple Trade.  For instance, we may collect the currency
    | involved in a transaction, the time and date of a transaction, your approximate location based on your IP address at the
    | time of a transaction and other related information.
  br
  li <strong>Ripple Wallet Information</strong>: When you create a Ripple Wallet via Ripple Trade, Ripple Trade generates a
    | public address and private key pair for you.  The public address is automatically added to the Blobvault
    | public storage component and the private key is automatically added to the Blobvault restricted storage component.
  br
  p <strong>Information We Collect From Other Sources</strong>
  p We may also obtain information from other sources and combine that with information we collect through Ripple Trade.
    | For instance, when you submit information for identity verification purposes, we may receive information about you from
    | our fraud prevention service providers, including information about you and the results of any identity verification check.
  br
  h4 Use of Information
  p We may use information about you for various purposes, including to:
  li Provide, maintain and improve Ripple Trade;
  br
  li Provide and deliver the services you request, facilitate Ripple Protocol transactions and send you related
    | information, including confirmations and informational notifications;
  br
  li Verify your identity, monitor suspicious activity and prevent fraudulent or other illegal activities;
  br
  li Send you technical notices, security alerts, and other support and informational messages;
  br
  li Respond to your comments and questions and provide customer service;
  br
  li Communicate with you about products, services, offers, promotions, rewards, and events offered by Company and others,
    | and provide news and information we think will be of interest to you;
  br
  li Analyze Ripple Trade trends and usage;
  br
  li Process and deliver contest entries and rewards;
  br
  li Link or combine any information we collect about you; and
  br
  li Carry out any other purpose for which you provided the information.
  br
  h4 <strong>Sharing of Information</strong>
  p We may share information about you as follows or as otherwise described in this Privacy Policy:
  p <strong>With the Ripple Protocol and Users of the Ripple Protocol</strong>
  li We will share your Blobvault public storage component data and any transaction details with the Ripple Protocol to
    | facilitate a transaction request you submit via Ripple Trade.  This information will be publicly viewable via the
    | Ripple Protocol public ledger; and
  br
  li At your direction, we will share information from the Blobvault ID storage component with other parties.  For instance,
    | you may direct us to send this information to a Ripple Protocol gateway or other third-party service accessible via Ripple Trade.
    | Use of your information by these third parties will be subject to their privacy policies.
  br
  p <strong>Other Important Sharing</strong>
  li With service providers who need access to such information to carry out work on our behalf;
  br
  li In response to a request for information if we believe disclosure is in accordance with, or as otherwise required by, any
    | applicable law, regulation or legal process;
  br
  li If we believe your actions are inconsistent with the spirit or language of our user agreements or policies, or to
    | protect the rights, property and safety of Company or others;
  br
  li Between and among Company, and its current and future parents, subsidiaries and affiliates;
  br
  li In connection with, or during negotiations of, any merger, sale of company assets, financing or acquisition of all
    | or a portion of our business to another company; and
  br
  li With your consent or at your direction, including if we notify you through Ripple Trade that the information you
    | provide will be shared in a particular manner and you provide such information.
  p We may also share aggregated or de-identified information, which cannot reasonably be used to identify you.
  br
  h4 Your Choices
  p <strong>Blobvault Data</strong>
  p You may correct or delete information maintained in the Blobvault ID storage component at any time by logging into
    | Ripple Trade.  Please note that we may retain deleted information to comply with applicable laws and for our
    | legitimate business purposes.
  p <strong>Promotional Communications</strong>
  p You may opt out of receiving promotional messages from Company by following the instructions in those messages.
    | If you opt out, we may still send you transactional or relationship messages.
  p <strong>Cookies</strong>
  p Most web browsers are set to accept cookies by default. If you prefer, you can usually choose to set your browser to
    | remove or reject browser cookies. Please note that if you choose to remove or reject cookies, this could affect
    | the availability and functionality of Ripple Trade.
  br
  h4 Contact Us
  p If you have any questions about this Privacy Policy, please contact us at <a href="support@ripple.com">support@ripple.com</a>.




