section.col-xs-12.content(ng-controller='UsdCtrl')

  //- Disconnected

  group.disconnected(ng-hide='connected')
    p.literal(l10n="err-you-must-be-online-to-see-this-screen")
      | You have to be online to see this screen

  //- Funding
  div(ng-show="!loadingAccount && !account.Balance && loadState.account && connected")
    include ../tabs/banner/unfunded

  div(ng-show='hasRTJapanTrust')
    include banner/rtjapan
  div(ng-show='hasRTJapanTrustWithRippling')
    include banner/rtjapanrippling

  .row(ng-show='connected')
    // Transaction errors coming from errors.js & transactionerror.jade
    .col-sm-12(ng-show='mode=="error" || mode=="granting" && account.Balance')
      group.mode-ripplerror
        rp-transaction-status(
          rp-engine-result="{{engine_result}}"
          rp-engine-result-message="{{engine_result_message}}"
          rp-accepted="{{engine_status_accepted}}"
          rp-current-tab="trust")

    //- Generic non-tx related messages
    .col-sm-12(ng-show='notif !== "clear"', ng-hide='!notif')
      group.mode-granted.wide
        group(ng-switch="notif")
          group.result-error(ng-switch-when="error")
            h2.tx-status(l10n) There was an error while saving your changes.&#32;
            p(l10n) Please try again later.
    .col-sm-12(ng-show='account.Balance && !can_add_trust && !usdConnected')
      .alert.alert-warning(l10n) You must have at least
        strong  {{account.reserve_to_add_trust | rpamount:0}} XRP
        |  to add a new trust line.&#32;
        a(href="https://ripple.com/wiki/Reserves", target="_blank") More information

    .col-sm-3
      include ../tabs/fund/menu
    .col-sm-9.list(ng-hide='debug')
      .nameLine(l10n) US Dollar Deposit
      .gateway.row
        .col-md-3
            .title(l10n) Gateway
            .description(l10n) 
              | Bitstamp (~bitstamp)
              br
              a(href="https://www.bitstamp.net", target="_blank") www.bitstamp.net
        .col-md-3
            .title(l10n) Availability
            .description(l10n) All countries
        .col-md-3
            .title(l10n) Fees
            .description(l10n) Deposit/withdrawal and when transferring .2%&#32;
        .col-md-3
            .title(l10n) Rating
            .description(l10n)
              a(href="https://coinist.co/ripple/gateways/bitstamp", target="_blank") read reviews

      .row.fund-tab-description
        .col-xs-12.col-md-8.col-lg-6
          .descriptor(ng-show="!usd2Connected", l10n) Ripple Trade has partnered with Bitstamp to provide easier access to USD. Following this action will enable Bitstamp to hold USD on your behalf.

      .row.fund-tab-description
        .col-xs-7.col-sm-5.col-md-4
          button.btn.btn-large.btn-primary(ng-show="!usd2Connected && !usdLoading && loadState.account", type="submit", ng-click="save_usd_account()", ng-disabled="!account.Balance || !can_add_trust", l10n) Add Bitstamp
          button.btn.btn-large.btn-primary(ng-show="!usd2Connected && usdLoading", type="submit", ng-disabled="usdLoading", l10n) Adding...
          button.btn.btn-large.btn-primary(ng-show="showUsdInstructions && usd2Connected", type="submit", ng-click="toggle_usd_instructions()", l10n) Hide instructions
          button.btn.btn-large.btn-primary(ng-show="usd2Connected && !showUsdInstructions", type="submit", ng-click="toggle_usd_instructions()", l10n) Show instructions

        .connect.col-xs-5.col-sm-7.col-md-8(ng-hide="usdLoading")
          .description.fa.fa-times(ng-show="!usd2Connected && account.Balance", l10n) Not connected
          .description.fa.fa-check(ng-show="usd2Connected && account.Balance", l10n) Connected
          .description(ng-show="!account.Balance && loadState.account", l10n) Your account has to be activated before you can add a gateway account.
          .description(ng-show="!loadState.account")
            img(src="img/button-s.png", class="loader")
            span(class="loading_text", l10n) Loading...

      .row(ng-show="showUsdInstructions && usd2Connected")
        .instructions.col-md-10
          a.dismiss(href="", id="hide", ng-click="toggle_usd_instructions()", l10n)  ×
          .title(l10n) NEW CUSTOMERS- SIGN UP AT BITSTAMP
          .description(l10n) 
            | Register and verify your account at 
            a(href="https://www.bitstamp.net", target="_blank") www.bitstamp.net
            | . You will need:&#32;
            ul
              li
                p(l10n) A valid government-issued ID: driver's license, international passport, or national ID card.
              li
                p(l10n) A proof of residency: tax return, council tax, utility bill, bank statement, certificate of residency issued by a government authority, etc.

          .title(l10n) DEPOSIT OPTIONS
          .description(l10n)
            ul
              li
                p(l10n) International wire transfer (.05% deposit fee on our side (minimum fee = $7.5) and 2 - 5 business days to credit)
              li
                p(l10n) SEPA (All funds transferred in EUR will be converted to USD, free of charge. 1-3 business days)
              li
                p(l10n) AstroPay (instantly from available countries)
              li
                p(l10n) Bitcoin

          .title(l10n) WITHDRAWAL OPTIONS
          .description(l10n)
            ul
              li
                p(l10n) International wire transfer (.09% fee on our side (minimum fee = $15) and 2 - 5 business days)
              li
                p(l10n) SEPA (1-3 business days)
              li 
                p(l10n) Bitcoin
          .description If you have any questions, please feel free to contact Bitstamp at 
            a(href="support@bitstamp.net", target="_blank") support@bitstamp.net
      br
      .gateway.row
        .col-md-3
            .title(l10n) Gateway
            .description(l10n) 
              | Gatehub (~gatehub)
              br
              a(href="https://www.gatehub.net", target="_blank") www.gatehub.net
        .col-md-3
            .title(l10n) Availability
            .description(l10n) All countries
        .col-md-6
            .title(l10n) Fees
            .description(l10n) Deposit/withdrawal and when transferring .2%&#32;

      .row.fund-tab-description
        .col-xs-12.col-md-8.col-lg-6
          .descriptor(ng-show="!usd3Connected", l10n) Ripple Trade has partnered with Gatehub to provide easier access to USD. Following this action will enable Gatehub to hold USD on your behalf.

      .row.fund-tab-description
        .col-xs-7.col-sm-5.col-md-4
          button.btn.btn-large.btn-primary(ng-show="!usd3Connected && !usd3Loading && loadState.account", type="submit", ng-click="save_gatehub_account()", ng-disabled="!account.Balance || !can_add_trust", l10n) Add Gatehub
          button.btn.btn-large.btn-primary(ng-show="!usd3Connected && usd3Loading", type="submit", ng-disabled="usd3Loading", l10n) Adding...
          button.btn.btn-large.btn-primary(ng-show="showUsd3Instructions && usd3Connected", type="submit", ng-click="toggle_gatehub_instructions()", l10n) Hide instructions
          button.btn.btn-large.btn-primary(ng-show="usd3Connected && !showUsd3Instructions", type="submit", ng-click="toggle_gatehub_instructions()", l10n) Show instructions

        .connect.col-xs-5.col-sm-7.col-md-8(ng-hide="usd3Loading")
          .description.fa.fa-times(ng-show="!usd3Connected && account.Balance", l10n) Not connected
          .description.fa.fa-check(ng-show="usd3Connected && account.Balance", l10n) Connected
          .description(ng-show="!account.Balance && loadState.account", l10n) Your account has to be activated before you can add a gateway account.
          .description(ng-show="!loadState.account")
            img(src="img/button-s.png", class="loader")
            span(class="loading_text", l10n) Loading...

      .row(ng-show="showUsd3Instructions && usd3Connected")
        .instructions.col-md-10
          a.dismiss(href="", id="hide", ng-click="toggle_gatehub_instructions()", l10n)  ×
          .title(l10n) NEW CUSTOMERS- SIGN UP AT GATEHUB
          .description(l10n) 
            | Register and verify your account at 
            a(href="https://www.gatehub.net", target="_blank") www.gatehub.net
            | . You will need:&#32;
            ul
              li
                p(l10n) A valid government-issued ID: driver's license, international passport, or national ID card.
              li
                p(l10n) A proof of residency: tax return, council tax, utility bill, bank statement, certificate of residency issued by a government authority, etc.

          .title(l10n) DEPOSIT OPTIONS
          .description(l10n)
            ul
              li
                p(l10n) International wire transfer (.1% deposit fee on our side (minimum fee = $15); takes 2 - 5 business days to credit)
              li
                p(l10n) SEPA (free of charge. 1-3 business days)

          .title(l10n) WITHDRAWAL OPTIONS
          .description(l10n)
            ul
              li
                p(l10n) International wire transfer (.1% fee on our side (minimum fee = $15); takes 2 - 5 business days)
              li
                p(l10n) SEPA (1-3 business days)
          .description If you have any questions, please feel free to contact Gatehub at 
            a(href="support@gatehub.net", target="_blank") support@gatehub.net

