section.col-xs-12.content(ng-controller="LoginCtrl")

  .auth-attention.text-center(l10n)
    | You will not be able to login to the downloadable client using a username/password you create on Ripple Trade
    |  or the web version of the Ripple Client. You can only use a secret key to access an existing Ripple account.
    |  This is because the downloadable client stores your login information locally on your computer, so your account
    |  is as safe as the security of your personal computer.

  .row.auth-form-container.col-sm-offset-2.col-sm-8.col-md-offset-3.col-md-6
    .auth-form-wrapper
      form(name='loginForm', ng-submit='submitForm()')
        h2(l10n) Open account

        .form-group
          a.btn.btn-block.btn-link(href='#register', l10n) Create new account

        .form-group
          a.btn.btn-block.btn-default(ng-click='simulateFileInputClick("input[name=login_walletfile]")', l10n) Select account file {{walletfile}}

        .form-group.hide
          label(for='login_walletfile', l10n) Select account file
          input.form-control#login_walletfile(name='login_walletfile', type="file"
            ng-model='walletfile', required)
        .form-group
          label(for='login_password', l10n) Account password
          input.form-control#login_password(name='login_password', type='password'
            ng-model='password', required)
        .text-status(ng-show='status')
          span {{status}}
          br
          .backend(ng-repeat="message in backendMessages")
            b {{message.backend}} &#32;
            span {{message.message}}
        .submit-btn-container
          button.btn.btn-submit.btn-block.btn-success(type='submit', ng-disabled="loginForm.$invalid || ajax_loading", rp-spinner="{{ajax_loading ? 4 : null}}")
            span(l10n) Open account
