.form-group(ng-hide="twoFactor || 'verifying' === verifyStatus")
.breaker(ng-hide="twoFactor")
  label(for='login_username', l10n) Ripple name
  .input-group
    span.input-group-addon.ripple-addon ~
    input.form-control#login_username(name='login_username', type='text', ng-model='username', required,
    rp-focus-on-empty, rp-autofill='$routeParams.username')
.form-group(ng-hide="twoFactor || 'verifying' === verifyStatus")
  label(for='login_password', l10n) Password
  input.form-control#login_password(name='login_password', type='password', ng-model='password', required, rp-focus)
div.row.row-padding-small.twoFactor(ng-show="twoFactor")
  .form-group.col-xs-12
    span.status.verifyText(ng-show="twoFactor.via === 'sms'", l10n) Please enter the verification code from the SMS message sent to your device:
    span.status.verifyText(ng-show="twoFactor.via === 'app'", l10n) Please enter the verification code from the Authy app installed on your device:
    span.maskedPhone(ng-bind="maskedPhone")
    span
      button.btn.btn-cancel.btn-nomargin-xs(type="button", ng-click="requestToken()")
        span(ng-show="twoFactor.via === 'sms'", l10n) Resend
        span(ng-show="twoFactor.via === 'app'", l10n) Send Via SMS
  .label-wrapper.col-xs-12
    label(for='token', l10n) Verification Code
  .form-group.col-xs-12
    input.form-control(type='number', name='token', ng-model='token', rp-focus)
  .input-group.col-xs-12
    label
      input.rememberMe(name='rememberMe', type='checkbox', ng-model='rememberMe')
      span(for='rememberMe', l10n) Remember me on this device for 30 days
