.col-xs-12.col-sm-8
  .form-group.authy-control
    label(l10n) Country Code
    input.authy-countries.form-control(ng-model="countryCode")
  .form-group.authy-control
    label(l10n) Phone Number
    input.form-control(name="phoneNumber", ng-model="phoneNumber", ng-pattern='validation_pattern_phone')