div.auth-attention.banner(ng-show="showAnnouncement")
  h4#announcement(l10n)
    |	<strong>NOTICE:</strong> Ripple Trade encourages customer identification but it is optional until August 30, 2015. Existing users have through August 30, 2015 to verify their identity details in order to access Ripple Trade. We are pausing account sign-ups until further notice. For more information, please visit the
    a(href='https://ripple.com/knowledge_center/ripple-trade-launches-identity-verification', target="_blank", l10n-inc)  Knowledge Center.
    br
    br
    | リップルトレードでは、セキュリティー強化の為、本人確認を推奨致します(ただし、２０１５年８月３０日までは、必須ではありません)。 既存のユーザー様は、リップルトレードを引き続きご利用されるためには、８月３０日までに個人情報を登録していただきます。新規ユーザー様の登録は、現在行っておりません。今後の通知をお待ち下さい。詳細は 
    a(href='https://ripple.com/knowledge_center/ripple-trade-launches-identity-verification', target="_blank", l10n-inc)  ノレッジセンター
    |  に記載されております。
    br
    br
    | Ripple Trade 실명제 도입으로, 다음번 공지까지 신규회원가입이 일시중단됩니다. 기존회원님들께선 2015년 8월 30일까지 실명확인을 해주셔야 합니다. 자세한 내용은
    a(href='https://ripple.com/knowledge_center/ripple-trade-launches-identity-verification', target="_blank", l10n-inc)  지식센터
    |  에서 확인하여 주시기 바랍니다.
  //a.dismiss#hide(href="", ng-click="dismissBanner()")  ×
  br
