div.auth-attention.banner(ng-show="showAnnouncement")
  h4#announcement(l10n)
    |	<strong>NOTICE:</strong> Ripple Trade encourages customer identification but it is optional until October 30, 2015. Existing users have through October 30, 2015 to verify their identity details in order to access Ripple Trade. <strong>Users who have submitted required documents can still use Ripple Trade and access funds while we review your information.</strong> For more information, please visit the
    a(href='https://ripple.com/knowledge_center/ripple-trade-launches-identity-verification', target="_blank", l10n-inc)  Knowledge Center.
    br
    br
    | リップルトレードでは、セキュリティー強化の為、本人確認を推奨致します(ただし、２０１５年10月３０日までは、必須ではありません)。 既存のユーザー様は、リップルトレードを引き続きご利用されるためには、*10月３０日までに個人情報を登録していただきます。<strong>必要書類をご提出頂きました方は、こちらで本人書類確認をしている間も引き続きRipple Tradeをご利用頂けます。</strong> 詳細は
    a(href='https://ripple.com/knowledge_center/ripple-trade-launches-identity-verification', target="_blank", l10n-inc)  ノレッジセンター
    |  に記載されております。
    br
    br
    | Ripple Trade 실명제 도입으로. 기존회원님들께선 2015년 10월 30일까지 실명확인을 해주셔야 합니다. <strong>필요한 서류를 제출 한 사용자는 여전히 리플 무역 및 액세스 자금을 사용할 수 있습니다. 우리는 귀하의 정보를 검토 할 것.</strong> 자세한 내용은
    a(href='https://ripple.com/knowledge_center/ripple-trade-launches-identity-verification', target="_blank", l10n-inc)  지식센터
    |  에서 확인하여 주시기 바랍니다.
    br
    br
    | 尊敬的Ripple Trade用户，届时2015年10月30日起，所有用户将必须通过实名身份验证，否则将无法继续使用Ripple Trade账户。在我们审核您信息的同时，您仍可以使用<strong>Ripple Trade</strong>以及您的资金账户。
  //a.dismiss#hide(href="", ng-click="dismissBanner()")  ×
  br
