div.warning-attention.banner(ng-show="showAnnouncement")
  h4#announcement(l10n)
    |  <strong>NOTICE:</strong> 
    br
    |	Ripple Trade will suspend new account creation from June 3 through the end of June. You will still be able to access your existing Ripple Trade account, 
    | but will not be able to create a new account until we launch identity verification. For more information, please visit the 
    a(href='https://ripple.com/knowledge_center/ripple-trade-to-implement-identity-verification-procedures/', target="_blank", l10n-inc) Knowledge Center.
  //a.dismiss#hide(href="", ng-click="dismissBanner()")  ×
  br
