div.auth-attention.banner(ng-show="showAnnouncement")
  h4#announcement(l10n)
    | Ripple Trade is 
    a(href="https://forum.ripple.com/viewtopic.php?f=1&t=15818", target="_blank") discontinuing operations
    |  in early 2016. You can still buy, sell and trade on Ripple using 
    a(href="https://ripple.com/knowledge_center/wallet-providers/", target="_blank") other wallet
    |  providers. We will give you notice in advance of the Ripple Trade sunset date, but after we discontinue operations in early 2016, you will not be able
    |  to access your funds through Ripple Trade.
    br 
    br
    | We created an easy and secure way to migrate your Ripple Trade account to Gathub, an established wallet provider - click below to get started.
    br
    br
    br
    | リップルトレードは2016年前半に
    a(href="https://forum.ripple.com/viewtopic.php?f=1&t=15818", target="_blank") 運営を停止致します
    | 。
    a(href="https://ripple.com/knowledge_center/wallet-providers/", target="_blank") 他のウォレットプロバイダー
    | を通じて引き続きリップル上で資産の買い、売り、トレードをご継続いただけます。リップルトレードの完全閉鎖の前に事前にご連絡させていただきますが、2016年前半に運営を停止した後はリップルトレードを通じてお客様の資産へのアクセスが出来なくなります。
    br
    br
    | ゲートハブという確立したウォレットプロバイダーへの簡単で安全なマイグレーション方法をご用意させていただきました。下記リンクをご利用ください。
    br
    br
    br
    | Ripple Trade将于2016年初
    a(href="https://forum.ripple.com/viewtopic.php?f=1&t=15818", target="_blank") 停止运营
    | 。您仍可在Ripple通过
    a(href="https://ripple.com/knowledge_center/wallet-providers/", target="_blank") 其他钱包提供商
    | ，买、卖及进行交易。关于Ripple Trade的最终休业我们会提前通知各位用户。但在2016年初Ripple Trade停止运营后，您将无法通过Ripple Trade获取您的资金。
    br
    br
    | 我们建立了安全简单的方式可以将您的Ripple Trade账户迁移到GateHub。GateHub是一个成熟完善的钱包服务商。点击下方开始迁移。
    br
    br
    br
    | Ripple Trade 는 2016 년 초에 
    a(href="https://forum.ripple.com/viewtopic.php?f=1&t=15818", target="_blank") 운용을 중단합니다
    | . 귀하께서는 다른 
    a(href="https://ripple.com/knowledge_center/wallet-providers/", target="_blank") 지갑공급 서비스
    |  를 이용하여 Ripple 를 계속 사고 파는 거래를 할수가 있습니다. 저희회사는 Ripple Trade 의 마감일전에 여러분께 공지를 할것입니다만, 2016 년초 운용을 중단한이후에는, Ripple Trade 를 통한 귀하의 돈과 펀드에 접근은 불가능합니다.
    br
    br
    | 저희회사는 여러분의 Ripple Trade 계정 을 GateHub 이라는곳 (인정받은 지갑 공급 서비스) 에 이전하기위해 쉽고도 안전한 방법을 만들어놓았습니다-- 아래를 클릭하여 시작하세요
  //a.dismiss#hide(href="", ng-click="dismissBanner()")  ×
  br
