div.warning-attention.banner(ng-show="showAnnouncement")
  h4#announcement(l10n)
    |	<strong>NOTICE:</strong> Ripple Trade will be down for maintenance on June 30, 2015 from 10 to 11 am PST. We apologize for any inconvenience.
    br
    br
    | 平素より、リップルトレードをご利用いただき、誠にありがとうございます。日本時間で２０１５年７月１日午前２時から午前３時の間、メンテナンスのためサイトをご利用いただけません。ご不便をおかけしますがご理解ご協力の程お願い申し上げます。
    br
    br
    | Ripple Trade 서비스 점검이 2015년 7월 1일 (화) 오전 2시 부터 오전 3시까지 진행됩니다. 위의 점검 일정시간동안 서비스 이용이 불가하오니 확인하셔서 서비스 이용에 불편이 없으시기 바랍니다.
  //a.dismiss#hide(href="", ng-click="dismissBanner()")  ×
  br
