div.auth-attention.banner(ng-show="showAnnouncement")
  h4#announcement(l10n)
    |	<strong>NOTICE:</strong> Ripple Trade is down for maintenance. You will not be able to create a new account or log-in until maintenance is complete. We apologize for the inconvenience.
    br
    br
    | Ripple Tradeは現在メンテナンスをしております。新しいアカウント作成及びログインできるまでしばらくお時間をいただいております。
    | ご不便をおかけし申し訳ございませんが、今しばらくお待ち下さい。
    br
    br
    | Ripple Trade目前正在进行系统维修。在此期间，您将无法开设新账户或登录已有账户。对此造成的不便，我们深表歉意。
    br
    br
    | Ripple Trade는 현재 유지 보수를하고 있습니다. 새로운 계정 생성 및 로그인 할 때까지 잠시 시간을 받고 있습니다.
    | 불편을 끼쳐 드려 죄송하지만 잠시 기다려주십시오.
  //a.dismiss#hide(href="", ng-click="dismissBanner()")  ×
  br
