div.auth-attention.banner(ng-show="showAnnouncement")
  h4#announcement(l10n)
    | <strong>IDENTITY VERIFICATION REQUIRED:</strong> Ripple Trade requires customer identification. We must verify your identity information in order for you to access Ripple Trade. We appreciate your patience as we verify your information.
    br
    br
    | <strong>ご本人確認をお願い致します：</strong>リップルトレードではご本人確認が必須となっております。リップルトレードにアクセスいただく前に、弊社でお客様のご本人情報を確認する必要がございます。ご提出いただいた情報を確認させていただいている間、少々お待ちいただく事となりますが、ご理解、ご協力をお願い申し上げます。
    br
    br
    | <strong>신원확인 받습니다:</strong> 리플트레이드에서는 자금세탁방지 등을 위해 회원님들의 신원을 확인받습니다. 서비스 제공하기 위해 고객님들의 개인정보가 필요합니다. 여러분들의 협조와 기다려주심에 대단히 감사합니다.    
    br
    br
    | <strong>所有用户必须完成身份审核:</strong> Ripple Trade要求所有用户完成身份审核过程。您的身份必须完成审核才能够访问Ripple Trade。在你等待身份确认的时候我们感谢您的耐心等待。
  //a.dismiss#hide(href="", ng-click="dismissBanner()")  ×
  br
