div.warning-attention.banner(ng-show="showAnnouncement")
  h4#announcement(l10n)
    |	<strong>NOTICE:</strong> Ripple Trade sign-ups are suspended from June 3 until the end of June.
    |  You will still be able to access your existing Ripple Trade account,
    |  but will not be able to create a new account until we launch identity
    |  verification. For more information, please visit the
    a(href='https://ripple.com/knowledge_center/ripple-trade-to-implement-identity-verification-procedures/', target="_blank", l10n-inc)  Knowledge Center.
    br
    br
    | お知らせ：リップルトレードのユーザー登録は六月三日から六月の終わりまで一時中止させていただきます。その間、現在お持ちのリップル口座にアクセスできますが、弊社が新しい認証システムを導入するまで、新しい口座を開くことは出来ませんのでご了承下さい。さらに詳しい説明は
    a(href='https://ripple.com/knowledge_center/ripple-trade-to-implement-identity-verification-procedures/', target="_blank", l10n-inc)  ノレッジセンター
    |  に記載されていますので、お読み下さい。
    br
    br
    | Ripple Trade 신규 회원가입이 6월 3일부터 6월 말까지 임시 중단되었습니다. 기존 Ripple Trade 회원께서는 로그인이 가능하나, 신분검증 기능 출시 이전까지 신규 회원가입을 받지 않고 있습니다. 자세한 내용은
    a(href='https://ripple.com/knowledge_center/ripple-trade-to-implement-identity-verification-procedures/', target="_blank", l10n-inc)  지식센터
    |  사이트에서 확인하여 주시기 바랍니다.
  //a.dismiss#hide(href="", ng-click="dismissBanner()")  ×
  br
