div.warning-attention.banner(ng-show="showAnnouncement")
  h4#announcement(l10n)
    |	<strong>NOTICE:</strong> Ripple Trade will be down for maintenance on June 30, 2015 from 10 to 11 am PST. We apologize for any inconvenience.
    br
    br
    | 平素より、リップルトレードをご利用いただき、誠にありがとうございます。日本時間で２０１５年７月１日午前２時から午前３時の間、メンテナンスのためサイトをご利用いただけません。ご不便をおかけしますがご理解ご協力の程お願い申し上げます。
  //a.dismiss#hide(href="", ng-click="dismissBanner()")  ×
  br
