div.warning-attention.banner
  h4(l10n) 警告
  p(l10n) 資金を保護するために、リップルトレードジャパンへのリップリングを無効にすることをお勧めします。
    | 無効化するには
    a(href='#/advanced') 設定 &#62; 詳細
    | をクリックし、与信限度額の「Advanced Settings」が「表示」になっていることを確認して下さい。その後、
    a(href='#/trust') 資金 &#62; ゲイトウェイ
    | ページで、リップルトレードジャパン(rMAz5ZnK73nyNUL4foAvaxdreczCkG3vA6)との Rippling がオフになっていることをご確認下さい。