div.auth-attention.banner(ng-show="showTerms")
  h4#announcement(l10n)
    |	<strong>NOTICE:</strong> You are now a registered customer of Ripple Trade. We would like all customers of Ripple Trade to be aware and understand the following disclosures prior to conducting any transactions across the Ripple network:
    br 
    br
    | a) Virtual Currency is not legal tender, is not backed by the government, and accounts and value balances are not subject to FDIC or SIPC protections.
    br
    br
    | b) Legislative and regulatory changes or actions at the state, federal, or international level may adversely affect the use, transfer, exchange, and value of Virtual Currency.
    br
    br
    | c) Transactions in Virtual Currency are generally irreversible, and, accordingly, losses due to fraudulent or accidental transactions may not be recoverable.
    br
    br
    | d) All Virtual Currency transactions issued on Ripple Trade shall be deemed to be made when recorded on the public ledger, which is posted seconds after you initiate the transaction.
    br
    br
    | e) The value of Virtual Currency is derived from the continued willingness of market participants to exchange Fiat Currency for Virtual Currency, which may result in the potential for permanent and total loss of value for a particular Virtual Currency should the market for that Virtual Currency disappear.
    br
    br
    | f) There is no assurance that a person who accepts a Virtual Currency as payment today will continue to do so in the future.
    br
    br
    | g) The volatility and unpredictability of the price of Virtual Currency relative to Fiat Currency may result in significant loss or tax liability over a short period of time.
    br
    br
    | h) The nature of Virtual Currency may lead to an increased risk of fraud or cyber-attack.
    br
    br
    | i) The nature of Virtual Currency means that any technological difficulties experienced by Ripple Labs may prevent the access or use of your Virtual Currency holdings.
    br
    br
    | j) Any bond or trust account for the benefit of customers may not be sufficient to cover any and all losses incurred by customers.
    br
    br
    | k) As a customer of Ripple Trade, you are liable for any unauthorized Virtual Currency transactions
    br
    br
    | l) You have the right to stop payment of a preauthorized Virtual Currency transfer and the procedure to initiate such a stop-payment order. 
    br
    br
    | m) Ripple Trade LLC is liable to you, as a customer of Ripple Trade, under any applicable local, state, or federal law, rule, or regulation.
    br
    br
    | n) Ripple Trade LLC will not disclose information regarding a customer’s account to third parties without explicit customer consent.
    br
    br
    | o) You have the right to download statements of your Ripple Trade account activity at any time. This information is provided 24/7/365 on each user’s Ripple Trade history page.
    br
    br
    | p) You have the right to receive a receipt, trade ticket, or other evidence of a transaction (the History page of Ripple Trade).
    br
    br
    | q) You have the right to prior notice of a change in Ripple Trade’s rules or policies.
  a.dismiss#hide(href="", ng-click="dismissBanner()")  ×
  br
