div.auth-attention.banner(ng-show="showAnnouncement")
  h4#announcement(l10n)
    | We have revised the 
    a(href='https://rippletrade.com/#/tou', target="_blank", l10n-inc)  Terms of Use 
    |  for Ripple Trade. These changes generally describe the required identity verification process and clarify our ability to make changes to Ripple Trade, as may be necessary. For more information, please visit the 
    a(href='https://ripple.com/knowledge_center/ripple-trade-launches-identity-verification/', target="_blank", l10n-inc)  Knowledge Center
    | . If you have questions, please contact 
    a(href="mailto:support@ripple.com") support@ripple.com
    | .
    br
    br    
    | リップルトレードの
    a(href='https://rippletrade.com/#/tou', target="_blank", l10n-inc) ご利用規約
    | を変更致します。今回の変更は、ご本人確認プロセスの説明、及び弊社が必要に応じてリップルトレードを変更する権限を有する事を解説する内容となっております。詳しくは、
    a(href='https://ripple.com/knowledge_center/ripple-trade-launches-identity-verification/', target="_blank", l10n-inc) Knowledge Center
    | をご参照ください。ご質問などございましたら、
    a(href="mailto:support@ripple.com") support@ripple.com
    | までご連絡ください。
    br
    br
    | 리플에서는 리플트레이드
    a(href='https://rippletrade.com/#/tou', target="_blank", l10n-inc)  이용약관
    | 을 개정하였습니다. 변경 내용은 리플트레이드 를 지속적으로 사용하시기 위해서는 실명확인을 요구하는 약관입니다.  더 자세한 내용은
    a(href='https://ripple.com/knowledge_center/ripple-trade-launches-identity-verification/', target="_blank", l10n-inc)  Knowledge Center
    |  (지식창고) 를 방문하시고, 질문이 있으시면 
    a(href="mailto:support@ripple.com")  support@ripple.com 
    |  으로 연락바랍니다
    br
    br
    | 我们已经修订Rippletrade 的
    a(href='https://rippletrade.com/#/tou', target="_blank", l10n-inc) 使用条款
    | 。新修订内容包括必须完成Ripple Trade 的身份审核过程才能使用Ripple Trade和Ripple Trade保留任何时候更改使用条款的权利。如要了解更多信息，请访问知识中心。如果您有任何疑问，请联系
    a(href="mailto:support@ripple.com") support@ripple.com
    | 。
  //a.dismiss#hide(href="", ng-click="dismissBanner()")  ×
  br
