div.auth-attention.banner
  h4(l10n) Welcome to Ripple Trade! Your account needs to be activated. You can activate it in 2 ways:
  ul
    li(l10n) Have another user send XRP to your Ripple name (~{{userCredentials.username}}).&#32
      a(href="https://ripple.com/knowledge_center/activating-your-wallet/", target="_blank") Suggestions for getting XRP.&#32
    li(l10n)
      a(href="#/btc") Deposit BTC (only the btc2ripple option works for activating accounts).
