.settingPage
  a(href="#/security", ng-class="{active: $route.current.tabName == 'security'}", l10n) Security
  a(href="#/advanced", ng-class="{active: $route.current.tabName == 'advanced'}", l10n) Advanced