div.auth-attention.banner(ng-show="showAnnouncement")
  h5(l10n) Looking for the old 'Trust' page? It's now called the 'Gateways' page, located in the Fund tab.
  a.dismiss(href="", ng-click="dismissBanner()", l10n)  hide