div.auth-attention.banner(ng-show="showAnnouncement")
  h4(id="announcement", l10n)
    | New!&#32;
    a(href="#/usd", l10n-inc) Deposit USD, instantly
    | . This feature US-only and limited to certain banks.
  a.dismiss(href="", id="hide", ng-click="dismissBanner()")  ×
  br
