div.auth-attention.banner(ng-show="showAnnouncement")
  h4#announcement(l10n)
    |  Help our team improve Ripple Trade!&#32
    a(href='https://docs.google.com/a/ripple.com/forms/d/1_P0JPl1QOFQ_UMmkpxPFHNXsJTQdDb9yBsqr0RMt85Y/viewform', target="_blank", l10n-inc) Take a quick user survey.
  a.dismiss#hide(href="", ng-click="dismissBanner()")  ×
  br
