div.auth-attention.banner
  h4(l10n) Welcome to Ripple Trade! To activate your account, you'll need at least 20 XRP.
  ul
    li(l10n) Have another user send XRP to your Ripple name (~{{userCredentials.username}})
    li(l10n)
      | Use the
      a(href="#/fund/btc") bitcoin funding flow
      | . A small amount of your first deposit will be used to activate your account.