.settingPage
  a(href="#/security", ng-class="{active: $route.current.tabName == 'security'}", l10n) Security
  a(href="#/settingstrade", ng-class="{active: $route.current.tabName == 'settingstrade'}", l10n) Trade
  a(href="#/advanced", ng-class="{active: $route.current.tabName == 'advanced'}", l10n) Network and servers
  a(href="#/settingsgateway", ng-class="{active: $route.current.tabName == 'settingsgateway'}", l10n) Gateways and trust lines
  //- a(href="#/notifications", ng-class="{active: $route.current.tabName == 'notifications'}", l10n) Notifications
