.btn {
  font-family: 'OpenSansLight';
}

.btn.btn-lg.btn-submit {
  font-size: 16px;
  line-height: 24px;
}

.btn:disabled {
  background: #ccc;
  border-color: darken(#ccc,10);
}

.btn.btn-toggle {
  width: 15%;
  margin: 10px;
}
