@currencyFont: Consolas, "Bitstream Vera Sans Mono", "Andale Mono", Monaco, "DejaVu Sans Mono", "Lucida Console", monospace;

// Temporary
@media (max-width: @screen-xs-max) {
  .t-login, .t-register, .t-migrate {
    header {
      display: none;
    }
  }
}

body {
  color: @black;
}

nav + .content {
  .border-radius(5px,5px,0,0);

  @media (min-width: @screen-sm-max) {
    -webkit-box-shadow: -3px 0px 5px 0px rgba(0, 0, 0, 0.1);
    box-shadow: -3px 0px 5px 0px rgba(0, 0, 0, 0.1);
  }
}

h1 {
  height: 100px;
  background: @midblue;
  text-align: center;
  font: 26px 'OpenSansLight';
  font-weight: 300;
  line-height: 100px;
  color: @white;
  margin-top: 0;
}

.order-warning {
  color: @midred;
}

.connectModal {
  .grey-focus {
    background-color: @lightgray;
    margin: 0.9em 1.6em;
    padding: 0.9em 1.5em;
    border: 1px solid @midgray;
  }

  .modal-logo {
    margin: -.7em -.9em -.6em -.9em;
  }

  .modal-header {
    border: 1px solid transparent;
    border-top-left-radius: @border-radius-base;
    border-top-right-radius: @border-radius-base;
    background-color: @midblue;
    color: @white;
    font-weight: 900;
    font: bold 1.5em 'OpenSansLight';
  }

  .modal-title {
    font-size: 0.8em;
    margin: 0 1.5em 0 1.7em;
  }

  .modal-prompt {
    font-size: .8em;
    margin: -0.7em 3em 0 3.9em;
  }

  .modal-permissions {
    font-size: .7em;
    margin: 0.5em 0;
  }

  .modal-body {
    font: 1.3em 'OpenSansLight';
    margin: 0 -2.45em 0 -2.40em;
    border: 0;
  }

  .modal-email {
    font-family: 'OpenSansBold';
    margin: .4em 0 1.2em 0;
  }

  .modal-agreement {
    font: 0.6em 'OpenSansLight';
    color: @darkgray;
    margin: 1em 4em 1.5em 5.6em;
  }

  .modal-error {
    font: 0.6em 'OpenSansLight';
    color: @midred;
    margin: 0 0 0 5.6em;
  }

  .modal-buttons {
    margin: 0 0 0 3em;
  }

  .modal-btn {
    margin: 0.5em 0.5em;
    padding: 0.7em 5em;
  }
}

.content {
  padding-top: @grid-gutter-width/2;
  padding-bottom: @grid-gutter-width/2;
  .rounded(5px);
  min-height: 500px;
  z-index: 10;


  @media (max-width: @screen-xs-max) {
    .rounded(0);
    min-height: auto;
  }

  &.single {
    margin-left: 15px;
    margin-right: 15px;

    @media (min-width: @screen-sm-max) {
      margin: 20px 50px;
    }
  }

  h2 {
    font: 34px 'OpenSansLight';
    margin: 0 0 30px;
  }

  h3 {
    font: 24px 'OpenSansLight';
    margin: 0 0 20px;
  }

  hr {
    border: 0;
    height: 1px;
    background-color: @midgray;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  group {
    display: block;
  }

  p.literal {
    font: 16px 'OpenSansRegular';

    strong {
      font-family: 'OpenSansBold';
      font-weight: normal;
    }

    &.spinner {
      position: relative;
      padding-left: 25px;

      .spinnerInner {
        left: -15px !important;
        top: 11px !important;
      }
    }
  }

  p.hint {
    font-size: 1em;
    margin-top: 0;
  }

  p.lit-small {
    font-size: 14px;
  }

  .throbber {
    min-height: 24px;
    background-image: url(../../img/throbber.gif);
    background-repeat: no-repeat;
    padding-left: 24px + 10px;
  }

  span.address {
    font-weight: bold;
  }

  // Transaction status
  //
  // This class is used to show the color-coded messages after submitting a
  // transaction on various pages.
  h2.tx-status {
    background-color: @lightyellow;
    font: 12px 'OpenSansRegular';
    font-weight: normal;
    padding: 15px;
    .transition-duration(0.2s);
    .border-radius(5px,5px,5px,5px);
  }

  .result-success h2.tx-status {
    background-color: @lightgreen;
    color: @darkgreen;
  }

  .result-error h2.tx-status,
  .result-malformed h2.tx-status,
  .result-failed h2.tx-status {
    background-color: @lightred;
    color: @midred;
  }

  // Tabs
  ul.filter-tabs {
    .clearfix;
    list-style-type: none;left: 8px;
    top: 11px;
    font: 18px 'OpenSansRegular';
    margin-bottom: 15px;
    padding-bottom: 10px;
    margin-top: 20px;

    li {
      float: left;
      display: block;

      > a {
        display: block;
        position: relative;
        color: @black;
        line-height: 30px;
        padding-left: 8px;
        padding-right: 16px;
        .transition-duration(0.2s);
        cursor: pointer;

        margin-left: 6px;
        margin-right: 16px;

        /* Alternative Hanging indent
        margin-left: -8px;
        margin-right: 30px;
        /**/

        &:hover {
          text-decoration: none;
        }

        &:after {
          .virtualel;
          height: 100%;
          width: 6px;
          position: absolute;
          top: 0;
          left: -6px;
        }

        // Default color, override this for different colored tabs
        &.active, &:hover, &:after {
          background-color: @midgray;
        }
      }
    }
  }
}

.spinner {
  position: relative;
  padding-left: 25px;

  .spinnerInner {
    left: -15px !important;
    top: 11px !important;
  }
}

// Tooltip
.tooltip {
  opacity: 1 !important;

  .tooltip-inner {
    background: @white;
    border: 1px solid @lightgray;
    .border-radius(3px,3px,3px,3px);
    color: @darkgray;
    padding: 8px 15px;
  }

  &.top > .tooltip-arrow {
    border-top-color: @lightgray;
  }

}

// Popover
.popover {
  width: 400px;
  padding: 0;

  h3 {
    margin: 0;
    font: 16px OpenSansRegular;
  }

  &.bottom .arrow:after {
    border-bottom-color: @lightgray;
  }

  .popover-content {
    font-size: 14px;
    line-height: 20px;

    strong {
      font-weight: normal;
      font-family: OpenSansBold;
    }
  }
}

// Pagination
.pagination li {
  cursor: pointer;

  & > .active {
    cursor: default;
  }
}

.insig {
  color: @darkgray;
}
a.danger {
  color: @midred;
}
.capitalize {
  text-transform: capitalize;
}
.help-icon {
  cursor: pointer;
}

[rp-popup-content] {
  display: none;
}
.modal [rp-popup-content] {
  display: block;
}

.languageSelector {
  .list{
    a {
      display: block;
      padding: 10px;
      .border-radius(5px,5px,5px,5px);
    }
    a:hover {
      background: @midblue;
      color: @white;
      text-decoration: none;
    }
  }
}

.why {
  font-size: 11px;
}

.ripple-addon {
  font-size: 18px;
}

.auth-attention {
  margin-bottom: 20px;
  font-size: 13px;
  background: @lightblue;
  color: @darkblue;
  border: 1px solid @midgray;
  padding: 15px ;
  .rounded(5px);

  span {
    font-family: OpenSansBold;
  }
}

.blank {
  visibility: hidden;
}

rp-pie-chart {
  text {
    font-family: OpenSansLight, sans-serif;
    pointer-events: none;
  }
  
  text.percentage {
    fill: @darkgray;
    font-size: 12px;
  }

  .main {
    opacity: 1;
  }

  .sub {
    opacity: 0;
  }
  
  .hole {
    fill: @white;
    stroke: @white;
  }

  * {
    -webkit-transition: opacity 0.17s;
    -moz-transition   : opacity 0.17s;
    -o-transition     : opacity 0.17s;
    transition        : opacity 0.17s;
  }
  
  
  .main.xrp {
    fill: @color-xrp;
    stroke: @color-xrp;
  }
  .sub.xrp {
    fill: darken(@color-xrp, 20%);
    stroke: darken(@color-xrp, 20%);
  }
  
  .main.usd {
    fill: @color-usd;
    stroke: @color-usd;
  }
  .sub.usd {
    &:nth-of-type(odd) {
      fill: darken(@color-usd, 20%);
      stroke: darken(@color-usd, 20%);
    }
    &:nth-of-type(even) {
      fill: lighten(@color-usd, 20%);
      stroke: lighten(@color-usd, 20%);
    }
  }
  
  .main.btc {
    fill: @color-btc;
    stroke: @color-btc;
  }
  .sub.btc {
    &:nth-of-type(odd) {
      fill: darken(@color-btc, 20%);
      stroke: darken(@color-btc, 20%);
    }
    &:nth-of-type(even) {
      fill: lighten(@color-btc, 20%);
      stroke: lighten(@color-btc, 20%);
    }
  }
  
  .main.eur {
    fill: @color-eur;
    stroke: @color-eur;
  }
  .sub.eur {
    &:nth-of-type(odd) {
      fill: darken(@color-eur, 20%);
      stroke: darken(@color-eur, 20%);
    }
    &:nth-of-type(even) {
      fill: lighten(@color-eur, 20%);
      stroke: lighten(@color-eur, 20%);
    }
  }
  
  .main.cny {
    fill: @color-cny;
    stroke: @color-cny;
  }
  .sub.cny {
    &:nth-of-type(odd) {
      fill: darken(@color-cny, 20%);
      stroke: darken(@color-cny, 20%);
    }
    &:nth-of-type(even) {
      fill: lighten(@color-cny, 20%);
      stroke: lighten(@color-cny, 20%);
    }
  }
  
  .main.jpy {
    fill: @color-jpy;
    stroke: @color-jpy;
  }
  .sub.jpy {
    &:nth-of-type(odd) {
      fill: darken(@color-jpy, 20%);
      stroke: darken(@color-jpy, 20%);
    }
    &:nth-of-type(even) {
      fill: lighten(@color-jpy, 20%);
      stroke: lighten(@color-jpy, 20%);
    }
  }
  
  .main.cad {
    fill: @color-cad;
    stroke: @color-cad;
  }
  .sub.cad {
    &:nth-of-type(odd) {
      fill: darken(@color-cad, 20%);
      stroke: darken(@color-cad, 20%);
    }
    &:nth-of-type(even) {
      fill: lighten(@color-cad, 20%);
      stroke: lighten(@color-cad, 20%);
    }
  }
  
  
  .main.generic1 {
    fill: @color-generic1;
    stroke: @color-generic1;
  }
  .sub.generic1 {
    &:nth-of-type(odd) {
      fill: darken(@color-generic1, 20%);
      stroke: darken(@color-generic1, 20%);
    }
    &:nth-of-type(even) {
      fill: lighten(@color-generic1, 20%);
      stroke: lighten(@color-generic1, 20%);
    }
  }
  
  .main.generic2 {
    fill: @color-generic2;
    stroke: @color-generic2;
  }
  .sub.generic2 {
    &:nth-of-type(odd) {
      fill: darken(@color-generic2, 20%);
      stroke: darken(@color-generic2, 20%);
    }
    &:nth-of-type(even) {
      fill: lighten(@color-generic2, 20%);
      stroke: lighten(@color-generic2, 20%);
    }
  }
  
  
  .main.other {
    fill: @color-other;
    stroke: @color-other;
  }
  .sub.other {
    fill: darken(@color-other, 20%);
    stroke: darken(@color-other, 20%);
  }
}