body {
  color: #333;
}

.content {
  h1 {
    font: 35px 'OpenSansLight';
    text-align: center;
    margin: 0;
    border-bottom: 1px solid #ccc;
    padding-bottom: 20px;
    margin-bottom: 30px;
  }

  hr {
    border: 0;
    height: 1px;
    background-color: #ccc;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  p {
  }

  label, p.label {
    font: 18px 'OpenSansRegular';
    color: #777;
  }

  p.literal {
    font: 16px 'OpenSansRegular';
  }

  p.hint {
    font-size: 1em;
    margin-top: 0;
  }

  p.lit-small {
    font-size: 14px;
  }

  .throbber {
    height: 24px;
    background-image: url(../../img/throbber.gif);
    background-repeat: no-repeat;
    padding-left: 24px + 10px;
  }

  table {
    width: 100%;
    border-spacing: 0;
    th {
      font: 16px 'OpenSansRegular';
      font-weight: normal;
      padding: 20px 5px 10px;
      border-bottom: 2px solid #cbcbcb;
      text-align: left;
    }

    td {
      padding: 15px 5px;
      vertical-align: middle;
    }
  }
}