// Overlay, currently unused

// The corresponding markup should be:
// <div id="modal" class="content"></div>
//   <div class="log info"><p class="literal">Transmitting send...</p></div>
// </div>

#modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 30;
  padding-top: 115px;

  &:after {
    .virtualel;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: 0.2;
  }

  &:empty:after {
    opacity: 0;
  }

  .log {
    position: relative;
    background-color: #fff;
    z-index: 20;
    .box-shadow(0 0 8px #999);

    > p {
      border-left: 20px solid #eee;
      padding: 20px 40px;
      // Same width as container
      width: @siteWidth - 100px;
      margin: 0 auto;
    }

    &.success > p {
      border-left: 20px solid @successBackground;
    }

    &.error > p {
      border-left: 20px solid @errorBackground;
    }

    &.warning > p {
      border-left: 20px solid @warningBackground;
    }

    &.info > p {
      border-left: 20px solid @infoBackground;
    }
  }
}