@pmSingleMargin: 60px;
@pmPanelLeftMargin: 40px;
@pmPanelRightMargin: 10px;

html.pm-single {
  header nav {
    display: none;
  }

  header {
  }

  #status {
    display: none;
  }
}

.single {
  padding: 20px 0;
  > h2, > p, > div, > form, > hr,
  group > h2, group > .action, group > p, group > div, group > form, group > hr {
    margin-left: @pmSingleMargin;
    margin-right: @pmSingleMargin;
  }

  > h1,
  group > h1 {
    padding-left: @pmSingleMargin;
    padding-right: @pmSingleMargin;
  }
}

.panel {
  > table, group > table {
    caption, td:first-child, th:first-child {
      padding-left: @pmPanelLeftMargin;
    }
    td:last-child, th:last-child {
      padding-right: @pmPanelRightMargin;
    }
  }
  > p, > div, > form, > hr, > h3,
  group > p, group > div, group > form, group > hr, group > h3 {
    padding-left: @pmPanelLeftMargin;
  }
}