#main #t-register form, #main #t-login form {
  margin-top: 25px;
  margin-bottom: 25px;

  #register_username,
  #register_password {
    width: 355px;
  }

  .errorBox {
    overflow: hidden;
    padding: 10px 0;
  }
  .errorBox .text-error {
    float: left;
  }

  .text-error {
    margin-top: -10px;
    color: #b94a48;
  }

  .horiz {
    > div {
      float: left;
      margin-right: 20px;
    }

    &:after {
      .virtualel;
      clear: both;
    }
  }

  .btn {
    margin: 12px 12px 12px 0;
    float: left;
  }

  .storageinfo strong {
    color: #000;
  }

  .storageinfo a {
    font-size: 0.7em;
  }

  .submitsection {
    .makeRow();
    button {
      .makeColumn(3);
    }
    p {
      .makeColumn(6);
      font-size: 20px;
      float: left;
      padding-left: 10px;
      padding-top: 10px;
      margin: 0;
    }
  }

  .throw {
    clear: both;
  }
}

#main #t-login form .submitsection p {
  font-size: 13px;
}

#t-overview {
  table.events {
    .date {
      width: 25%;
    }
    .desc {
      width: 75%;
    }

    tr.trusted, tr.received {
      background-color: #e4efd9;
    }

    tr.sent, tr.trusting {
      background-color: #D9EDF7;
    }
  }
}

html.t-overview header nav ul > li.active#nav-account > a:after {
  border-bottom-color: #fff;
}

#t-contacts {
  table {
    .table-striped;

    tr {
      position: relative;
    }

    .editMode {
      td {
        vertical-align: top;
      }
    }

    .send {
      margin-right: 10px;
    }

    .command, .action {
    }

    .action {
      text-align: center;
    }
  }
}

#t-overview {
  .total {
    margin-top: 25px;
    padding-bottom: 25px;
    border-bottom: 1px solid #f2f2f2;

    .swatch {
      float: left;
      width: 10px;
      height: 35px;
      background-color: #BDE4C0;
      margin-right: 8px;
    }
    .balance {
      float: left;
      font: 36px 'OpenSansLight';
      line-height: 35px;
    }

    .config {
      float: left;
      padding: 3px 0 0 25px;
      margin: 0;
    }

    .clearfix();
  }

  .currency-summary {
    .balancebox {
      width: 245px;
    }

    .label {
      margin-top: 15px;
      font: 20px 'OpenSansRegular';
      border: 1px solid #c9c9c9;
      border-bottom: 0;
      color: #333;
      padding: 2px 5px;
    }

    .balance {
      text-align: center;
      font: 36px 'OpenSansLight';
      border: 1px solid #f7f7f7;
      border-top: 0;
      color: #666;
      padding: 20px;
    }

    &.positive .label {
      background-color: #72CE9B;
    }
  }
}

#t-history {
  ul {
    .clearfix;
    list-style-type: none;
    font: 18px 'OpenSansRegular';
    border-bottom: 1px solid #333;
    margin-bottom: 0;
    padding-bottom: 10px;
    margin-top: 20px;

    li {
      float: left;
      display: block;

      > a {
        display: block;
        position: relative;
        color: #333;
        line-height: 30px;
        padding-left: 8px;
        padding-right: 16px;
        .transition-duration(0.2s);

        margin-left: 6px;
        margin-right: 16px;

        /* Alternative Hanging indent
        margin-left: -8px;
        margin-right: 30px;
        /**/

        &:hover {
          text-decoration: none;
        }

        &:after {
          .virtualel;
          height: 100%;
          width: 6px;
          position: absolute;
          top: 0;
          left: -6px;
        }
      }
    }
  }

  ul li.all > a.active,
  ul li.all > a:hover,
  ul li.all > a:after {
    background-color: #ddd;
  }

  ul li.received > a.active,
  ul li.received > a:hover,
  ul li.received > a:after,
  tr.received {
    background-color: #e4efd9;
  }

  ul li.sent > a.active,
  ul li.sent > a:hover,
  ul li.sent > a:after,
  tr.sent {
    background-color: #ecdfde;
  }

  ul li.other > a.active,
  ul li.other > a:hover,
  ul li.other > a:after,
  tr.other {
    background-color: #fbf8e4;
  }

  table th {
    padding-top: 10px;
  }

  td.date {
    //font-size: 0.9em;
  }

  table .date {
    width: 20%;
  }

  table .counterparty {
    width: 40%;
  }

  table .amount {
    width: 18%;
  }

  table td.amount, table td.balance {
    text-align: right;
    .currency {
      float: right;
      padding-left: 5px;
      //color: #999;
      opacity: 0.5;
      font-weight: bold;
      font-family: mono;
    }
  }

  table .balance {
    width: 19%;
  }
}

#t-send {
  #send_destination {
    .input-xxlarge;
  }
  #send_nickname {
    .input-xlarge;
  }
  #send_amount_currency {
    .input-large;
  }
  .submitsection {
    .makeRow();
    button.back {
      .makeColumn(1.5);
    }
    button.submit {
      .makeColumn(3);
    }
  }

  .mode-sent {
    h1 {
      padding: 10px 60px;
      font-size: 30px;
      border-bottom: none;
      text-align: left;
      font-weight: bold;
      font: 34px 'OpenSansLight';
      .transition-duration(0.2s);
    }
    .result-success h1 {
      background-color: #8DC86A;
    }
    .result-error h1 {
      background-color: #DC4D38;
    }
    .address {
      font-size: 25px;
      font: 34px 'OpenSansLight';
      margin: 0 0 30px;
    }
    p {
      margin: 0 60px 40px;
      font-size: 16px;
    }
    .actionLink {
      margin: 10px 60px;
      font-size: 16px;
    }
    #saveAddressForm {
      display: none;
      input {
        width: 300px;
      }
      .btn {
        width: 150px;
        margin: 0 20px 0 0;
      }
      hr {
        margin: 15px 0 0 0;
      }
    }
  }

  .mode-confirm {
    .amount_feedback, .dest_feedback {
      font-size: 26px;
      margin: 0;
      padding: 20px @pmSingleMargin;
      background-color: #f4f4f4;

      .extra {
        font-size: 18px;
        color: #999;
        margin-top: 0.5em;
      }
    }

    .amount_feedback {
      font: 34px 'OpenSansLight';

      .currency {
        font-size: 20px;
      }
    }
  }
}

#t-receive {
  .address {
    margin: 0;
    padding: 20px @pmSingleMargin;
    margin-bottom: 20px;
    > input {
      font-size: 30px;
      border: 0;
      background-color: transparent;
      width: @gridRowWidth - @pmSingleMargin * 2;
    }
  }
  .btn {
    .input-medium;
  }
}

#t-info {
  td{
    padding: 10px 5px 0;
  }
  .section td {
    padding: 25px 5px 0;
    font: 16px 'OpenSansRegular';
  }
  .wallet {
    font-size: 12px;
  }
  .smallText {
    font-size: 10px;
    margin: 0 0 0 5px;
  }
  .infoBox {
    width: 680px;
    margin: auto;
    border-radius: 5px;
    border: 1px solid #bebebe;
    padding: 0 20px 20px;
  }
  div {
    word-wrap: break-word;
    width: 680px;
  }
  .value {
    font-size: 20px;
  }
}

#t-trade {
  .action-window {
    margin: 15px 15px 25px 30px;
    padding: 0;
    border-radius: 5px;
    border: 1px solid #CCCCCC;

    .info {
      padding: 0 25px 8px;
      border-bottom: 1px solid #CCCCCC;
      margin: 10px 0 30px;

      li {
        display: inline-block;
        width: 140px;
        font-size: 12px;

        .label {
          color: #7A7A7A;
          margin: 0 5px 0 0;
        }
        .value {
          font-weight: bold;
        }
        .icon {
          margin: 0 0 0 3px;
        }
        .up {
          color: green;
        }
        .down {
          color: red;
        }
      }
    }

    .mode-form {
      margin: 10px 30px;

      .currencies {
        height: 100px;

        label {
          display: inline-block;
        }

        .currency-field {
          display: inline-block;
          width: 300px;

          label {
            line-height: 30px;
            width: 50px;
          }
          .error {
            width: 300px;
            margin: 0 0 0 50px;
          }
          input {
            margin: 0;
          }
        }
        .sell {
          float: left;
        }
      }
      .order-values {
        overflow: hidden;

        .value-field {
          width: 202px;
          float: left;

          input {
            width: 180px;
          }
        }
        .sign {
          width: 30px;
          text-align: center;
          margin: 40px 0 0 0;
          float: left;
        }
      }
      .message {
        color: green;
      }
      .submitsection {
        margin: 20px 0 30px 0;
      }
    }

    .mode-confirm {
      text-align: center;

      .amount_feedback {
        font-size: 20px;

        .value {
          margin: 0 5px 0 0;
        }
      }

      .dest_feedback {
        font-size: 20px;

        .value {
          margin: 0 5px 0 0;
        }
      }

      .submitsection {
        button {
          margin: 0 5px;
        }
      }
    }
  }

  .open-orders-title {
    font-size: 20px;
    margin: 0;
    padding: 0 0 10px 50px;
    text-align: left;
  }
  .open-orders {
    margin: 0 0 30px;

    th {
      border: 0;
      text-align: center;
      font-weight: bold;
      font-size: 14px;
    }
    td {
      text-align: center;
      font-size: 14px;
    }
  }
}