section.col-xs-12.content(ng-controller="AccountCtrl")
  .row(ng-show='connected')
    div(ng-show="'web' === client && !loadingAccount && !account.Balance && loadState.account && connected")
      include banner/unfunded
    .col-sm-3
      include account/navbar

    .col-sm-9.list
      div(ng-show="'web' === client")
        .showPublic(ng-show="$routeParams.route == 'public'")
          include account/public
        .showPublic(ng-show="$routeParams.route == 'private'", ng-controller="KycCtrl")
          include account/private


