section.col-xs-12.content(ng-controller="AccountCtrl")
  div(ng-show='debug') This page is not available in debug mode

  .row(ng-show='!debug')
    div(ng-show="!loadingAccount && !account.Balance && loadState.account && connected")
      include banner/unfunded
    .col-sm-3
      include account/navbar

    .col-sm-9.list
      div
        .showPublic(ng-show="$routeParams.route == 'public'")
          include account/public
        //- .showPublic(ng-show="$routeParams.route == 'private'", ng-controller="KycCtrl")
        //-   include account/private


