section#t-advanced
  nav
    ul
      li.active: a(href="#trade") Trade
      li: a(href="#order-book") Order Book
      li: a(href="#ledger") Ledger
      li: a(href="#feed") Feed
      li: a(href="#peers") Peers
      li: a(href="#unl") UNL
      