section#t-advanced
  nav
    ul
      li.active: a(href="#trust") Trust
      li: a(href="#trade") Trade
      li: a(href="#options") Options
      li: a(href="#feed") Feed
//      li: a(href="#peers") Peers
//      li: a(href="#unl") UNL
      