section.col-xs-12.content(ng-controller="BalanceCtrl")
  //- Disconnected

  group.disconnected(ng-hide="connected")
    p.literal(l10n) You have to be online to see this screen

  group.disconnected(ng-hide="!connected || loadState.account")
    p.literal(l10n) Loading...

  //- Connected

  group(ng-show="connected && loadState.account")
    .div#welcome(ng-hide='account.Balance')
      p.title(l10n) Welcome to Ripple.
      p(l10n) You currently don&#39;t have any ripples (XRP). To get started you can:
      .actions
        a.receive(href="#receive")
        a.buy(href="https://support.ripplelabs.com/hc/en-us/articles/201209016")
        a.giveaway(href="https://support.ripplelabs.com/hc/en-us/articles/201082577-Current-Ripple-Labs-giveaways")

    .row
      .currency-summary.col-xs-12.col-sm-8(ng-show='account.Balance')
        .balancebox.currency-xrp
          .total.row
            .lbl.col-xs-8
              i.icon-ripple-logo
              | XRP - Ripple
            .balance.col-xs-4
              div(rp-tooltip="{{account.Balance | rpamount:{rel_precision: 2, max_sig_digits: 20} }}") {{account.Balance | rpamount:{rel_precision: 2} }}
              div(class="secondary", ng-show="false") (reserve: {{ account.reserve | rpamount }} XRP)
        .balancebox.currency-non-native(ng-repeat="entry in balances", ng-hide="entry.total.is_zero()", ng-class="'currency-' + (entry.total | rpcurrency | lowercase)")
          .total.row
            .lbl.col-xs-8
              i(class="icon fa fa-money", ng-class="'fa-' + (entry.total | rpcurrency | lowercase)")
              | {{entry.total | rpcurrencyfull}}
            .balance.col-xs-4
              span(rp-tooltip="{{entry.total | rpamount}}") {{entry.total | rpamount:{rel_precision: 0} }}
          .component.row(ng-repeat="(issuer, component) in entry.components")
            .lbl.col-xs-8(rp-pretty-issuer="issuer"
                        rp-pretty-issuer-contacts="userBlob.data.contacts"
                        rp-pretty-issuer-or-short)
            .balance.col-xs-4
              | {{component | rpamount:{rel_precision: 0} }}
      .address-info.col-xs-12.col-sm-4
        h4 My Address
        p.literal(ng-bind="address")
        .qr.hidden-xs#qr-code