section.col-xs-12.content(ng-controller="BalanceCtrl")
  //- Disconnected

  group.disconnected(ng-hide="connected")
    p.literal(l10n) You have to be online to see this screen

  group.disconnected(ng-hide="!connected || loadState.account")
    p.literal(l10n) Loading...

  //- Connected

  group(ng-show="connected && loadState.account")
    .div#welcome(ng-hide='account.Balance')
      
      p.title(l10n) Welcome to Ripple.
      //p(l10n) You currently don&#39;t have any ripples (XRP). To get started you can:
      //.actions
      //  a.receive(href="#receive")
      //  a.buy(href="https://support.ripplelabs.com/hc/en-us/articles/201209016")
      //  a.giveaway(href="https://support.ripplelabs.com/hc/en-us/articles/201082577-Current-Ripple-Labs-giveaways")

    .row
      .col-xs-12.col-xs-8
        .currency-overview
          .balancebox.col-sm-4
            .lbl Total Balance
              .desc Estimated from exchange rates
            .total.amount 0.
              span.fraction 0000
              select.currency
                option(selected=true) XRP
                option USD
                option BTC
                option CNY
            .pending
              .lbl Pending
              .transactions
                .amount 1.
                  span.fraction 0000
                  span.currency BTC
          .funding-options.col-sm-8(ng-hide='account.Balance') 
            .btc-to-ripple
              .inactive(ng-show='true = true')
                div(l10n) Use the btc2ripple service to add bitcoin
                button.btn.btn-default.btn-primary.btn-block Add Bitcoin
                a.manual(l10n) Manually add a funding source
              .pending(ng-show='') 
                div(l10n) To deposit, send BTC to the address below.
                div(l10n) It will take about 1 hour.
                .btc-address 13PDtZSa5LiYp1Ysn1vMuMzB59RzV3W9QH
                img.qr-code(src="")
                .about(l10n) A small amount (~.001 BTC) of your first 
                  | transfer will be converted to XRP to activate your wallet. 
                  a.why(l10n-inc) Why?
                .limit(l10n)
                  span(l10n-inc) Your current deposit limit is:
                  span.amount 8.78
                    span.currency BTC
                  a.remove(l10n-inc) Remove Limit        
        .currency-summary(ng-show='account.Balance')
          .balancebox.currency-xrp
            .total.row
              .lbl.col-xs-8
                i.icon-ripple-logo
                | XRP - Ripple
              .balance.col-xs-4
                | {{ account.Balance | rpamount:{rel_precision: 2, max_sig_digits: 20} }}
            .component.row
              .lbl.col-xs-8 Available
              .balance.col-xs-4 {{account.max_spend | rpamount:{rel_precision: 0} }}
            .component.row
              .lbl.col-xs-8 Reserve
              .balance.col-xs-4 {{ account.reserve | rpamount }}
          //- TODO Determine currencies order
          .balancebox.currency-non-native(ng-repeat="entry in balances", ng-hide="entry.total.is_zero()", ng-class="'currency-' + (entry.total | rpcurrency | lowercase)")
            .total.row
              .lbl.col-xs-8
                a(href="", ng-click="entry.show=!entry.show")
                  i(class="icon fa fa-money", ng-class="'fa-' + (entry.total | rpcurrency | lowercase)")
                  | {{ entry.total | rpcurrencyfull }}
              .balance.col-xs-4
                a(href="", ng-click="entry.show=!entry.show") {{ entry.total | rpamount }}
            //- TODO Remember selections
            .component.row(ng-repeat="(issuer, component) in entry.components", ng-show="entry.show")
              .lbl.col-xs-8(rp-pretty-issuer="issuer"
              rp-pretty-issuer-contacts="userBlob.data.contacts")
              .balance.col-xs-4 {{ component | rpamount:{rel_precision: 0} }}
                a(href="#/fund") Add