section.panel.content
  .div#welcome(ng-hide='account.Balance')
    p.title Welcome to Ripple.
    p You currently don't have any ripples (XRP). To get started you can:
    .actions
      span.bitcoin
      a.receive(href="#receive")
      span.nexus
  .currency-summary.positive(ng-show='account.Balance')
    .balancebox
      .label Ripples
      .balance
        span(rp-tooltip="{{account.Balance | rpamount:10}}") {{account.Balance | rpamount}}
    .balancebox(ng-repeat="entry in balances", ng-hide="entry.total.is_zero()")
      .label {{entry.total | rpcurrencyfull}}
      .balance
        span(rp-tooltip="{{entry.total | rpamount:10}}") {{entry.total | rpamount}}

  table.table.events
    caption Notifications
    thead
      tr
        th.date Date
        th.desc Event
    tbody
      tr(ng-repeat="entry in events", ng-class="entry.type", ng-switch on="entry.type")
        td.date {{entry.date | rpfromnow}}
        td.desc(ng-switch-when="sent") You sent 
          span.address(title="{{entry.counterparty}}") {{entry.counterparty | rpcontactname}}
          strong  {{entry.amount | rpamount}} {{entry.amount | rpcurrency}}
          a.add(ng-hide="entry.counterparty | rponlycontactname", href="#contact?to={{entry.counterparty}}", class="btn sign small") +
        td.desc(ng-switch-when="received")
          span.address(title="{{entry.counterparty}}") {{entry.counterparty | rpcontactname}}
          |  sent you
          strong  {{entry.amount | rpamount}} {{entry.amount | rpcurrency}}
          a.add(ng-hide="entry.counterparty | rponlycontactname", href="#contact?to={{entry.counterparty}}", class="btn sign small") +
        td.desc(ng-switch-when="trusted")
          span.address(title="{{entry.counterparty}}") {{entry.counterparty | rpcontactname}}
          |  now trusts you for
          strong  {{entry.amount | rpamount}} {{entry.amount | rpcurrency}}
          a.add(ng-hide="entry.counterparty | rponlycontactname", href="#contact?to={{entry.counterparty}}", class="btn sign small") +
        td.desc(ng-switch-when="trusting") You now trust 
          span.address(title="{{entry.counterparty}}") {{entry.counterparty | rpcontactname}}
          |  for 
          strong  {{entry.amount | rpamount}} {{entry.amount | rpcurrency}}
          a.add(ng-hide="entry.counterparty | rponlycontactname", href="#contact?to={{entry.counterparty}}", class="btn sign small") +
        td.desc(ng-switch-when="offernew") You created an offer accepting 
          strong {{entry.pays | rpamount}} {{entry.pays | rpcurrency}}
          |  for 
          strong {{entry.gets | rpamount}} {{entry.gets | rpcurrency}}
        td.desc(ng-switch-when="offercancel") You canceled an offer accepting 
          strong {{entry.pays | rpamount}} {{entry.pays | rpcurrency}}
          |  for 
          strong {{entry.gets | rpamount}} {{entry.gets | rpcurrency}}
        td.desc(ng-switch-default)
          | Something happened