include ../menu/wallet.jade
section.panel.content(ng-controller="BalanceCtrl")

  //- Disconnected

  group.disconnected(ng-hide="connected")
    p.literal You have to be online to see this screen

  group.disconnected(ng-hide="!connected || loadState.account")
    p.literal Loading...

  //- Connected

  group(ng-show="connected && loadState.account")
    .div#welcome(ng-hide='account.Balance')
      p.title Welcome to Ripple.
      p You currently don&#39;t have any ripples (XRP). To get started you can:
      .actions
        a.receive(href="#receive")
        a.nexus(href="http://www.xrpga.org/ripple-giveaways.html", target="_blank")
    .currency-summary.positive(ng-show='account.Balance')
      .balancebox
        .label XRP - Ripple
        .balance.xrp
          span(rp-tooltip="{{account.Balance | rpamount}}") {{account.Balance | rpamount:{rel_precision: 0} }}
          span(class="secondary") (reserve: {{ account.reserve | rpamount }} XRP)
      .balancebox(ng-repeat="entry in balances", ng-hide="entry.total.is_zero()")
        .label {{entry.total | rpcurrencyfull}}
        .balance
          span(rp-tooltip="{{entry.total | rpamount}}") {{entry.total | rpamount:{rel_precision: 0} }}

    table.table.events(ng-show="account.Balance")
      caption Activity
      thead
        //- Loading screen
        tr(ng-show="tx_load_status == 'loading' && transactions.length")
          td(colspan=2) Loading activity...

        //- Entries
        tr(ng-show="transactions.length")
          th.date Date
          th.desc Event
      tbody(ng-class="{passive: loading}")
        tr(
          ng-repeat="entry in transactions"
          ng-class="entry.transaction.type"
          rp-link-tx="entry.hash"
          )
          td.date {{entry.date | rpfromnow}}
          td.desc(ng-switch on="entry.transaction.type")
            .transaction(ng-switch-when="sent") You sent&nbsp;
              span.address(title="{{entry.transaction.counterparty}}") {{entry.transaction.counterparty | rpcontactname}}
              strong  {{entry.transaction.amount | rpamount}} {{entry.transaction.amount | rpcurrency}}
              a.add(ng-hide="entry.transaction.counterparty | rponlycontactname", href="#/contact?to={{entry.transaction.counterparty}}", class="btn sign small", rp-no-propagate) +
              include balance/effects
            .transaction(ng-switch-when="received")
              span.address(title="{{entry.transaction.counterparty}}") {{entry.transaction.counterparty | rpcontactname}}
              |  sent you
              strong  {{entry.transaction.amount | rpamount}} {{entry.transaction.amount | rpcurrency}}
              a.add(ng-hide="entry.transaction.counterparty | rponlycontactname", href="#/contact?to={{entry.transaction.counterparty}}", class="btn sign small", rp-no-propagate) +
              include balance/effects
            .transaction(ng-switch-when="trusted")
              span.address(title="{{entry.transaction.counterparty}}") {{entry.transaction.counterparty | rpcontactname}}
              |  now trusts you for
              strong  {{entry.transaction.amount | rpamount}} {{entry.transaction.amount | rpcurrency}}
              a.add(ng-hide="entry.transaction.counterparty | rponlycontactname", href="#/contact?to={{entry.transaction.counterparty}}", class="btn sign small", rp-no-propagate) +
              include balance/effects
            .transaction(ng-switch-when="trusting") You now trust&nbsp;
              span.address(title="{{entry.transaction.counterparty}}") {{entry.transaction.counterparty | rpcontactname}}
              |  for&nbsp;
              strong {{entry.transaction.amount | rpamount}} {{entry.transaction.amount | rpcurrency}}
              a.add(ng-hide="entry.transaction.counterparty | rponlycontactname", href="#/contact?to={{entry.transaction.counterparty}}", class="btn sign small", rp-no-propagate) +
              include balance/effects
            .transaction(ng-switch-when="offernew") You created an offer accepting&nbsp;
              strong {{entry.transaction.pays | rpamount}} {{entry.transaction.pays | rpcurrency}}
              |  for&nbsp;
              strong {{entry.transaction.gets | rpamount}} {{entry.transaction.gets | rpcurrency}}
              include balance/effects
            .transaction(ng-switch-when="offercancel") You cancelled an offer accepting&nbsp;
              strong {{entry.transaction.pays | rpamount}} {{entry.transaction.pays | rpcurrency}}
              |  for&nbsp;
              strong {{entry.transaction.gets | rpamount}} {{entry.transaction.gets | rpcurrency}}
              include balance/effects
            .transaction(ng-switch-when="accountset") Account details have been changed
            .transaction(ng-switch-default)
              include balance/effects

      tfoot
        tr
          td(colspan=2)
            a(href="", ng-click="loadMore()", ng-show="!tx_load_status && has_more") Load more
            span(ng-show="tx_load_status == 'loading'")  Loading...
            span(ng-show="tx_load_status == 'error'")  Error
            span(ng-show="!transactions.length && !tx_load_status")  No past transactions found