include ../menu/wallet.jade
section.panel.content(ng-controller="BalanceCtrl")
  .div#welcome(ng-hide='account.Balance')
    p.title Welcome to Ripple.
    p You currently don't have any ripples (XRP). To get started you can:
    .actions
      a.bitcoin(href="https://bitcointalk.org/index.php?topic=145506", target="_blank")
      a.receive(href="#receive")
      span.nexus
  .currency-summary.positive(ng-show='account.Balance')
    .balancebox
      .label Ripples
      .balance
        span(rp-tooltip="{{account.Balance | rpamount}}") {{account.Balance | rpamount:{rel_precision: 0} }}
    .balancebox(ng-repeat="entry in balances", ng-hide="entry.total.is_zero()")
      .label {{entry.total | rpcurrencyfull}}
      .balance
        span(rp-tooltip="{{entry.total | rpamount}}") {{entry.total | rpamount:{rel_precision: 0} }}

  table.table.events
    caption Notifications
    thead
      tr
        th.date Date
        th.desc Event
    tbody
      tr(
        ng-repeat="entry in transactions"
        ng-class="entry.type"
        ng-switch on="entry.type"
        rp-link-tx="entry.hash"
        )
        td.date {{entry.date | rpfromnow}}
        td.desc(ng-switch-when="sent") You sent&nbsp;
          span.address(title="{{entry.counterparty}}") {{entry.counterparty | rpcontactname}}
          strong  {{entry.amount | rpamount}} {{entry.amount | rpcurrency}}
          a.add(ng-hide="entry.counterparty | rponlycontactname", href="#/contact?to={{entry.counterparty}}", class="btn sign small", rp-no-propagate) +
        td.desc(ng-switch-when="received")
          span.address(title="{{entry.counterparty}}") {{entry.counterparty | rpcontactname}}
          |  sent you
          strong  {{entry.amount | rpamount}} {{entry.amount | rpcurrency}}
          a.add(ng-hide="entry.counterparty | rponlycontactname", href="#/contact?to={{entry.counterparty}}", class="btn sign small", rp-no-propagate) +
        td.desc(ng-switch-when="trusted")
          span.address(title="{{entry.counterparty}}") {{entry.counterparty | rpcontactname}}
          |  now trusts you for
          strong  {{entry.amount | rpamount}} {{entry.amount | rpcurrency}}
          a.add(ng-hide="entry.counterparty | rponlycontactname", href="#/contact?to={{entry.counterparty}}", class="btn sign small", rp-no-propagate) +
        td.desc(ng-switch-when="trusting") You now trust&nbsp;
          span.address(title="{{entry.counterparty}}") {{entry.counterparty | rpcontactname}}
          |  for&nbsp;
          strong {{entry.amount | rpamount}} {{entry.amount | rpcurrency}}
          a.add(ng-hide="entry.counterparty | rponlycontactname", href="#/contact?to={{entry.counterparty}}", class="btn sign small", rp-no-propagate) +
        td.desc(ng-switch-when="offernew") You created an offer accepting&nbsp;
          strong {{entry.pays | rpamount}} {{entry.pays | rpcurrency}}
          |  for&nbsp;
          strong {{entry.gets | rpamount}} {{entry.gets | rpcurrency}}
        td.desc(ng-switch-when="offerfunded") You sold&nbsp;
          strong {{entry.offer.pays | rpamount}} {{entry.offer.pays | rpcurrency}}
          |  for&nbsp;
          strong {{entry.offer.gets | rpamount}} {{entry.offer.gets | rpcurrency}}.
          span.note This order has been funded.
        td.desc(ng-switch-when="offerpartiallyfunded") You sold&nbsp;
          strong {{entry.pays | rpamount}} {{entry.pays | rpcurrency}}
          |  for&nbsp;
          strong {{entry.gets | rpamount}} {{entry.gets | rpcurrency}}.
          span.note This order has {{entry.offer.pays | rpamount}} {{entry.offer.pays | rpcurrency}} remaining.
        td.desc(ng-switch-when="offercancel") You canceled an offer accepting&nbsp;
          strong {{entry.pays | rpamount}} {{entry.pays | rpcurrency}}
          |  for&nbsp;
          strong {{entry.gets | rpamount}} {{entry.gets | rpcurrency}}
        td.desc(ng-switch-default)
          | Something happened
    tfoot
      tr
        td(colspan=2, class="pagination")
          ul
            li(ng-repeat="i in [1,pages_count] | rprange",ng-class="{active: current_page==i}")
              a(ng-click="goToPage(i)", ng-hide="current_page==i") {{i}}
              span(ng-show="current_page==i") {{i}}