include ../menu/wallet.jade
section.col-xs-12.col-md-10.content(ng-controller="CashinCtrl")

  //- Disconnected

  group.disconnected(ng-hide="connected")
    p.literal(l10n) You have to be online to see this screen

  group.disconnected(ng-hide="!connected || loadState.account")
    p.literal(l10n) Loading...

  .unfunded(ng-show='loadState.account && !account.Balance')
    p.literal(l10n="err-you-must-be-funded-before-you-can-convert-money", l10n) You have to be funded before you can use this tab.
    p: a.btn.btn-default(href="#/balance", l10n) Back to balance

  //- Connected
