section.panel.content(ng-controller="ContactsCtrl")
  table.table
    thead
      tr
        th Name
        th.account Address
        th.save
        th.command
        th.action
          a.btn.btn-success.sign(ng-click='toggle_form()')
            span(ng-hide='addform_visible') +
            span(ng-show='addform_visible') -
    tbody
      tr(ng-show='addform_visible')
        td(colspan=5)
          form(name="addForm")
            label(for='Name') Name
            .name
              input#name(name='name', type='text', step='any', ng-model='name', unique, required)
            .error(ng-show='addForm.name.$error.unique') You already have a contact with the same name.
            label(for='Address') Address
            .address
              input#address(name='address', type='text', step='any', ng-model='address', address, unique, required)
            .error(ng-show='addForm.address.$error.address') Not a valid address.
            .error(ng-show='addForm.address.$error.unique') You already have a contact with the same address.
            div.submitsection
              button.btn.btn-info(type='submit', ng-click='add()', ng-disabled='addForm.$invalid') Add contact
      tr(ng-repeat="entry in addressbook", animate)
        td
          inline-edit(model='entry.name', mode='entry.isEditMode', unique)
          .error(ng-show='editForm.name.$error.unique') You already have a contact with the same name.
        td: inline-edit(model='entry.address', mode='entry.isEditMode')
        td.save
          button.save.btn.btn-success.btn-small(ng-show='entry.isEditMode', ng-click='update($index)') Save
        td.command
          button.delete.btn.btn-danger.btn-small(ng-show='entry.isEditMode', ng-click='remove($index)') Delete
          button.send.btn.btn-success.btn-small(ng-hide='entry.isEditMode') Send
        td.action
          a(ng-click='edit($index)', ng-hide='entry.isEditMode') edit
          a(ng-click='cancel($index)', ng-show='entry.isEditMode') cancel