section.panel.content(ng-controller="ContactsCtrl")
  table.table
    thead
      tr
        th.name Name
        th.account Address
        th.command
          a.btn.btn-success.sign(ng-click='toggle_form()')
            span(ng-hide='addform_visible') +
            span(ng-show='addform_visible') −
    tbody
      tr(ng-show='addform_visible')
        td(colspan=5)
          form(name="addForm")
            label(for='Name') Name
            input.name#contact_address(name='name', type='text', step='any', ng-model='name', rp-unique='userBlob.data.contacts', rp-unique-field='name', required)
            .error(ng-show='addForm.name.$error.rpUnique') You already have a contact with the same name.
            label(for='Address') Address
            input.address#contact_address(name='address', type='text', step='any', ng-model='address', rp-address, rp-unique='userBlob.data.contacts', rp-unique-field='address', required)
            .error(ng-show='addForm.address.$error.rpAddress') Not a valid address.
            .error(ng-show='addForm.address.$error.rpUnique') You already have a contact with the same address.
            div.submitsection
              button.btn.btn-info(type='submit', ng-click='create()', ng-disabled='addForm.$invalid') Add contact
      tr(ng-repeat="entry in userBlob.data.contacts", ng-class="{editing: editing}", ng-controller="ContactRowCtrl", rp-animate="enable_highlight")
        td.name
          div(ng-show='editing')
            ng-form(name='inlineName')
              input(name='editname', ng-model='editname', class="inline", rp-unique='userBlob.data.contacts', rp-unique-field='name', rp-unique-orig='entry.name')
              .error(ng-show='inlineName.editname.$error.rpUnique') You already have a contact with the same name.
          span(ng-hide='editing') {{entry.name}}
        td.account(ng-show='editing')
          ng-form(name='inlineAddress')
            input(name='editaddress', ng-model='editaddress', class="inline", rp-unique='userBlob.data.contacts', rp-unique-field='address', rp-unique-orig='entry.address', rp-address)
            .error(ng-show='inlineAddress.editaddress.$error.rpUnique') You already have this address.
            .error(ng-show='inlineAddress.editaddress.$error.rpAddress') Not a valid address.
        td.account(ng-hide='editing')
          {{entry.address}}
        td.command
          button.save.btn.btn-success.btn-small(ng-show='editing', ng-click='update($index)') Save
          button.delete.btn.btn-danger.btn-small(ng-show='editing', ng-click='remove($index)') Delete
          button.send.btn.btn-success.btn-small(ng-hide='editing', ng-click='send($index)') Send
          button.edit.btn.btn-success.btn-small(ng-click='edit($index)', ng-hide='editing') Edit
          button.cancel.btn.btn-info.btn-small(ng-click='cancel($index)', ng-show='editing') Cancel