section.col-xs-12.content(ng-controller='DepositCtrl')

  //- Disconnected

  group.disconnected(ng-hide='connected')
    p.literal(l10n="err-you-must-be-online-to-see-this-screen", l10n)
      | You have to be online to see this screen

  //- Funding
  div(ng-show="'web' === client && !loadingAccount && !account.Balance && loadState.account && connected")
    include banner/unfunded

  .row(ng-show='connected')
    .col-sm-3
      'HELLO'