section.content(ng-controller="EulaCtrl")
  h1 Ripple Trade End-User License Agreement
  hr
  p Welcome to the Ripple software client <strong>Ripple Trade</strong>
    | provided by Ripple Labs, Inc. (“we” or “us”).  Ripple Trade is a version of the open source
    | Ripple software client that allows users to access the decentralized Ripple transaction protocol
    | payment network ("Ripple Protocol").  Source code for Ripple Trade and related software is available
    | free of charge under open source software license agreements at <a href="https://github.com/ripple">https://github.com/ripple</a>  We hope
    | you find Ripple Trade to be useful as a tool to access and use the Ripple Protocol.
  p Please read this End User License Agreement <strong>EULA</strong> carefully as it explains your and
    | our respective rights and responsibilities associated with your access to, and use of, Ripple Trade.
  p 1. <strong>RIPPLE PROTOCOL</strong>. You understand that Ripple Trade allows you to interact directly
    | with the Ripple Protocol to create a Ripple Protocol wallet (“Ripple Wallet”), initiate payments
    | postings to the Ripple Protocol as well as view transaction histories and balances available via the
    | Ripple Protocol.  You understand that Ripple Trade itself does not process payments, or hold
    | transaction histories and balances and is merely a tool for initiating actions that occur within the
    | Ripple Protocol and viewing the record of those actions.  You understand that actual payments are
    | processed via the Ripple Protocol, not Ripple Trade, and that resulting balances shown in Ripple
    | Trade are (i) actually held by third parties or (ii) in the case of XRP, held through a chain of
    | custody documented on the Ripple Protocol public ledger (“The Ledger”).  You acknowledge and agree
    | that we have no control, responsibility or authority over such third parties.  Ripple Trade merely
    | interoperates with such entities via the Ripple Protocol.  For more information about the Ripple
    | Protocol, including Ripple Protocol transaction fees, please visit the <a href="https://ripple.com/wiki/">Ripple Wiki</a>.  You further
    | acknowledge and agree that transactions you initiate within the Ripple Protocol will be available to
    | the public on the Internet via The Ledger.  Ripple Trade allows you to view the public payments data
    | posted for Ripple Wallets – including your own Ripple Wallet.  Once data is shared to the Ripple
    | Protocol, neither Ripple Trade nor any third party may selectively censor or blacklist access to, and
    | subsequent use of, such data.
  p 2. <strong>THIRD-PARTY SERVICES</strong>. You may be able to access and use third-party content and
    | services displayed via Ripple Trade, such as gateway services (“Third-Party Services”), including
    | Third-Party Services that interact directly with the Ripple Protocol.  When using any Third-Party
    | Services, you are interacting directly with such services, not us, and you agree to comply with any
    | terms and conditions applicable to such services.  Ripple Trade may display or otherwise highlight
    | certain Third-Party Services for your convenience, but we do not endorse any Third-Party Services.
    | You are solely responsible for your use of any Third-Party Services.  We are not a party to, make no
    | representations or warranties as to, and have no responsibility or liability with respect to any of
    | your communications, transactions, interactions, disputes or any relations whatsoever between you and
    | any third party providing the Third-Party Services, including any fees that may be charged to you in
    | connection with your use of any Third-Party Services.
  p 3. <strong>RIPPLE WALLET DATA</strong>. Your Ripple Wallet, including any private and confidential data
    | accessible therein, is protected from unauthorized access and use by others via a secret key and
    | password held by you and not Ripple Trade.  Ripple Trade cannot assist you in recovering your secret
    | key and password.  It is your sole responsibility to keep your secret key and password protected from
    | unauthorized discovery.  Ripple Trade is not responsible for the consequences of another party
    | accessing and using your Ripple Wallet data because it is your sole responsibility to keep you secret
    | key and password from being accessed and used by unauthorized third parties.
  p 4. <strong>BLOCKING</strong>. You understand and agree that we may block excessive or abusive use of
    | Ripple Trade from a particular IP address at any point in time and for any length of time, in our
    | sole discretion.  Even if we block access to Ripple Trade, you may still access your Ripple Wallet
    | via other Ripple client software.
  p 5. <strong>ACCEPTABLE USE</strong>. You agree not use Ripple Trade to violate any applicable law,
    | contract, or third-party right or to engage in any transaction involving illegal products or
    | services.  You further agree not to:
  p - Use Ripple Trade in any manner that could interfere with, disrupt, negatively affect or inhibit
    | other users from fully enjoying Ripple Trade, or that could damage, disable, overburden or impair
    | the functioning of Ripple Trade in any manner;
  p - Attempt to circumvent any security techniques we employ, or attempt to access any service or area
    | of Ripple Trade that you are not authorized to access;
  p - Introduce to Ripple Trade any virus, trojan worms, logic bombs or other harmful material; and
  p - Encourage or induce any third party to engage in any of the activities prohibited under this Section.
  p 6. <strong>COPYRIGHT COMPLAINTS</strong>. If you believe anything on Ripple Trade infringes upon any
    | copyright which you own or control, you may file a notification of such infringement with our
    | Designated Agent as set forth below.
  p Name of Designated Agent: Anna See
  p Full Address of Designated Agent: 118 2nd St, Floor 2, San Francisco, CA 94104-3503
  p Telephone Number of Designated Agent: 415.967.1836
  p E-Mail Address of Designated Agent: anna@ripple.com
  p 7. <strong>DISCLAIMER</strong>. MANY JURISDICTIONS HAVE LAWS PROTECTING CONSUMERS AND OTHER CONTRACT
    | PARTIES, LIMITING THEIR ABILITY TO WAIVE CERTAIN RIGHTS AND RESPONSIBILITIES. WE RESPECT SUCH LAWS;
    | NOTHING HEREIN IS INTENDED TO WAIVE RIGHTS OR RESPONSIBILITIES THAT CANNOT BE WAIVED.
  p To the extent permitted by applicable law, (a) we make no promises as to Ripple Trade, its
    | completeness, accuracy, availability, timeliness, propriety, security or reliability; (b) your
    | access and use are at your own risk, and Ripple Trade is provided “AS IS” and “AS AVAILABLE”; and
    | (c) WE, OUR SUBSIDIARIES AND AFFILIATES, AND OUR AND THEIR OFFICERS, DIRECTORS, EMPLOYEES
    | (“RIPPLE LAB ENTITIES”), DISCLAIM ALL WARRANTIES & CONDITIONS, EXPRESS OR IMPLIED, INCLUDING, BUT
    | NOT LIMITED, TO THE IMPLIED WARRANTIES OF MERCHANTABILITY, FITNESS FOR PARTICULAR PURPOSE, OR
    | NON-INFRINGEMENT.
  p 8. <strong>LIMITATION ON LIABILITY</strong>.
  p (A) TO THE MAXIMUM EXTENT PERMITTED BY APPLICABLE LAW, IN NO EVENT WILL THE RIPPLE LAB ENTITIES BE
    | LIABLE FOR ANY INDIRECT, INCIDENTAL, SPECIAL, CONSEQUENTIAL OR PUNITIVE DAMAGES, OR ANY LOSS
    | (E.G. OF PROFIT, REVENUE, DATA, OR GOODWILL).  Some jurisdictions do not allow the limitation or
    | exclusion of liability for incidental or consequential damages, so some of the limitations of this
    | section may not apply to you.
  p (B) TO THE MAXIMUM EXTENT PERMITTED BY APPLICABLE LAW, IN NO EVENT WILL THE AGGREGATE LIABILITY OF
    | THE RIPPLE LAB ENTITIES, WHETHER IN CONTRACT, WARRANTY, TORT (INCLUDING NEGLIGENCE, WHETHER ACTIVE,
    | PASSIVE OR IMPUTED), PRODUCT LIABILITY, STRICT LIABILITY OR OTHER THEORY, ARISING OUT OF OR RELATING
    | TO THE USE OF, OR INABILITY TO USE RIPPLE TRADE OR TO THIS EULA EXCEED $100 U.S. DOLLARS.
  p 9. <strong>DISPUTES; INDEMNITY</strong>.  You agree (a) that any claim, cause of action and dispute
    | (“Claim”) arising out of or related to this EULA or your Ripple Trade use is governed by California
    | law regardless of your location or any conflict or choice of law principle; (b) that any Claim must
    | be resolved exclusively by state or federal court in San Francisco, California (except we may seek
    | injunctive remedy anywhere); (c) to submit to personal jurisdiction of said courts; (d) any Claim
    | filed later than 1 year after the facts giving rise to such Claim occurred are hereby waived and shall
    | be forever barred; and (e) (except government agencies) to defend, indemnify and hold harmless each
    | and all of the Ripple Lab Entities for any damage, loss, and expense (including, but not limited to,
    | attorneys’ fees) arising from any Claim related to this EULA or your Ripple Trade use.
  p 10. <strong>OTHER TERMS</strong>. This EULA contains the entire agreement, and supersedes all prior
    | and contemporaneous understandings between the parties regarding Ripple Trade.  This EULA do not alter
    | the terms or conditions of any other agreement you may have with us for any other product or service
    | or otherwise.  In the event of any conflict between this EULA and any other agreement you may have with
    | us, the terms of that other agreement will control only if this EULA is specifically identified and
    | declared to be overridden by such other agreement.  Our failure or delay in exercising any right, power
    | or privilege under this EULA will not operate as a waiver thereof.  The invalidity or unenforceability
    | of any term in this EULA will not affect the validity or enforceability of any other term of this EULA,
    | all of which will remain in full force and effect.
