section.content(ng-controller="FeedCtrl")
  table.spaceTable
    tr
      td Ledger 
        input#FeedLedgerCheckbox(type="checkbox", ng-model="ledgerCheck")
      td Transactions 
        input#FeedTransactionsCheckbox(type="checkbox", ng-click='toggle_feed_transactions()', ng-model="transCheck") 
      td Server 
        input#FeedServerCheckbox(type="checkbox", ng-click='toggle_feed_server()', ng-model="serverCheck") 
      td: button.btn.btn-danger.btn-sm(ng-click='clear_feed()') Clear Feed
  table.table
    thead
      tr
        th.date Date
        th.type Type
        th.msg Message
    tbody
      tr(ng-repeat="entry in feed", class="{{entry.type}}")
        td.date {{entry.date}}
        td.type {{entry.type}}
        td.msg  {{entry.msg}}
      tr(ng-show="!feed.length")
        td(colspan="3")
          span.literal Nothing in feed yet. So hungry.