include ../menu/wallet.jade
section.panel.content(ng-controller="GatewaysCtrl")
  p.literal Gateways
  hr
  ul.gateways-list
    li
      img(src="img/gateways/zipzap.png")
      span.info
        | ID:
        span.id  999 999 999