section.col-xs-12.content(ng-controller='GoldCtrl')

  //- Disconnected

  group.disconnected(ng-hide='connected')
    p.literal(l10n="err-you-must-be-online-to-see-this-screen", l10n)
      | You have to be online to see this screen

  //- Funding
  div(ng-show="!loadingAccount && !account.Balance && loadState.account && connected")
    include ../tabs/banner/unfunded

  .row(ng-show='connected')
    // Transaction errors coming from errors.js & transactionerror.jade
    .col-sm-12(ng-show='mode=="error" || mode=="granting" && account.Balance')
      group.mode-ripplerror
        rp-transaction-status(
          rp-engine-result="{{engine_result}}"
          rp-engine-result-message="{{engine_result_message}}"
          rp-accepted="{{engine_status_accepted}}"
          rp-current-tab="trust")

    //- Generic non-tx related messages
    .col-sm-12(ng-show='notif !== "clear"', ng-hide='!notif')
      group.mode-granted.wide
        group(ng-switch on="notif")
          group.result-error(ng-switch-when="error")
            h2.tx-status(l10n) There was an error while saving your changes.&#32;
            p(l10n) Please try again later.
    .col-sm-12(ng-show='account.Balance && !can_add_trust && !gbiConnected')
      .alert.alert-warning(l10n) You must have at least
        strong  {{account.reserve_to_add_trust | rpamount:0}} XRP
        |  to add a new trust line.&#32;
        a(href="https://ripple.com/wiki/Reserves", target="_blank") More information

    .col-sm-3
      include ../tabs/fund/menu
    .col-sm-9.list(ng-show='debug')
      div This page is not available in debug mode
    .col-sm-9.list(ng-hide='debug')
      .nameLine(l10n) Gold Deposit
      .gateway.row
        .col-md-3
            .title(l10n) Gateway
            .description(l10n) Gold Bullion International (~gbi)&#32;
              a(href="http://www.bullioninternational.com/", target="_blank") www.bullioninternational.com
        .col-md-3
            .title(l10n) Availability
            .description(l10n) All countries
        .col-md-3
            .title(l10n) Fees
            .description(l10n) 0.3%&#32;
        .col-md-3
            .title(l10n) Rating
            .description(l10n)
              a(href="https://coinist.co/ripple/assets/xau-gbi", target="_blank") read reviews

      .row.fund-tab-description
        .col-xs-12.col-md-8.col-lg-6
          .descriptor(ng-show="!gbiConnected", l10n) Ripple Trade has partnered with GBI to provide easy access to
            | XAU. By continuing, you are allowing GBI to hold gold on your behalf.

      .row.fund-tab-description
        .col-xs-7.col-sm-5.col-md-4
          button.btn.btn-large.btn-primary(ng-show="!gbiConnected && !loading", type="submit", ng-click="save_account()", ng-disabled="!account.Balance || !can_add_trust", l10n) Add GBI
          button.btn.btn-large.btn-primary(ng-show="!gbiConnected && loading", type="submit", ng-disabled="loading", l10n) Adding...
          button.btn.btn-large.btn-primary(ng-show="showInstructions && gbiConnected", type="submit", ng-click="toggle_instructions()", l10n) Hide instructions
          button.btn.btn-large.btn-primary(ng-show="gbiConnected && !showInstructions", type="submit", ng-click="toggle_instructions()", l10n) Show instructions

        .connect.col-xs-5.col-sm-7.col-md-8(ng-hide="loading")
          .description(ng-show="!gbiConnected && account.Balance", l10n) 
            i.fa.fa-times
            |  Not connected
          .description(ng-show="gbiConnected && account.Balance", l10n) 
            i.fa.fa-check
            |  Connected
          .description(ng-show="!account.Balance", l10n) Your account has to be activated before you can add a gateway account.
      .row(ng-show="showInstructions && gbiConnected")
        .instructions.col-md-10
          a.dismiss#hide(href="", ng-click="toggle_instructions()", l10n)  ×
          .title(l10n) Deposit
          .description(l10n) GBI does not currently support direct deposits. You can&#32;
            a(href="#/trade") trade XAU
            | &#32;or&#32;
            a(href="#/exchange") convert some of your current holdings
            | .

          .title(l10n) Withdrawal
          .description(l10n) You can redeem the physical gold in 1 oz increments.
            | To do so, you'll need to&#32;
            a(href="https://direct.bullioninternational.com/PortalApplyNow/OpenAccount", target="_blank") create an account on GBI's website
            | &#32;and arrange to have the gold shipped to you.
