section.col-xs-12.content(ng-controller='GoldCtrl')

  //- Disconnected

  group.disconnected(ng-hide='connected')
    p.literal(l10n="err-you-must-be-online-to-see-this-screen", l10n)
      | You have to be online to see this screen

  //- Funding
  div(ng-show="'web' === client && !loadingAccount && !account.Balance && loadState.account && connected")
    include banner/unfunded

  .row(ng-show='connected')
    .col-sm-12
      //- N5. Notifications for connect new account
      group.mode-granted.wide(ng-show='mode=="granting" && account.Balance')
        group.pending(ng-show='tx_result!=="cleared"')
          h2.tx-status(l10n) Connecting the GBI gateway to your Ripple account...
        group.result-success(ng-show='tx_result=="cleared"')
          h2.tx-status(l10n) Gateway connected.
        group.result-error(ng-show='tx_result=="error"')
          h2.tx-status(l10n) Gateway could not be connected!
          p(l10n) There was a problem connecting the gateway. Please try again later.
        group.result-malformed(ng-show='tx_result=="malformed"')
          h2.tx-status(l10n) There was a problem connecting the gateway. Please try again later.
          p(l10n) Your request is invalid, reason: {{engine_result}} - {{engine_result_message}}
        group.result-failed(ng-show='tx_result=="failed"')
          h2.tx-status(l10n) Gateway connection failed!
          p(ng-switch on="engine_result")
            span(ng-switch-when="terNO_LINE", l10n) You have no gateway connected in this currency.
            span(ng-switch-when="tecINSUF_RESERVE_LINE", l10n) Insufficient reserve to connect gateway.
            span(ng-switch-when="tecNO_LINE_INSUF_RESERVE", l10n) You must have at
              | least {{account.reserve_to_add_trust | rpamount:0}} XRP to connect a gateway.&#32;
              a(href="http://ripple.com/help/#reserve", l10n) Read more.
            span(ng-switch-default, l10n) Gateway connection failed to clear,
              | reason: {{engine_result_message}}

    .col-sm-3
      include fund/menu
    .col-sm-9.list
      .nameLine(l10n) Gold Deposit
      .gateway.row
        .col-md-3
            .title(l10n) Gateway
            .description(l10n) Gold Bullion International (GBI)&#32;
              a(href="http://www.bullioninternational.com/", target="_blank") www.bullioninternational.com
        .col-md-3
            .title(l10n) Availability
            .description(l10n) All countries
        .col-md-3
            .title(l10n) Fees
            .description(l10n) 0.5% per year&#32;
        .col-md-3
            .title(l10n) Rating
            .description(l10n)
              a(href="https://coinist.co/ripple/assets/xau-gbi", target="_blank") read reviews

      .row
        .col-xs-12.col-md-8.col-lg-6
          .tos.descriptor(ng-show="!gbiConnected", l10n) Ripple Trade has partnered with GBI to provide easy access to
            | XAU. By continuing, you are allowing GBI to hold gold on your behalf.

      .row
        .col-xs-9.col-sm-5.col-md-4
          button.btn.btn-large(ng-show="!gbiConnected && !loading", type="submit", ng-click="save_account()", ng-disabled="!account.Balance") Add GBI
          button.btn.btn-large(ng-show="!gbiConnected && loading", type="submit", ng-disabled="loading") Adding...
          button.btn.btn-large(ng-show="showInstructions && gbiConnected", type="submit", ng-click="toggle_instructions()") Hide instructions
          button.btn.btn-large(ng-show="gbiConnected && !showInstructions", type="submit", ng-click="toggle_instructions()") Show instructions

        .connect.col-xs-10.col-sm-8.col-md-8(ng-hide="loading")
          .description.fa.fa-times(ng-show="!gbiConnected && account.Balance", l10n) Not connected
          .description.fa.fa-check(ng-show="gbiConnected && account.Balance", l10n) Connected
          .description(ng-show="!account.Balance", l10n) Your account has to be activated before you can add a gateway account.
      .row(ng-show="showInstructions && gbiConnected")
        .instructions.col-md-10
          a.dismiss#hide(href="", ng-click="toggle_instructions()", l10n)  ×
          .title(l10n) Deposit
          .description(l10n) GBI does not currently support direct deposits. You can&#32;
            a(href="#/trade") trade XAU(-.5%pa)
            | &#32;or&#32;
            a(href="#/exchange") convert some of your current holdings
            | .

          .title(l10n) Withdrawal
          .description(l10n) You can redeem the physical gold in 1 oz increments.
            | To do so, you'll need to&#32;
            a(href="https://direct.bullioninternational.com/PortalApplyNow/OpenAccount", target="_blank") create an account on GBI's website
            | &#32;and arrange to have the gold shipped to you.
