include ../menu/wallet.jade
section.panel.content(ng-controller="HistoryCtrl")

  //- Disconnected

  group.disconnected(ng-hide="connected")
    p.literal You have to be online to see this screen

  //- Connected

  group(ng-show="connected")
    ul.filter-tabs
      li.all: a(ng-click='type = {}', ng-class="!type['transaction.type'] && 'active'") All Activity
      li.received: a(ng-click='type = {transaction.type: "received"}', ng-class="type['transaction.type'] == 'received' && 'active'") Received
      li.sent: a(ng-click='type = {transaction.type: "sent"}', ng-class="type['transaction.type'] == 'sent' && 'active'") Sent
    table.table
      thead
        tr
          th.date Date
          th.counterparty Source / Destination
          th.amount Amount
          th.balance Balance
      tbody
        tr(ng-repeat="entry in history | filter:type", class="{{entry.transaction.type}}", rp-link-tx="entry.hash")
          td.date {{entry.date | date}}
          td.counterparty
            span {{entry.transaction.counterparty | rpcontactnamefull}}
            a.add(ng-hide="entry.transaction.counterparty | rponlycontactname", href="#/contact?to={{entry.transaction.counterparty}}", class="btn sign small", rp-no-propagate) +
          td.amount.rpamount
            span(rp-tooltip="{{entry.transaction.amount | rpamount:{precision: 10} }} {{entry.transaction.currency}}")
              | {{entry.transaction.amount | rpamount}}
              .currency {{entry.transaction.currency}}
          td.balance.rpamount
            span(rp-tooltip="{{entry.transaction.balance | rpamount:{signed: true, precision: 10} }} {{entry.transaction.currency}}")
              | {{entry.transaction.balance | rpamount:{signed: true} }}
              .currency {{entry.transaction.currency}}
      tfoot
        tr(ng-show="!(history | filter:type).length")
          td(colspan="4")
            span.literal(ng-show="history.length")
              | Sorry, no transactions match your current filter.
            span.literal(ng-show="!history.length")
            | You don't have any transactions yet!