section.panel.content(ng-controller="HistoryCtrl")
  ul
    li.all: a(ng-click='type = {}', ng-class="!type.type && 'active'") All Activity
    li.received: a(ng-click='type = {type: "received"}', ng-class="type.type == 'received' && 'active'") Received
    li.sent: a(ng-click='type = {type: "sent"}', ng-class="type.type == 'sent' && 'active'") Sent
  table.table
    thead
      tr
        th.date Date
        th.counterparty Source / Destination
        th.amount Amount
        th.balance Balance
    tbody
      tr(ng-repeat="entry in history | filter:type", class="{{entry.type}}")
        td.date {{entry.date | date}}
        td.counterparty {{entry.counterparty}}
        td.amount
          .currency {{entry.currency}}
          | {{entry.amount | rpamount}}
        td.balance
          .currency {{entry.currency}}
          | {{entry.balance | rpamount:{signed: true} }}
      tr(ng-show="!(history | filter:type).length")
        td(colspan="4")
          span.literal(ng-show="history.length")
            | Sorry, no transactions match your current filter.
          span.literal(ng-show="!history.length")
            | You don't have any transactions yet!