section.panel.content(ng-controller="InfoCtrl")
  p.literal <strong>Your information is encrypted and stored on Payward Inc. servers.</strong>
  p.literal This is your Ripple account information. <a href="" onClick="javascript:window.print()"><strong>PRINT THIS PAGE</strong></a> and keep it somewhere safe.
  .infoBox
    table
      tr.section
        td Username:
        td Password:
      tr
        td
          span.value {{userCredentials.username}}
        td
          span.value {{userCredentials.password | rpmask}}
      tr.section
        td(colspan="2") Master Key:
          a.smallText(href="http://ripple.com/help/key", target="_blank") What is this?
      tr
        td(colspan="2")
          span.value {{userCredentials.master_seed}}
      tr.section
        td(colspan="2") Wallet:
          a.smallText(href="http://ripple.com/help/wallet", target="_blank") What is this?
      tr
        td(colspan="2")
          .wallet {{enc}}

  p.literal IMPORTANT! There is no way to recover your username and password. 
    a.smallText(href="http://ripple.com/help/password", target="_blank") Read why