section.single.modal.content(ng-controller="LoginCtrl")
  h1 Open Wallet
  p.literal Enter the username and password that was used to encrypt your wallet below.
  form(name='loginForm', ng-submit='submitForm()')
    label(for='login_username') Username
    input#register_username(name='login_username', type='text', ng-model='username', required)
    p.text-error(ng-show='error') {{error}}
    label(for='login_password') Password
    input#register_password(name='login_password', type='password', ng-model='password', required)
    label.storageinfo
      | Fetch your wallet from:&nbsp;
      span(ng-hide="storeChange")
        strong {{blobBackendCollection.something.name}}&nbsp;
        a(ng-click="storeChange=true") change
      span(ng-show="storeChange")
        select(ng-model="blobBackendCollection.something", ng-options="b.name for b in blobBackendCollections", ng-change="backendChange()")
        a(ng-click="storeChange=false") ok
    p.literal.hint
      | Your information will be loaded from Payward and decrypted locally with your password.
    div.submitsection
      button.btn.btn-info(type='submit') Go
      p.literal
        | You are responsible for safeguarding your login information.<br>
        | Ripple can not recover your username or password.<br>
        strong Write down your master key.&nbsp;
        a(href='#') Learn how
    p.literal
      | New to Ripple? 
      a(href='#register') Create a wallet
