section.single.content(ng-controller="LoginCtrl")
  .normal-login(ng-show="'login' == urlParams.tab")
    h1 Open Wallet
    p.literal Enter the Name and Passphrase used to encrypt your Wallet below.
    form(name='loginForm', ng-submit='submitForm()')
      .inputs
        label(for='login_username') Wallet name
        input#login_username(name='login_username', type='text', ng-model='username', required)
        label(for='login_password') Passphrase
        input#login_password(name='login_password', type='password', ng-model='password', required)
      .reminder(ng-show="!hiddenReminder")
        .title
          | Reminder:
          span.close(ng-click="hiddenReminder=true") ×
        .content
          p
            | You are responsible for your login information.
            br
            | ripple
            strong  cannot&nbsp;
            | recover your Wallet Name or Passphrase if you forget them!
          p
            | Write down your Security Key.&nbsp
            a(href="#") Learn how
      .text-status(ng-show='status')
        span {{status}}
        br
        .backend(ng-repeat="message in backendMessages")
          b {{message.backend}} &nbsp;
          span {{message.message}}
      .submitsection
        button.btn.btn-info(type='submit') Open Wallet
        label.storageinfo(ng-class="{throbber: ajax_loading}")
          span.fetch Fetch wallet from
          br
          span(ng-hide="storeChange")
            strong {{blobBackendCollection.something.name}}
            a(ng-click="storeChange=true") change
          span(ng-show="storeChange")
            select(ng-model="blobBackendCollection.something", ng-options="b.name for b in blobBackendCollections", ng-change="backendChange()")
            a(ng-click="storeChange=false") ok
      p.literal
        | New to ripple?&nbsp;
        a(href='#register') Create a wallet
  .action-login(ng-hide="'login' == urlParams.tab")
    div(ng-show="'send' == urlParams.tab")
      h1 Transaction summary
      .info
        p.literal {{urlParams.label}}
        p.label you will send
        .amount
          span.number {{urlParams.amount | rpamount}}
          span.currency {{urlParams.amount | rpcurrency}}
        p.label To the ripple Address
        .address {{urlParams.to}}
    div(ng-show="'trust' == urlParams.tab")
      h1 Grant Trust
      .info
        p.literal {{urlParams.label}}
        p.label you will trust
        .amount
          span.number {{urlParams.amount | rpamount}}
          span.currency {{urlParams.amount | rpcurrency}}
        p.label To ripple address
        .address {{urlParams.to}}
    div(ng-show="'contacts' == urlParams.tab")
      h1 Add contact
      .info
        p.literal {{urlParams.label}}
        p.label you will add the user
        .address {{urlParams.to}}
        p.label To your ripple contacts

    form(name='loginForm', ng-submit='submitForm()')
      label(for='login_username') Wallet name
      input#login_username(name='login_username', type='text', ng-model='username', required)
      p.text-status(ng-show='status')
        span {{status}}
        br
        span(ng-repeat="message in backendMessages")
          b {{message.backend}} &nbsp;
          span {{message.message}}
          br
      label(for='login_password') Passphrase
      input#login_password(name='login_password', type='password', ng-model='password', required)
      label.storageinfo(ng-class="{throbber: ajax_loading}")
        span(ng-hide="storeChange")
          strong {{blobBackendCollection.something.name}}&nbsp;
          a(ng-click="storeChange=true") change
        span(ng-show="storeChange")
          select(ng-model="blobBackendCollection.something", ng-options="b.name for b in blobBackendCollections", ng-change="backendChange()")
          a(ng-click="storeChange=false") ok
      .submitsection
        button.btn.btn-info(type='submit') Open wallet
      p.literal.hint
        | You can confirm this transaction on the next page.
      p.literal
        | New to ripple?&nbsp;
        a(href='#register') Create a wallet
