section.col-xs-12.content(ng-controller="LoginCtrl")

  .row.normal-login(ng-hide="$routeParams.tab")
    h1 Open Wallet
    .col-sm-11.col-sm-offset-1
      .row
        .col-xs-12
          p.literal Enter the Name and Passphrase used to encrypt your Wallet below.
      form(name='loginForm', ng-submit='submitForm()')
        .row
          .col-xs-12.col-sm-6.col-md-5.col-lg-4
            include login/form
          .col-xs-12.col-sm-5.col-md-4
            .reminder(ng-show="!hiddenReminder")
              .title
                | Reminder:
                span.close(ng-click="hiddenReminder=true") &times;
              .text
                p
                  | You are responsible for your login information.
                  br
                  | ripple
                  strong  cannot&nbsp;
                  | recover your Wallet Name or Passphrase if you forget them!
                p
                  | Write down your Security Key.&nbsp
                  a(href="https://ripple.com/blog/security-tip-1-dont-share-your-secret-key/", target="_blank") Read more
        .row
          .col-xs-12
            .text-status(ng-show='status')
              span {{status}}
              br
              .backend(ng-repeat="message in backendMessages")
                b {{message.backend}} &nbsp;
                span {{message.message}}
          .col-xs-12
            .row
              .col-xs-12.col-sm-6.col-md-5.col-lg-4
                button.btn.btn-lg.btn-submit.btn-block.btn-primary(type='submit', ng-disabled="loginForm.$invalid || ajax_loading")
                  span.spinner(ng-show="ajax_loading", rp-spinner="4")
                  | Open Wallet
              .col-xs-12.col-sm-5.col-md-4
                .storageinfo
                  span.fetch Fetch wallet from
                  span(ng-hide="storeChange")
                    strong {{blobBackendCollection.something.name}}&nbsp;
                    a(ng-click="storeChange=true") change
                  span(ng-show="storeChange")
                    select(ng-model="blobBackendCollection.something", ng-options="b.name for b in blobBackendCollections", ng-change="backendChange()")
                    a(ng-click="storeChange=false") ok
        .row
          .col-xs-12
            p.literal
              | New to ripple?&nbsp;
              a(href='#register') Create a wallet

  .row.action-login(ng-show="$routeParams.tab")
    h1(ng-show="'send' == $routeParams.tab") Transaction summary
    h1(ng-show="'trust' == $routeParams.tab") Grant Trust
    h1(ng-show="'contacts' == $routeParams.tab") Add contact

    .col-xs-12.col-sm-6.col-md-6
      div.info(ng-show="'send' == $routeParams.tab")
        p.literal {{$routeParams.label}}
        p(ng-show="$routeParams.amount") you will send
        p(ng-hide="$routeParams.amount") you will send money to the ripple address
        .amount(ng-show="$routeParams.amount")
          span.number {{$routeParams.amount | rpamount:{xrp_human: true} }}
          span.currency {{$routeParams.amount | rpcurrency}}
        p(ng-show="$routeParams.amount") To the ripple address
        .address {{$routeParams.to}}
      div.info(ng-show="'trust' == $routeParams.tab")
        p.literal {{$routeParams.label}}
        p you will trust
        .amount(ng-show="$routeParams.amount")
          span.number {{$routeParams.amount | rpamount:{xrp_human: true} }}
          span.currency {{$routeParams.amount | rpcurrency}}
        p(ng-hide="$routeParams.name") To ripple address
        p(ng-show="$routeParams.name") To <b>{{$routeParams.name}}</b> with a ripple address
        .address {{$routeParams.to}}
      div.info(ng-show="'contacts' == $routeParams.tab")
        p.literal {{$routeParams.label}}
        p you will add the user
        .address {{$routeParams.to}}
        p To your ripple contacts

    .col-xs-12.col-sm-6.col-md-5.col-lg-4.col-lg-offset-1
      form(name='loginForm', ng-submit='submitForm()')
        include login/form
        label.storageinfo
          span(ng-hide="storeChange")
            strong {{blobBackendCollection.something.name}}&nbsp;
            a(ng-click="storeChange=true") change
          span(ng-show="storeChange")
            select(ng-model="blobBackendCollection.something", ng-options="b.name for b in blobBackendCollections", ng-change="backendChange()")
            a(ng-click="storeChange=false") ok
        .row
          .col-xs-12.text-status(ng-show='status')
            span {{status}}
            br
            .backend(ng-repeat="message in backendMessages")
              b {{message.backend}} &nbsp;
              span {{message.message}}
        .row
          .col-xs-12
            button.btn.btn-lg.btn-submit.btn-block.btn-primary(type='submit', ng-disabled="loginForm.$invalid || ajax_loading")
              span.spinner(ng-show="ajax_loading", rp-spinner="4")
              | Open Wallet
        p.literal.hint
          | You can confirm this transaction on the next page.
        p.literal
          | New to ripple?&nbsp;
          a(href='#/register') Create a wallet
