section.col-xs-12.content(ng-controller="LoginCtrl")

  .row.auth-form-container.col-sm-offset-2.col-sm-8.col-md-offset-3.col-md-6
    .auth-form-wrapper
      form(name='loginForm', ng-submit='submitForm()')
        h2(l10n, ng-hide="$routeParams.action === 'migrate'") Log In
        h2(l10n, ng-show="$routeParams.action === 'migrate'") Migrate
        .auth-attention(ng-show="$routeParams.action === 'migrate'", l10n) To begin migration, enter the name and passphrase
          | used to encrypt your ripple.com/client wallet below.
        .auth-attention.text-center(ng-show="verifyStatus")
          .status(ng-show="'verifying' === verifyStatus", l10n) Verifying...
          .status(ng-show="'verified' === verifyStatus", l10n) You have successfully verified your email address.
          .status(ng-show="'error' === verifyStatus", l10n) Something went wrong, please try again.
        include login/form
        .text-status(ng-show='status')
          span {{status}}
          br
          .backend(ng-repeat="message in backendMessages")
            b {{message.backend}} &#32;
            span {{message.message}}
        .submit-btn-container(ng-hide="$routeParams.action === 'migrate'")
          button.btn.btn-submit.btn-block.btn-success(type='submit', ng-disabled="loginForm.$invalid || ajax_loading", rp-spinner="{{ajax_loading ? 4 : null}}")
            span(l10n) Log In
        .submit-btn-container(ng-show="$routeParams.action === 'migrate'")
          button.btn.btn-submit.btn-block.btn-success(type='submit', ng-disabled="loginForm.$invalid || ajax_loading", rp-spinner="{{ajax_loading ? 4 : null}}")
            span(l10n) Begin Migration
    .switch-mode-link-container(ng-hide="$routeParams.action === 'migrate'", l10n) Already have a ripple.com/client account?&#32;
      a(ng-hide="$routeParams.action === 'migrate'", href='#/login/migrate', l10n-inc) Migrate
    .switch-mode-link-container(l10n) New to {{productName}}?&#32;
      a(href='#register', l10n-inc) Sign Up

  .row.action-login(ng-show="$routeParams.tab")
    h1(ng-show="'send' == $routeParams.tab", l10n) Transaction summary
    h1(ng-show="'trust' == $routeParams.tab", l10n) Grant Trust
    h1(ng-show="'contacts' == $routeParams.tab", l10n) Add contact

    .col-xs-12.col-sm-6.col-md-6
      div.info(ng-show="'send' == $routeParams.tab")
        p.literal {{$routeParams.label}}
        p(ng-show="$routeParams.amount", l10n) you will send
        p(ng-hide="$routeParams.amount", l10n) you will send money to the ripple address
        .amount(ng-show="$routeParams.amount")
          span.number {{$routeParams.amount | rpamount:{xrp_human: true} }}
          span.currency {{$routeParams.amount | rpcurrency}}
        p(ng-show="$routeParams.amount", l10n) To the ripple address
        .address {{$routeParams.to}}
      div.info(ng-show="'trust' == $routeParams.tab")
        p.literal {{$routeParams.label}}
        p(l10n) you will trust
        .amount(ng-show="$routeParams.amount")
          span.number {{$routeParams.amount | rpamount:{xrp_human: true} }}
          span.currency {{$routeParams.amount | rpcurrency}}
        p(ng-hide="$routeParams.name", l10n) To ripple address
        p(ng-show="$routeParams.name", l10n) To {{$routeParams.name}} with a ripple address
        .address {{$routeParams.to}}
      div.info(ng-show="'contacts' == $routeParams.tab")
        p.literal {{$routeParams.label}}
        span
          p(l10n) you will add the user
          .address {{$routeParams.to}}
          p(l10n) To your ripple contacts

    .col-xs-12.col-sm-6.col-md-5.col-lg-4.col-lg-offset-1
      form(name='loginForm', ng-submit='submitForm()')
        include login/form
        .row
          .col-xs-12.text-status(ng-show='status')
            span {{status}}
            br
            .backend(ng-repeat="message in backendMessages")
              b {{message.backend}} &#32;
              span {{message.message}}
        .row
          .col-xs-12
            button.btn.btn-lg.btn-submit.btn-block.btn-primary(type='submit', ng-disabled="loginForm.$invalid || ajax_loading", rp-spinner="{{ajax_loading ? 4 : null}}") Log In
        p.literal.hint(l10n) You can confirm this transaction on the next page.
        p.literal(l10n) New to {{productName}}?&#32;
          a(href='#/register', l10n-inc) Create a wallet
