section.col-xs-12.content(ng-controller="MigrateCtrl")
  .row.migrate
    .col-xs-12.col-md-10.col-md-offset-1
      h1(l10n) Migrate to Ripple Trade
      p.literal(l10n) Existing Ripple Users: Please migrate accounts to Ripple Trade.
  .row.migrate
    button.btn.btn-block.btn-success.migrate-btn(ng-click='migrate()') Migrate
  .row.migrate
    p.literal(l10n) New to Ripple?
    a(href="https://rippletrade.com/#/register") Create an account at Ripple Trade.