section.col-xs-12.content(ng-controller="MigrateCtrl")
  .row.auth-form-container
    .auth-form-wrapper.col-sm-8.col-md-7.col-xs-12
      form(name='loginForm', ng-submit='submitForm()')
        h2(l10n) Migrate
        .auth-attention(l10n) To begin migration, enter the name and passphrase
          |  used to encrypt your ripple.com/client wallet below.
          |  After migration, you will no longer be able to login on ripple.com/client.
        .form-group
          label(for='login_username', l10n) Existing ripple.com/client Wallet name
          input.form-control#login_username(name='login_username', type='text'
            ng-model='username', required, autofocus='autofocus'
            rp-focus-on-empty, rp-autofill='$routeParams.username')
        .form-group
          label(for='login_password', l10n) Passphrase
          input.form-control#login_password(name='login_password', type='password'
            ng-model='password', required, rp-focus)
        .text-status(ng-show='status')
          span {{status}}
          br
          span#error {{error}}
          br
          .backend(ng-repeat="message in backendMessages")
            b {{message.backend}} &#32;
            span {{message.message}}
        .submit-btn-container
          button.btn.btn-submit.btn-block.btn-success(type='submit'
            rp-spinner="{{ajax_loading ? 4 : null}}",
            ng-disabled="ajax_loading || loginForm.$invalid")
            span(l10n) Begin Migration
    .switch-mode-link-container(l10n) New to {{productName}}?&#32;
      a(href='#register', l10n-inc) Sign Up
    .switch-mode-link-container(l10n) Have a {{productName}} account?&#32;
      a(href='#login', l10n-inc) Log In
