section.col-xs-12.content(ng-controller='MxnCtrl')

  //- Disconnected

  group.disconnected(ng-hide='connected')
    p.literal(l10n="err-you-must-be-online-to-see-this-screen", l10n)
      | You have to be online to see this screen

  //- Funding
  div(ng-show="!loadingAccount && !account.Balance && loadState.account && connected")
    include banner/unfunded

  .row(ng-show='connected')
    // Transaction errors coming from errors.js & transactionerror.jade
    .col-sm-12(ng-show='mode=="error" || mode=="granting" && account.Balance')
      group.mode-ripplerror
        rp-transaction-status(
          rp-engine-result="{{engine_result}}"
          rp-engine-result-message="{{engine_result_message}}"
          rp-accepted="{{engine_status_accepted}}"
          rp-current-tab="trust")

    //- Generic non-tx related messages
    .col-sm-12(ng-show='notif !== "clear"', ng-hide='!notif')
      group.mode-granted.wide
        group(ng-switch on="notif")
          group.result-error(ng-switch-when="error")
            h2.tx-status(l10n) There was an error while saving your changes.&#32;
            p(l10n) Please try again later.
            
    .col-sm-12(ng-show='account.Balance && !can_add_trust && !mxnConnected')
      .alert.alert-warning(l10n) You must have at least
        strong  {{account.reserve_to_add_trust | rpamount:0}} XRP
        |  to add a new trust line.&#32;
        a(href="https://ripple.com/wiki/Reserves", target="_blank") More information

    .col-sm-3
      include fund/menu
    .col-sm-9.list(ng-show='debug')
      div This page is not available in debug mode
    .col-sm-9.list(ng-hide='debug')
      .nameLine(l10n) Mexican Peso Deposit
      .gateway.row
        .col-md-3
            .title(l10n) Gateway
            .description(l10n) Bitso (~bitso)&#32;
              br
              a(href="http://www.bitso.com/", target="_blank") www.bitso.com&#32;
        .col-md-3
            .title(l10n) Availability
            .description(l10n) All countries except the US 
        .col-md-3
            .title(l10n) Fees
            .description(l10n) 0%&#32;
        .col-md-3
            .title(l10n) Rating
            .description(l10n)
              a(href="https://coinist.co/ripple/assets/mxn-bitso", target="_blank") read reviews

      .row.fund-tab-description
        .col-xs-12.col-md-8.col-lg-6
          .descriptor(ng-show="!mxnConnected", l10n) Ripple Trade has partnered with Bitso to provide easy access to MXN (Mexican Peso).&#32;
            | By continuing, you agree with Bitso’s terms of service. Following this action will enable Bitso to hold MXN on your behalf.


      .row.fund-tab-description
        .col-xs-7.col-sm-5.col-md-4
          button.btn.btn-large(ng-show="!mxnConnected && !loading", type="submit", ng-click="save_account()", ng-disabled="!account.Balance") Add Bitso
          button.btn.btn-large(ng-show="!mxnConnected && loading", type="submit", ng-disabled="loading") Adding...
          button.btn.btn-large(ng-show="showInstructions && mxnConnected", type="submit", ng-click="toggle_instructions()") Hide instructions
          button.btn.btn-large(ng-show="mxnConnected && !showInstructions", type="submit", ng-click="toggle_instructions()") Show instructions

        .connect.col-xs-5.col-sm-7.col-md-8(ng-hide="loading")
          .description(ng-show="!mxnConnected && account.Balance", l10n) 
            i.fa.fa-times
            |  Not connected
          .description(ng-show="mxnConnected && account.Balance", l10n) 
            i.fa.fa-check
            |  Connected
          .description(ng-show="!account.Balance", l10n) Your account has to be activated before you can add a gateway account.
      .row(ng-show="showInstructions && mxnConnected")
        .instructions.col-md-10
          a.dismiss#hide(href="", ng-click="toggle_instructions()", l10n)  ×
          .title(l10n) TO FUND/REDEEM MEXICAN PESO:
          .description(l10n) 
            p(l10n) Register or login at&#32;
              a(href="https://bitso.com/", target="_blank") Bitso.com&#32;
              | to initiate deposits and withdrawals.
            ul
              li(l10n) A valid, non-US, state-issued ID (passport, driver&#39;s license, etc).
              li(l10n)
                | Proof of address (utility bill or other type of bill that has your address on it). Verification is required for peso deposits or withdrawals.
              li(l10n) To fund your Ripple account, see the below options. Once a balance is deposited with Bitso, you can send it to your Ripple account using the Bitso Dashboard.
              li(l10n) To withdraw from your Ripple account, click on the 'Redeem from Ripple' button on the Bitso Dashboard.

          .title(l10n) DEPOSIT OPTIONS
          .description(l10n) 
            p(l10n) Bitso accepts deposits by the following methods:
            ul
              li(l10n) Bank Wire
              li(l10n) SPEI (Mexican instant inter-bank transfer)
              li(l10n) Bitcoin
              li(l10n) MXN Cash (at locations across Mexico)
              li(l10n) Pademobile wallet

          .title(l10n) WITHDRAWAL OPTIONS
          .description(l10n) 
            p(l10n) Bitso offers withdrawals via the following methods:
            ul
              li(l10n) Bank Wire
              li(l10n) SPEI (Mexican instant inter-bank transfer)
              li(l10n) Bitcoin