section.col-xs-12.content(ng-controller='MxnCtrl')

  //- Disconnected

  group.disconnected(ng-hide='connected')
    p.literal(l10n="err-you-must-be-online-to-see-this-screen", l10n)
      | You have to be online to see this screen

  //- Funding
  div(ng-show="!loadingAccount && !account.Balance && loadState.account && connected")
    include banner/unfunded

  .row(ng-show='connected')
    .col-sm-12
      //- N5. Notifications for connect new account
      group.mode-granted.wide(ng-show='mode=="granting" && account.Balance')
        group.pending(ng-show='tx_result!=="cleared"')
          h2.tx-status(l10n) Connecting the MXN Issuer gateway to your account...
        group.result-success(ng-show='tx_result=="cleared"')
          h2.tx-status(l10n) Gateway connected.
        group.result-error(ng-show='tx_result=="error"')
          h2.tx-status(l10n) Gateway could not be connected!
          p(l10n) There was a problem connecting the gateway. Please try again later.
        group.result-malformed(ng-show='tx_result=="malformed"')
          h2.tx-status(l10n) There was a problem connecting the gateway. Please try again later.
          p(l10n) Your request is invalid, reason: {{engine_result}} - {{engine_result_message}}
        group.result-failed(ng-show='tx_result=="failed"')
          h2.tx-status(l10n) Gateway connection failed!
          p(ng-switch on="engine_result")
            span(ng-switch-when="terNO_LINE", l10n) You have no gateway connected in this currency.
            span(ng-switch-when="tecINSUF_RESERVE_LINE", l10n) Insufficient reserve to connect gateway.
            span(ng-switch-when="tecNO_LINE_INSUF_RESERVE", l10n) You must have at
              | least {{account.reserve_to_add_trust | rpamount:0}} XRP to connect a gateway.&#32;
              a(href="http://ripple.com/help/#reserve", l10n) Read more.
            span(ng-switch-default, l10n) Gateway connection failed to clear,
              | reason: {{engine_result_message}}

    .col-sm-3
      include fund/menu
    .col-sm-9.list
      .nameLine(l10n) Mexican Peso Deposit
      .gateway.row
        .col-md-3
            .title(l10n) Gateway
            .description(l10n) Bitso (~bitso)&#32;
              br
              a(href="http://www.bitso.com/", target="_blank") www.bitso.com&#32;
        .col-md-3
            .title(l10n) Availability
            .description(l10n) All countries except the US 
        .col-md-3
            .title(l10n) Fees
            .description(l10n) 0%&#32;
        .col-md-3
            .title(l10n) Rating
            .description(l10n)
              a(href="https://coinist.co/ripple/assets/mxn-bitso", target="_blank") read reviews

      .row.fund-tab-description
        .col-xs-12.col-md-8.col-lg-6
          .descriptor(ng-show="!mxnConnected", l10n) Ripple Trade has partnered with Bitso to provide easy access to MXN (Mexican Peso).&#32;
            | By continuing, you agree with Bitso’s terms of service. Following this action will enable Bitso to hold MXN on your behalf.


      .row.fund-tab-description
        .col-xs-7.col-sm-5.col-md-4
          button.btn.btn-large(ng-show="!mxnConnected && !loading", type="submit", ng-click="save_account()", ng-disabled="!account.Balance") Add Bitso
          button.btn.btn-large(ng-show="!mxnConnected && loading", type="submit", ng-disabled="loading") Adding...
          button.btn.btn-large(ng-show="showInstructions && mxnConnected", type="submit", ng-click="toggle_instructions()") Hide instructions
          button.btn.btn-large(ng-show="mxnConnected && !showInstructions", type="submit", ng-click="toggle_instructions()") Show instructions

        .connect.col-xs-5.col-sm-7.col-md-8(ng-hide="loading")
          .description.fa.fa-times(ng-show="!mxnConnected && account.Balance", l10n) Not connected
          .description.fa.fa-check(ng-show="mxnConnected && account.Balance", l10n) Connected
          .description(ng-show="!account.Balance", l10n) Your account has to be activated before you can add a gateway account.
      .row(ng-show="showInstructions && mxnConnected")
        .instructions.col-md-10
          a.dismiss#hide(href="", ng-click="toggle_instructions()", l10n)  ×
          p(l10n) What would a new customer need to know to sign up for your gateway?
          .title(l10n) TO FUND/REDEEM MEXICAN PESO
          .description(l10n) 
            p(l10n) Register/Log-in at Bitso.com 
              a(href="https://bitso.com/", target="_blank") Bitso.com&#32;
              | to initiate deposits and withdrawals. To register/verify, you will need:&#32;
            ul
              li(l10n) A valid non-US state-issued ID (Passport, Driving License, etc)
              li(l10n)
                | A proof of address (utility bill etc) 
                br 
                | * Verification is required for Peso deposits/withdrawals
              li(l10n) To fund Ripple, see below options. Once a balance is registered on Bitso, it can be transfered into Ripple using the buttons on the Bitso ‘Dashboard’
              li(l10n) To withdraw from Ripple, click on the ‘Redeem from Ripple’ button on the Dashboard, and follow the instructions. Once redeemed, funds can be withdrawn via the options listed below.

          .title(l10n) DEPOSIT OPTIONS:
          .description(l10n) 
            p(l10n) Bitso accepts deposits by the following methods:
            ul
              li(l10n) Bank Wire
              li(l10n) SPEI (Mexican instant inter-bank transfer)
              li(l10n) Bitcoin
              li(l10n) MXN Cash (at locations across Mexico)
              li(l10n) Pademobile wallet

          .title(l10n) WITHDRAWAL OPTIONS:
          .description(l10n) 
            p(l10n) Bitso offers withdrawals via the following methods:
            ul
              li(l10n) Bank Wire
              li(l10n) SPEI (Mexican instant inter-bank transfer)
              li(l10n) Bitcoin