section#t-my-ripple.panel.content
  .total(style='display: none;')
    .swatch
      .balance 15,532.33
      form.config.form-inline
      label(for='') Total value in
      select
        option USD
  .currency-summary.positive
    .balancebox
      .label Ripple Credits
      .balance 40,000.00