include ../menu/advanced.jade
section.col-xs-12.col-md-10.content(ng-controller="OptionsCtrl")
  .row
    .col-xs-12 Options
  .row
    hr
  form.row-padding-small(name="optionsForm", ng-submit="save()")
    h3 Ripple Servers
    div(ng-repeat="(index, server) in servers track by $index", ng-form name="subForm")
      .row
        .col-xs-12
          label WebSocket hostname, port, secure
      .row
        .col-xs-6.col-sm-5.col-md-3
          input.form-control.host(name='host', type='text', ng-model='server.host', rp-hostname)
          .errorGroup
            div(rp-errors='host')
              .error(rp-error-on='rpHostname') Socket ip or hostname is invalid.
            div(rp-errors='port')
              .error(rp-error-on='rpPortNumber') Port number is invalid.
        .col-xs-3.col-sm-3.col-md-2
          input.form-control.socketPort(name='port', type='text', ng-model='server.port', rp-port-number)
        .col-xs-3.col-sm-3.col-md-2
          a(href="", ng-click="servers.splice($index,1)") Remove
      .row
        .col-xs-12
          div.helperInput
            input(type="checkbox", name="secure", ng-model='server.secure')
            label(for="secure") Use secure WebSocket
    .row
      .col-xs-12.col-sm-8.col-md-3.col-lg-2
        button.btn.btn-block.btn-primary(type="button", ng-click="servers.push({})") Add new server

    h3 Blob Vault
    .row
      .col-xs-12.col-sm-8.col-md-5
        label(for="blobIp") Blob vault URL
        input.form-control.blobIp(
          name='blobIp', id="blobIp", type='text'
          ng-model='blobIp')

    h3 Anonymous statistics
    label
      input.tracking(name='track', type='checkbox', ng-model='mixpanel.track')
      |  Help Ripple Labs make a better product through sending anonymous client usage data.

    .row
      .col-xs-12.col-sm-8.col-md-3.col-lg-2
        button.btn.btn-block.btn-success.submit(type='submit', ng-disabled='optionsForm.$invalid') Save