section.panel.content(ng-controller="OrderbookCtrl")
  select(ng-model='nexus', ng-change='changeNexus()') 
  Chosen Nexus 
  table
    tr
      td
        select(ng-model='buy_currency', ng-change='changePair()')
          option USD
          option EUR
      td for
      td
        select(ng-model='sell_currency', ng-change='changePair()')
          option USD
          option EUR

  p Selling {{buy_currency}}/{{sell_currency}} (asks)
  table.table.table-striped
    tr
      th Price
      th Amount
      th Sum
      th Issuer In
      th Issuer Out
      
  p Buying {{buy_currency}}/{{sell_currency}} (bids)
  table.table.table-striped
    tr
      th Unit Price
      th Amount
      th Sum
      th Issuer In
      th Issuer Out
      