section.panel.content(ng-controller="OrderbookCtrl")
  input#send_destination(name='send_destination', type='text', ng-model='nexus', required, rp-combobox="query_dest", ng-change='changeNexus()')
  Nexus 
  table
    tr
      td
        input.currency#buy_currency(name='buy_currency', type='text', ng-model='buy_currency', ng-change='changePair()', rp-combobox="currency_query", rp-combobox-select)
      td for
      td
        input.currency#sell_currency(name='sell_currency', type='text', ng-model='sell_currency', ng-change='changePair()', rp-combobox="currency_query", rp-combobox-select)

  p Selling {{buy_currency.value}}/{{sell_currency.value}} (asks)
  table.table.table-striped
    tr
      th Price
      th Amount
      th Sum
      th Issuer In
      th Issuer Out
      
  p Buying {{buy_currency.value}}/{{sell_currency.value}} (bids)
  table.table.table-striped
    tr
      th Unit Price
      th Amount
      th Sum
      th Issuer In
      th Issuer Out
      