section.panel.content(ng-controller="OrderbookCtrl")
  p.literal Watch orders for a currency pair.
  hr
  form(name="offerbookSelectForm")
    .currency-config
      label Currency Pair
      input.currency#currency_pair(
        name='currency_pair', type='text'
        rp-combobox="pairs_query", rp-combobox-select
        ng-model='currency_pair')
  .list
    table.bids.table.table-striped
      thead: tr
        th.sum Sum
        th.amount Amount
        th.price Bid
      tbody
        tr(ng-repeat='order in bids')
          td.sum.rpamount {{order.sum}}
            span.currency {{order.o.amount | rpcurrency}}
          td.amount.rpamount {{order.o.amount | rpamount:{precision: 6} }}
            span.currency {{order.o.amount | rpcurrency}}
          td.price.rpamount
            | {{order.i.amount | rpamountratio:order.o.amount | rpamount:{precision: 6, min_precision: 6} }}
            span.currency {{order.i.amount | rpcurrency}}
        tr(ng-show='!bids.length')
          td(colspan="5") There are currently no bids for this pair
    table.asks.table.table-striped
      thead: tr
        th.price Ask
        th.amount Amount
        th.sum Sum
      tbody
        tr(ng-repeat='order in asks')
          td.price.rpamount
            | {{order.i.amount | rpamountratio:order.o.amount | rpamount:{precision: 6, min_precision: 6} }}
            span.currency {{order.i.amount | rpcurrency}}
          td.amount.rpamount {{order.o.amount | rpamount:{precision: 6} }}
            span.currency {{order.o.amount | rpcurrency}}
          td.sum.rpamount {{order.sum}}
            span.currency {{order.o.amount | rpcurrency}}
        tr(ng-show='!asks.length')
          td(colspan="3") There are currently no asks for this pair
