section.panel.content
  .div#welcome(ng-hide='balance')
    p Welcome to Ripple,
    p You currently dont have any credits. To get started with ripple have another ripple user send money to this account.
    p.account_id {{userBlob.data.account_id}}
  .total(style='display: none;')
    .swatch
      .balance 15,532.33
      form.config.form-inline
      label(for='') Total value in
      select
        option USD
  .currency-summary.positive
    .balancebox
      .label Ripple Credits
      .balance {{balance | rpamount}}

  table.table.events
    caption Notifications
    thead
      tr
        th.date Date
        th.desc Event
    tbody
      tr(ng-repeat="entry in events", ng-class="entry.type", ng-switch on="entry.type")
        td.date {{entry.date | rpfromnow}}
        td.desc(ng-switch-when="sent") You sent 
          span.address {{entry.counterparty | rpcontactname}}
          strong  {{entry.amount | rpamount}} {{entry.amount | rpcurrency}}
        td.desc(ng-switch-when="received")
          span.address {{entry.counterparty | rpcontactname}}
          |  sent you
          strong  {{entry.amount | rpamount}} {{entry.amount | rpcurrency}}
        td.desc(ng-switch-when="trusted")
          span.address {{entry.counterparty | rpcontactname}}
          |  now trusts you for
          strong  {{entry.limit_peer | rpamount}} {{entry.limit_peer | rpcurrency}}
        td.desc(ng-switch-when="trusting") You now trust 
          span.address {{entry.counterparty | rpcontactname}}
          |  for 
          strong  {{entry.limit | rpamount}} {{entry.limit | rpcurrency}}
        td.desc(ng-switch-when="offernew") You created an offer accepting 
          strong {{entry.pays | rpamount}} {{entry.pays | rpcurrency}}
          |  for 
          strong {{entry.gets | rpamount}} {{entry.gets | rpcurrency}}
        td.desc(ng-switch-default)
          Something happened