section#t-peers.tab-pane
  div.heading Peers
    div.page-content
      div.row 
        fieldset.span5
          legend Add New Peer
          | If you are having connectivity issues you can manually add a peer below.
          table
            tr
              td.span2 IP:
              td:input#NewPeerIP.span2
 