section.content(ng-controller="PeerCtrl")
  form(name="addForm")
    label(for='unl_hanko') Domain or Hanko:
    .unl_key
      input#unl_key(name='unl_key', type='text', step='any', ng-model='unl_key', required)
    label(for='unl_note') Comment (Optional):
    .unl_note
      input#unl_note(name='unl_note', type='text', step='any', ng-model='unl_note', unl_note, required)
    .submitsection
      button.btn.btn-info(type='submit', ng-click='add()', ng-disabled='addForm.$invalid') Add Peer
  table.table.table-striped
    tr
      th #
      th IP
      th Port
      th Version
       