section.col-xs-12.content(ng-controller='PretendCtrl')

  span Debug as {{pretendAs}}
  form.mode-form(name="pretendForm", id="pretendForm", ng-show='connected', ng-submit='pretend()')
    .form-group
      label(for='pretendAddr') address:
      .row.row-padding-small.amount
        .col-xs-12.col-sm-9.col-md-6
          input.value.form-control#pretendAddr(
          name='pretendAddr', type='text'
          ng-model='pretendAs'
          required
          rp-dest, rp-dest-address, rp-dest-ripple-name
          )
      .errorGroup(rp-errors='pretendAddr')
        .error(rp-error-on='required', l10n) Please enter an address.
        .error(rp-error-on='rpDest', l10n) Not a valid address.
      .row.row-padding-small.amount
        .col-xs-12.col-sm-9.col-md-6
          button.btn.btn-block.btn-success(type="submit", ng-disabled='pretendForm.$invalid',  l10n)
            | Pretend

