section#t-receive.single.content
  p.literal Other Ripple users can send money to you using this address.
  hr
  div.address
    input(ng-model="address", readonly)
  p.literal(ng-show="!copy_supported")
    | Tip: 
    a.select Select
    |  and copy using Ctrl+C.
  form(ng-show="copy_supported")
    button.btn.btn-success Copy Address