section#t-receive.single.content
  p.literal Other Ripple users can send money to you using this address.
  hr
  p.address rwcQbuaLBUgS9ySP1v9x2WfyBWC9xBARRV
  form
    button.btn.btn-success Copy Address