section.single.content(ng-controller="ReceiveCtrl")
  p.literal(l10n) This is your public address. Give this address to other users so they can send you money.
  hr
  .address
    .box
      span#receive-address(ng-bind="address")
  p.literal(ng-show="!copy_supported", l10n)
    | Tip:&nbsp;
    a.select(rp-select-el="receive-address", l10n-inc) Select
    |  and copy using Ctrl+C.
  form(ng-show="copy_supported")
    button.btn.btn-success(l10n) Copy Address
  .qr#qr-code