section.single.modal.content(ng-controller="RegisterCtrl")
  h1 Create a Ripple Wallet
  p.literal Ripple an open-source P2P payment system.
  form(name='registerForm', pass-validate="{ notMatch: 'password1 == password2' }", ng-submit='submitForm()')
    label(for='register_username') Create Username
    input#register_username(name='register_username', ng-model="username", type='text')
    .horiz
      div
        label(for='register_password') Password
        input#register_password(name='register_password1', ng-model="password1", type='password', required)
      div
        label(for='register_password2') Password Again
        input#register_password2(name='register_password2', ng-model="password2", type='password', required)
    div.errorBox(ng-show="registerForm.$invalid && password1 && password2")
      p.text-error Passwords do not match
    label.storageinfo
      | Store your wallet with:
      strong Payward Inc.
      a(href='#') change
    p.literal.hint
      | Your information will be stored with Payward, lorem ipsum et dolor sit amet.
    div.submitsection
      button.btn.btn-info(type='submit') Create
      p.literal
        | IMPORTANT: There is no mechanism to
        | recover your username and password.
    p.literal.throw
      | Have a wallet already? 
      a(href='#login') Open wallet
