section.col-xs-12.content(ng-controller="RegisterCtrl")
  .row.migrate
    .col-xs-12.col-md-10.col-md-offset-1
      h1(l10n) Create a Ripple Wallet
      p.literal(l10n) We're moving to Ripple Trade! Please create your new Ripple Wallet on Ripple Trade.
  .row.migrate
    button.btn.btn-block.btn-success.migrate-btn(ng-click='RTRedirect()') Create Wallet
  .row.migrate
    p.literal(l10n) Need to migrate your existing Ripple Wallet?
    a(href="https://rippletrade.com/#/login/migrate") Migrate your current wallet to Ripple Trade.