section.panel.content(ng-controller="SecurityCtrl")
  p.literal <strong>Your information is encrypted and stored on Payward Inc. servers.</strong>
  p.literal This is your Ripple wallet information. <a href="" onClick="javascript:window.print()"><strong>PRINT THIS PAGE</strong></a> and keep it somewhere safe.
  .infoBox
    table
      tr.section
        td Wallet name:
        td Pass phrase:
      tr
        td
          span.value {{userCredentials.username}}
        td
          span.value {{userCredentials.password | rpmask}}
      tr.section
        td(colspan="2") Secret Account Key:
          a.smallText(href="http://ripple.com/help/key", target="_blank") What is this?
      tr
        td(colspan="2")
          span.value {{userCredentials.master_seed}}
      tr.section
        td(colspan="2") Wallet:
          a.smallText(href="http://ripple.com/help/wallet", target="_blank") What is this?
      tr
        td.wallet(colspan="2")
          span.value
            span(ng-bind='userBlob.data.contacts.length')
            |  contacts,&nbsp;
            span(ng-bind='enc.length | rpfilesize')
            | &ensp;
          p.literal(
            rp-download='enc'
            rp-download-filename='ripple-wallet.json')
            | You can&nbsp;
            a(rp-download-trigger) backup your wallet to a file
            | .
  p.literal IMPORTANT! There is no way to recover your wallet name or pass phrase.&nbsp;
    a.smallText(href="http://ripple.com/help/password", target="_blank") Read why