section#t-send.single.content(ng-controller='SendCtrl')
  form.mode-form(name="sendform", ng-show='mode=="form"', ng-submit='send()')
    p.literal You can send money or credits to anyone with a Ripple account.
    hr
    label(for='send_amount') Amount
    .amount
      input#send_amount(name='send_amount', type='number', step='any', ng-model='amount', ng-pattern='/^[0-9.]+$/', required)
      select.currency#send_amount_currency(name='send_amount_currency', ng-model='currency')
        option XRP
    .error(ng-show='sendform.send_amount.$error.required && !sendform.send_amount.$pristine') Please enter an amount.
    .error(ng-show='sendform.send_amount.$error.pattern && !sendform.send_amount.$pristine') Not a valid amount.
    label(for='send_destination') Destination
    input#send_destination(name='send_destination', type='text', ng-model='recipient', required)
    div.error(ng-show='sendform.send_destination.$error.required && !sendform.send_destination.$pristine') Please enter a recipient.
    label(for='send_nickname') Nickname for this user
    input#send_nickname(name='send_nickname', type='text', placeholder='Optional')
    div.submitsection
      button.btn.btn-success.submit(type='submit') Send
  group.mode-confirm(ng-show='mode=="confirm"')
    p.literal You are about to send
    p.amount_feedback
      span.value {{amount_feedback}} 
      span.currency {{currency_feedback}}
    p.literal to the Ripple user
    div.dest_feedback
      .recipient {{recipient}}
      .extra {{recipient_extra}}
    p.literal Are you sure?
    div
      p.submitsection
        button.btn.back(ng-click='mode="form"') &laquo; Back
        button.btn.btn-success.submit(type='submit', ng-click='send_confirmed()', ng-disabled='confirm_wait') Confirm
  group.mode-sending(ng-show='mode=="sending"')
    p.throbber.literal Sending transaction to Ripple network
    hr
    p: button.btn(ng-click='reset()') Stop waiting
  group.mode-error(ng-show='mode=="error"')
    p.literal Sorry, an error occurred while submitting your transaction. Make sure you are connected to the Internet and try again later.
    p.literal Before trying again, please ensure that the transaction has not been executed already.
    p: button.btn(ng-click='reset()') &laquo; Back