section#t-send.single.content(ng-controller='SendCtrl')
  form.mode-form(name="sendform", ng-show='mode=="form"')
    p.literal You can send money or credits to anyone with a Ripple account.
    hr
    label(for='send_amount') Amount
    .amount
      input#send_amount(name='send_amount', type='number', step='any', ng-model='amount', ng-pattern='/^[0-9.]+$/', required)
      select.currency#send_amount_currency(name='send_amount_currency', ng-model='currency')
        option XRP
    .error(ng-show='sendform.send_amount.$error.required') Please enter an amount.
    .error(ng-show='sendform.send_amount.$error.pattern') Not a valid amount.
    label(for='send_destination') Destination
    input#send_destination(name='send_destination', type='text', ng-model='recipient', required)
    div.error(ng-show='sendform.send_destination.$error.required') Please enter a recipient.
    label(for='send_nickname') Nickname for this user
    input#send_nickname(name='send_nickname', type='text', placeholder='Optional')
    div.submitsection
      button.btn.btn-success.submit(type='submit', ng-click='send()', ng-disabled='sendform.$invalid') Send
  group.mode-confirm(ng-show='mode=="confirm"')
    p.literal You are about to send
    p.amount_feedback
      span.value {{amount_feedback}} 
      span.currency {{currency_feedback}}
    p.literal to the Ripple user
    div.dest_feedback
      .nickname Nickname here
      .address {{recipient}}
    p.literal Are you sure?
    div
      p.submitsection
        button.btn.back(ng-click='mode="form"') &laquo; Back
        button.btn.btn-success.submit(type='submit', ng-click='send_confirmed()', ng-disabled='confirm_wait') Confirm
  group.mode-sending(ng-show='mode=="sending"')
    p.literal Sending transaction to Ripple network
