section.col-xs-12.content(ng-controller="SettingsTradeCtrl")
  div(ng-show='debug') This page is not available in debug mode

  div(ng-show="!loadingAccount && !account.Balance && loadState.account && connected && !debug")
    include banner/unfunded
  .row(ng-show='!debug')
    .col-sm-12
    .col-sm-3
      include settings/navbar
    .col-sm-9.list
      section
        h4(l10n) Trade settings
        .section
          .descriptor(l10n) Trade currency pairs
          div(ng-show="!pairs || (pairs && pairs.length == 0)", l10n)
            | No trade pairs in this account. To add a pair, go to the 
            a(href="#/trade", l10n-inc) Trade &gt; Advanced 
            | section.
          div(ng-if="pairs")
            div(as-sortable="dragControlListeners", ng-model="pairs")
               div.pair(ng-repeat="entry in pairs", as-sortable-item)
                .col-xs-12(as-sortable-item-handle)
                  i.grip
                  span.description(ng-bind="entry.name")
                  a(href="", ng-click="deletePair($index)")
                    span.delete remove
