section.panel.content(ng-controller="TradeCtrl")
  div(ng-show='mode=="trade"')
    p.literal Ripple automatically converts when you send from one currency to another.
    table.table
      thead
        tr
          th Pair
          th Bid
          th Ask
          th Spread
      tbody
    form.mode-form(name="orderform")
      p.literal Place Order
      hr
      label(for='sell_currency') Sell Currency:
      input.currency#sell_currency(name='sell_currency', type='text', ng-model='sell_currency', ng-change='changePair()', rp-combobox="currency_query", rp-combobox-select)
      label(for='buy_currency') Buy Currency:
      input.currency#buy_currency(name='buy_currency', type='text', issuer, ng-model='buy_currency', ng-change='changePair()', rp-combobox="currency_query", rp-combobox-select)
      .error(ng-show='orderform.buy_currency.$error.issuer') You aren't able to accept this currency (add trust)
      label(for='order_amount') Amount To Sell: 
        input(name='amount', type='number', step='any', ng-model='amount', ng-pattern='/^[0-9.]+$/', required)
      .error(ng-show='orderform.amount.$error.required') Please enter an amount.
      .error(ng-show='orderform.amount.$error.pattern') Not a valid amount.
      label(for='order_price') Price of Each: 
        input#order_price(name='price', type='number', step='any', ng-model='price', ng-pattern='/^[0-9.]+$/', required)
      .error(ng-show='orderform.price.$error.required') Please enter a price.
      .error(ng-show='orderform.price.$error.pattern') Not a valid price.
      div.submitsection
        button.btn.btn-success.submit(type='submit', ng-click='placeOrder()', ng-disabled='orderform.$invalid') Place Order  
      
      
    //p.literal Open Orders
    table.table
      thead
        tr
          th Date
          th Type
          th Pair
          th Price
          th Amount
          th &nbsp;
      tbody
      tr(ng-repeat="entry in orders", class="{{entry.type}}")
        td.date {{entry.date}}
        td.type {{entry.type}}
        td.pair {{entry.pair}}
        td.price {{entry.price}}
        td.amount {{entry.amount}}
        td.cancel 
          a(ng-click='cancelOrder()') cancel
      tr(ng-show="!orders.length")
        td(colspan="6")
          span.literal You haven't placed any orders.
            
  group.mode-confirm(ng-show='mode=="confirm"')
    p.literal You are about to place an offer selling
    p.amount_feedback
      span.value {{sell_amount_feedback}} 
      span.currency {{sell_currency_feedback}}
    p.literal for 
    div.dest_feedback
      span.value {{buy_amount_feedback}} 
      span.currency {{buy_currency_feedback}}
    p.literal Are you sure?
    div
      p.submitsection
        button.btn.back(ng-click='mode="trade"') &laquo; Back
        button.btn.btn-success.submit(type='submit', ng-click='order_confirmed()', ng-disabled='confirm_wait') Confirm
  group.mode-sending(ng-show='mode=="sending"')
    p.throbber.literal Sending offer to Ripple network...
  group.mode-error(ng-show='mode=="error"')
    p.literal Sorry, an error occurred while submitting your transaction. Make sure you are connected to the Internet and try again later.
    p.literal Before trying again, please ensure that the transaction has not been executed already.
    p: button.btn(ng-click='reset()') &laquo; Back         
          
          
