section.panel.content(ng-controller="TradeCtrl")
  div.action-window
    ul.info
      li
        span.label Pair =
        span.value XRP/USD
      li
        span.label Bid =
        span.value.up
          | 104.30
          span.icon.up
      li
        span.label Ask =
        span.value 104.26
      li
        span.label Spread =
        span.value.down
          | .04
          span.icon.down
      li
        span.label Last price =
        span.value.down
          | .04
          span.icon.down

    //- 1. Order form

    form.mode-form(name='orderForm', ng-submit='placeOrder()', ng-show='mode=="trade"')
      .currencies
        .currency-field.sell
          label(for='sell_currency') Sell
          input.currency#sell_currency(name='sell_currency', type='text', ng-model='sell_currency', ng-change='changePair()', rp-combobox="currency_query", rp-combobox-select)
        .currency-field
          label(for='buy_currency') Buy
          input.currency#buy_currency(name='buy_currency', type='text', rp-issuer, ng-model='buy_currency', ng-change='changePair()', rp-combobox="currency_query", rp-combobox-select)
          .error(ng-show='orderForm.buy_currency.$error.rpIssuer && !orderForm.buy_currency.$pristine') You aren't able to accept this currency (add trust)
      .order-values
        .value-field
          label(for='order_amount') Amount To Sell
          input#order_amount(name='amount', type='number', step='any', ng-model='amount', ng-pattern='/^[0-9.]+$/', ng-change='update_value()', required)
          .error(ng-show='orderForm.amount.$error.pattern') Not a valid amount.
          .error(ng-show='orderForm.amount.$error.required && !orderForm.amount.$pristine') Required
        .sign x
        .value-field
          label(for='order_price') Price of Each
          input#order_price(name='price', type='number', step='any', ng-model='price', ng-pattern='/^[0-9.]+$/', ng-change='update_value()', required)
          .error(ng-show='orderForm.price.$error.pattern') Not a valid price.
          .error(ng-show='orderForm.price.$error.required && !orderForm.price.$pristine') Required
        .sign =
        .value-field
          label(for='order_value') Order Value ({{buy_currency | rptruncate:3}})
          input#order_value(name='value', type='number', step='any', ng-model='value', ng-pattern='/^[0-9.]+$/', ng-change='update_amount()', required)
          .error(ng-show='orderForm.value.$error.pattern') Not a valid value.
      div.message(ng-show='orderForm.$valid') You are wanting to sell {{amount}} {{sell_currency | rptruncate:3}} for {{value}} {{buy_currency | rptruncate:3}} ({{price}} {{sell_currency | rptruncate:3}}/{{buy_currency | rptruncate:3}})
      div.submitsection
        button.btn.btn-success.submit(type='submit', ng-disabled='orderForm.$invalid') Place Order

    //- 2. Confirmation

    form.mode-confirm(ng-show='mode=="confirm"', ng-submit="order_confirmed()")
      p.literal You are about to place an offer selling
        .amount_feedback
          span.value {{sell_amount_feedback}}
          span.currency {{sell_currency_feedback}}
        p.literal for
        .dest_feedback
          span.value {{buy_amount_feedback}}
          span.currency {{buy_currency_feedback}}
        p.literal Are you sure?
        div
          p.submitsection
            button.btn.back(ng-click='mode="trade"') &laquo; Back
            button.btn.btn-success.submit(type='submit', ng-disabled='confirm_wait') Confirm

    //- 3. Sending

    .mode-sending(ng-show='mode=="sending"')
      p.throbber.literal Sending offer to Ripple network...

    //- 4. Error

    .mode-error(ng-show='mode==""')
      p.literal Sorry, an error occurred while submitting your transaction. Make sure you are connected to the Internet and try again later.
        p.literal Before trying again, please ensure that the transaction has not been executed already.
        p: button.btn(ng-click='reset()') &laquo; Back

    //- 5. Sent

    .mode-sent(ng-show='mode==""') Sent!

  h1.open-orders-title Open Orders
  table.open-orders
    thead
      tr
        th Date
        th Pair
        th Price
        th Amount
        th Action
    tbody
      tr(ng-repeat="entry in orders", class="{{entry.type}}")
        td.date {{entry.date}}
        td.pair {{entry.pair}}
        td.price {{entry.price}}
        td.amount {{entry.amount}}
        td.cancel
          a(ng-click='cancelOrder()') cancel
      tr(ng-show="!orders.length")
        td(colspan="5")
          span.literal You haven't placed any orders.