section.panel.content(ng-controller="TrustCtrl")

  //- N1. Trust form

  table.table(ng-show='mode=="main"')
    thead
      tr
        th.account Account/Name
        th.currency Currency
        th.trust Trust level
        th.action
          a.btn.btn-success.sign(ng-click='toggle_form()')
            span(ng-hide='addform_visible') +
            span(ng-show='addform_visible') –
    tbody
      tr(ng-show='addform_visible')
        td(colspan=4)
          form(name='trustForm', ng-submit='grant()')
            label(for='trust_amount') Amount
            .amount
              input.value#trust_amount(name='trust_amount', type='number', step='any', ng-model='amount', ng-pattern='/^[0-9.]+$/', required)
              input.currency-field#trust_amount_currency(name='trust_amount_currency', type='text', ng-model='currency', rp-combobox="currency_query", rp-combobox-select)
            label(for='trust_counterparty') User
            input#trust_counterparty(name='trust_counterparty', type='text', ng-model='counterparty', rp-combobox="counterparty_query", rp-destination, rp-not-me, required)
            .success(ng-show='counterparty != counterparty_address && counterparty_name') {{counterparty_address}}
            .error(ng-show='trustForm.trust_counterparty.$error.rpDestination') User should be either name from your contact list or ripple address.
            .error(ng-show='trustForm.trust_counterparty.$error.rpNotMe') You've entered your address.
            .error(ng-show='remoteError') You can only grant trust if you have funds in your account.
            .submitsection
              button.btn.btn-info(type='submit', ng-disabled='trustForm.$invalid') Grant Trust

      tr(ng-repeat='(key, line) in lines')
        td.account {{line.account | rpcontactnamefull}}
        td.currency {{line.currency}}
        td.trust
          //{{line.limit_peer | rpamount}} --- {{line.balance | rpamount:{signed: true} }} --- {{line.limit | rpamount}}
          rp-trust-line(rp-line-data='line')
        td.action
          a(ng-click="edit_line()") edit

  //- N2. Confirmation page

  group.mode-confirm(ng-show='mode=="confirm"')
    p.literal You are about to trust
    p.amount_feedback
      span.value {{amount_feedback}}&nbsp;
      span.currency {{currency_feedback}}
    p.literal to the Ripple user
    .dest_feedback
      .counterparty(ng-show='counterparty_name') {{counterparty_name}}
      .counterparty(ng-hide='counterparty_name') {{counterparty_address}}
      .extra(ng-show="counterparty != counterparty_address || counterparty_name") {{counterparty_address}}
    p.literal Are you sure?
    div
      p.submitsection
        button.btn.back(ng-click='mode="main"') &laquo; Back
        button.btn.btn-success.submit(type='submit', ng-click='grant_confirmed()', ng-disabled='confirm_wait') Confirm

  //- N3. Waiting for transaction result page

  group.mode-granting(ng-show='mode=="granting"')
    p.throbber.literal Granting is in progress
    hr
    p: button.btn(ng-click='reset()') Stop waiting

  //- N4. Error page

  group.mode-error(ng-show='mode=="error"')
    div(ng-show="errorMessage")
      p.literal {{errorMessage}}
      p: a.btn(href="#overview") Back to overview
    div(ng-hide="errorMessage")
      p.literal Sorry, an error occurred while granting. Make sure you are connected to the Internet and try again later.
      p: button.btn(ng-click='reset()') &laquo; Back

  //- N5. Granted page

  group.mode-granted(ng-show='mode=="granted"')
    group.pending(ng-show='tx_result=="pending"')
      h1 Your grant request has been submitted.
    group.result-success(ng-show='tx_result=="cleared"')
      h1 Trust is granted!
    group.result-error(ng-show='tx_result=="error"')
      h1 Trust could not be granted!
      p We were unable to submit the request. Please try again later.
    group.result-malformed(ng-show='tx_result=="malformed"')
      h1 Grant is malformed!
      p Your request is invalid, reason: {{engine_result}} - {{engine_result_message}}
    group.result-failed(ng-show='tx_result=="failed"')
      h1 Granting failed!
      p(ng-switch on="engine_result")
        span(ng-switch-when="terNO_LINE") You have no trust line in this currency.
        span(ng-switch-when="terNO_DST") You can't grant trust to an account before it has been funded.
        span(ng-switch-default) Trust grunting failed to clear, reason: {{engine_result_message}}
    hr
    .text-success(ng-show='addressSaved', class="actionLink") Address saved!
    div(ng-hide='contact', class="actionLink")
      a(href="", ng-click='showSaveAddressForm()') Add this address to contacts
      form(name="saveAddressForm", id="saveAddressForm", ng-submit='saveAddress()')
        .address {{counterparty_address}}
        label(for='save_address_name') Name this user
        input#contact_name(name='save_address_name', type="text", step='any', ng-model='saveAddressName', unique, required)
        .error(ng-show='saveAddressForm.save_address_name.$error.unique') You already have a contact with the same name.
        div
          button.btn.btn-success(type='submit', ng-disabled='addressSaving')
            span(ng-show='addressSaving') Saving...
            span(ng-hide='addressSaving') Save
          a(href="", ng-click='hideSaveAddressForm()') Cancel
        hr
    div(class="actionLink")
      a(href="#trust", ng-click="reset()") Back to trust page
    hr