section.panel.content
  table.table
    thead
      tr
        th Account/Name
        th Currency
        th Trust level
        th
    tbody
      tr
        td rwcQbuaLBUgS9ySP1v9x2WfyBWC9xBARRV
        td XRP
        td
        td
          a(href='#') edit