section.panel.content(ng-controller="TrustCtrl")
  table.table
    thead
      tr
        th Account/Name
        th Currency
        th Trust level
        th.action
          a.btn.btn-success.sign(ng-click='toggle_form()')
            span(ng-hide='addform_visible') +
            span(ng-show='addform_visible') -
    tbody
      tr(ng-show='addform_visible')
        td(colspan=4)
          form(name='trustForm', ng-submit='grant()')
            label(for='trust_amount') Amount
            .amount
              input.value#trust_amount(name='trust_amount', type='number', step='any', ng-model='amount', ng-pattern='/^[0-9.]+$/', required)
              input.currency#trust_amount_currency(name='trust_amount_currency', type='text', ng-model='currency', rp-combobox="currency_query", rp-combobox-select)
            label(for='trust_counterparty') User
            input#trust_counterparty(name='trust_counterparty', type='text', ng-model='counterparty', rp-combobox="recipient_query", rp-destination, rp-not-me, required)
            .error(ng-show='trustForm.trust_counterparty.$error.rpDestination') User should be either name from your contact list or ripple address.
            .error(ng-show='trustForm.trust_counterparty.$error.rpNotMe') You've entered your address.
            .error(ng-show='remoteError') You have to be funded to grant a trust.
            div.submitsection
              button.btn.btn-info(type='submit', ng-disabled='trustForm.$invalid') Grant Trust

      tr(ng-repeat='(key, line) in lines')
        td {{line.account}}
        td {{line.currency}}
        td
          //{{line.limit_peer | rpamount}} --- {{line.balance | rpamount:{signed: true} }} --- {{line.limit | rpamount}}
          rp-trust-line(rp-line-data='line')
        td
          a(ng-click="edit_line()") edit