section.content(ng-controller="UNLCtrl")
  p.literal Your UNL should contain nodes you believe won't collude to cheat 
  table.table
    tr: td
      form(name="addForm")
        label(for='unl_hanko') Domain or Hanko:
        .unl_key
          input#unl_key(name='unl_key', type='text', step='any', ng-model='unl_key', required)
        label(for='unl_note') Comment (Optional):
        .unl_note
          input#unl_note(name='unl_note', type='text', step='any', ng-model='unl_note', unl_note, required)
        .submitsection
          button.btn.btn-info(type='submit', ng-click='add()', ng-disabled='addForm.$invalid') Add Node
      table.table
        thead
          tr
            th #
            th.hanko Hanko
            th.comment
            th.action
              a.btn.btn-success.sign(ng-click='toggle_form()')
                span(ng-hide='addform_visible') +
                span(ng-show='addform_visible') -
        tbody
          tr(ng-show='addform_visible')
            td(colspan=5)
          tr(ng-repeat="entry in addressbook")
            td: inline-edit(model='entry.name', mode='entry.isEditMode')
            td: inline-edit(model='entry.address', mode='entry.isEditMode')
            td.save
              button.save.btn.btn-success.btn-sm(ng-show='entry.isEditMode', ng-click='update($index)') Save
            td.command
              button.delete.btn.btn-danger.btn-sm(ng-show='entry.isEditMode', ng-click='remove($index)') Delete
              button.send.btn.btn-success.btn-sm(ng-hide='entry.isEditMode') Send
            td.action
              a(ng-click='edit($index)', ng-hide='entry.isEditMode') edit
              a(ng-click='cancel($index)', ng-show='entry.isEditMode') cancel
          