section.col-xs-12.content(ng-controller='UsdCtrl')

  //- Disconnected

  group.disconnected(ng-hide='connected')
    p.literal(l10n="err-you-must-be-online-to-see-this-screen", l10n)
      | You have to be online to see this screen

  //- Funding
  div(ng-show="'web' === client && !loadingAccount && !account.Balance && loadState.account && connected")
    include banner/unfunded

  .row(ng-show='connected')
    .col-sm-3
      include fund/menu
    .col-sm-9
      .row
        .col-sm-6
          .nameLine Fund your account with USD
          h5 Amount
      .row
        .col-sm-1(id="dollarSign")
          .nameLine $
        .col-sm-3
          input.form-control.amount(name='amount', id='amount', type='text'
            placeholder='e.g. 100', ng-model='usdAmount', ng-change='calculate(usdAmount)')
      .row
        .col-sm-8
          h5 Fee
          .nameLine $ {{ fee.toFixed(2) }}
          h5 Total
          .nameLine $ {{ total.toFixed(2) }}
      .row
        .col-sm-4
          h5 Select your bank
          select.form-control(name='bank', placeholder="e.g. Bank of America", ng-model="bank")
            option(value="PNBPUS") Wells Fargo
            option(value="BOFAUS") Bank of America
            option(value="HIBKUS") Capital One
            option(value="INGBUS") Capital One 360
            option(value="J447US") TD Bank
            option(value="USBKUS") US Bank
            option(value="PNCCUS") PNC
            option(value="CHASUS") Chase
            option(value="CITIUS") Citibank
      .row
        .col-sm-6
          .description(class="ssText") Ripple Trade has partnered with SnapSwap to make deposits
            |  easier. By continuing, you agree to SnapSwap's Terms of Service.
      .row
        .col-sm-8
          form(action="https://knoxpayments.com/pay/index.php", method="get", name ="usdDeposit")
            input(type="hidden", name="amount", value="{{total}}")
            input(type="hidden", name="api_key", value="7063_d07449f011f370c")
            input(type="hidden", name="invoice_detail", value="Deposit USD into your Ripple wallet")
            input(type="hidden", name="recurring", value="ot")
            input(type="hidden", name="information_request", value="none")
            input(type="hidden", name="redirect_url", value="")
            input(type="hidden", name="cancel_url", value="")
            input(type="hidden", name="swift_code", value="{{bank}}")
            button.btn.btn-large(type="submit", class="knox-payments-button") Continue to authorization



