.widget.widget-networth
  h4(ng-click='show_widget_networth=!show_widget_networth'
    ng-init='show_widget_networth=true')
    span(l10n) Net Worth
    i.fa.fa-fw.fa-caret-down(ng-class="{'closed': !show_widget_networth}")

  div(rp-slide='show_widget_networth')
    p(l10n)
      | In
      select.currency(rp-flat-select, ng-model='selectedValueMetric'
        ng-change='changeMetric(this)'
        ng-options='metric.code as metric.text for metric in valueMetrics')

    .desc(l10n) Estimated from latest trade price

    .total.amount(ng-show="exchangeRatesNonempty")
      span.amount {{ aggregateValueDisplayed }}
      span.amountDecimal {{ aggregateValueDisplayedDecimal }}
      span.amountCurrency {{ selectedValueMetric.split(":")[0] }}
    .lbl(ng-show="hasNegative")
      .desc(l10n) (excluding negative balances)
