.widget.widget-orders
  h4(ng-click='showWidgetOrders=!showWidgetOrders'
    ng-init='showWidgetOrders=true')
    span(l10n) My Orders
    i.fa.fa-fw.fa-caret-down(ng-class="{'closed': !showWidgetOrders}")

  div(rp-slide='showWidgetOrders')
    | 5

    p(ng-show="$route.current.tabName == 'balance'")
      a(href="#/trade", l10n) Trade Currencies
