.accountPage
  a(href="#/account/public", ng-class="{active: $routeParams.route == 'public'}", l10n) Public Information
  //- a(href="#/account/private", ng-class="{active: $routeParams.route == 'private'}", l10n) Private Information