#status
  .user
    div {{username}}&nbsp;
    .balance.primary
      | {{balance | rpamount}}
      span XRP
    .balance.secondary(ng-repeat="(currency, balance) in balances")
      | {{balance.total | rpamount}}
      span {{currency}}