#status(ng-class="{expand: show_secondary && balance_count >= 2}")
  .user
    div {{username}}&nbsp;
    .balance.primary
      | {{balance | rpamount}}
      span XRP
    ul.secondary
      li.balance(ng-repeat="(currency, balance) in balances", ng-class="{negative: balance.total.is_negative()}")
        | {{balance.total | rpamount}}
        span {{currency}}
    a.toggle-secondary(ng-click="toggle_secondary()", ng-show="balance_count >= 2")