.accountPage
  a(href="#/publicacct", ng-class="{active: $route.current.tabName == 'publicacct'}", l10n) Public Information
  a(href="#/privateacct", ng-class="{active: $route.current.tabName == 'privateacct'}", l10n) Private Information