nav.col-xs-12.col-md-2
  h2(ng-bind="$route.current.tabName | rpucfirst")
  ul
    li(ng-class="{active: $route.current.tabName == 'trust'}")
      a(href="#/trust") Trust
    li(ng-class="{active: $route.current.tabName == 'trade'}")
      a(href="#/trade") Trade
    li(ng-class="{active: $route.current.tabName == 'options'}")
      a(href="#/options") Options