nav.col-xs-12.col-md-2
  h2(ng-bind="$route.current.tabName | rpucfirst")
  ul
    li(ng-class="{active: $route.current.tabName == 'balance'}")
      a(href="#/balance") Balance
    li(ng-class="{active: $route.current.tabName == 'history'}")
      a(href="#/history") History
    li(ng-class="{active: $route.current.tabName == 'contacts'}")
      a(href="#/contacts") Contacts
    li(ng-class="{active: $route.current.tabName == 'convert'}")
      a(href="#/convert") Convert
    li(ng-class="{active: $route.current.tabName == 'security'}")
      a(href="#/security") Security