nav.col-xs-12.col-md-2
  h2(ng-bind="$route.current.tabName | rpucfirst")
  ul
    li(ng-class="{active: $route.current.tabName == 'balance'}")
      a(href="#/balance", l10n) Balance
    li(ng-class="{active: $route.current.tabName == 'history'}")
      a(href="#/history", l10n) History
    li(ng-class="{active: $route.current.tabName == 'contacts'}")
      a(href="#/contacts", l10n) Contacts
    li(ng-class="{active: $route.current.tabName == 'convert'}")
      a(href="#/convert", l10n) Convert
    li(ng-class="{active: $route.current.tabName == 'gateways'}")
      a(href="#/gateways", l10n) Gateways
    li(ng-class="{active: $route.current.tabName == 'security'}")
      a(href="#/security", l10n) Security