form(name="unlockForm", role="form", ng-submit="confirm()", ng-keyup="onKeyUp($event)")
  .modal-header(l10n) Unlock account
  .modal-body
    .form-group
      label(for="popup_unlock_password", l10n) Password
      input.form-control#popup_unlock_password(
        type="password", name="popup_unlock_password"
        ng-model="unlock.password", ng-model-options="{ debounce: 300 }",
        required, rp-focus)
    p.help-block(ng-switch="unlock.purpose")
      span(ng-switch-when="showSecret", l10n) Please enter your password to show your secret key.
      span(ng-switch-default, l10n) Please enter your password to confirm this transaction.
    .alert.alert-danger(ng-show="unlock.error == 'password'", l10n) This password is incorrect, please try again.
    .alert.alert-danger(ng-show="unlock.error == 'server'", l10n) Your account cannot be accessed at the moment. Please try again later.
    p.literal(ng-show="unlock.isConfirming")
      img(src="img/button-s.png", class="loader")
      span(class="loading_text", l10n) Confirming password
  .modal-footer
    .unlock-btns-wrapper
      button.btn.btn-primary.modal-submit-btn(type="submit", ng-disabled="unlockForm.$invalid || isConfirming", l10n) Submit
      button.btn.btn-default.modal-close-btn(type="button", ng-click="cancel()", l10n) Close
