// Error messages for the send and convert tabs

group(ng-switch on="error_type")
  group.result-error(ng-switch-when='noDest')
    h2.tx-status(l10n) Destination does not exist
    p(l10n) The wallet you&#39;re trying to send to does not exist.
  group.result-error(ng-switch-when='noPath')
    h2.tx-status(l10n) No Path
    p(l10n) Ripple was unable to find a path between you and the destination account.
  group.result-error(ng-switch-when='maxFeeExceeded')
    h2.tx-status(l10n) Transaction Failed
    p(l10n) Network fee exceeded. Please try again later.
  group.result-error(ng-switch-when='invalidTransaction')
    h2.tx-status(l10n) Invalid transaction
    p(l10n) The transaction was rejected by the server due to a client issue.
  group.result-error(ng-switch-when='unlockFailed')
    h2.tx-status(l10n) Unlock failed
    p(l10n) Your wallet could not be unlocked. This could be a server issue, please try again later.
  group(ng-switch-default)
    p.literal(l10n) Sorry, an error occurred while submitting your transaction.
      | Make sure you are connected to the Internet and try again later.
    p.literal(l10n) Before trying again, please ensure that the transaction has
      |  not been executed already.