case tx.type
  when "sent"
    .type-info You sent
      span(title="{{tx.counterparty}}") {{tx.counterparty | rpcontactname}}
      span.number {{tx.amount | rpamount}}
      span.currency  {{tx.currency}}
  when "received"
    .type-success
      span(title="{{tx.counterparty}}") {{tx.counterparty | rpcontactname}} sent you
      span.number {{tx.amount | rpamount}}
      span.currency  {{tx.currency}}
  when "trusted"
    .type-success
      span(title="{{tx.counterparty}}") {{tx.counterparty | rpcontactname}} now trusts you for
      span.number {{tx.limit_peer | rpamount}}
      span.currency  {{tx.currency}}
  when "trusting"
    .type-success
      span(title="{{tx.counterparty}}") You now trust {{tx.counterparty | rpcontactname}} for
      span.number {{tx.limit | rpamount}}
      span.currency  {{tx.currency}}