case tx.type
  when "sent"
    .type-info
      | You sent Bob 
      span.number {{tx.amount | rpamount}}
      span.currency  {{tx.currency}}
  when "received"
    .type-success
      | Bob sent you 
      span.number {{tx.amount | rpamount}}
      span.currency  {{tx.currency}}