case tx.type
  when "sent"
    .type-info
      | You sent Bob 
      span.number {{tx.amount | rpamount}}
      span.currency  {{tx.currency}}
  when "received"
    .type-success
      | Bob sent you 
      span.number {{tx.amount | rpamount}}
      span.currency  {{tx.currency}}
  when "trusted"
    .type-success
      | Bob now trusts you for 
      span.number {{tx.limit_peer | rpamount}}
      span.currency  {{tx.currency}}
  when "trusting"
    .type-success
      | You now trust Bob for 
      span.number {{tx.limit | rpamount}}
      span.currency  {{tx.currency}}