case tx.type
  when "sent"
    .type-info(l10n) You sent&#32;
      span(title="{{tx.counterparty}}") {{tx.counterparty | rpcontactname}}
      | &#32;
      span.number {{tx.amount | rpamount}}
      | &#32;
      span.currency {{tx.currency}}
  when "received"
    .type-success
      span(title="{{tx.counterparty}}", l10n) {{tx.counterparty | rpcontactname}} sent you
      | &#32;
      span.number {{tx.amount | rpamount}}
      | &#32;
      span.currency {{tx.currency}}
  when "trusted"
    .type-success
      span(title="{{tx.counterparty}}", l10n) {{tx.counterparty | rpcontactname}} now trusts you for
      | &#32;
      span.number {{tx.amount | rpamount}}
      | &#32;
      span.currency {{tx.currency}}
  when "trusting"
    .type-success
      span(title="{{tx.counterparty}}", l10n) You now trust {{tx.counterparty | rpcontactname}} for
      | &#32;
      span.number {{tx.amount | rpamount}}
      | &#32;
      span.currency {{tx.currency}}