case tx.type
  when "sent"
    .type-info(l10n) You sent&#32;
      span.number {{tx.amount | rpamount}}
      | &#32;
      span.currency {{tx.currency}}
      |  to&#32;
      span(title="{{tx.counterparty}}") {{tx.counterparty | rpcontactname}}
  when "received"
    .type-success
      span(title="{{tx.counterparty}}", l10n) {{tx.counterparty | rpcontactname}} sent you
      | &#32;
      span.number {{tx.amount | rpamount}}
      | &#32;
      span.currency {{tx.currency}}
  when "trusted"
    .type-success
      span(title="{{tx.counterparty}}", l10n) {{tx.counterparty | rpcontactname}} now trusts you for
      | &#32;
      span.number {{tx.amount | rpamount}}
      | &#32;
      span.currency {{tx.currency}}
  when "trusting"
    .type-success
      span(title="{{tx.counterparty}}", l10n) You have now connected to the gateway&#32;
        span
          | {{tx.counterparty | rpcontactname}}
        span(l10n-inc) &#32;for&#32;
        span
          span.number {{tx.amount | rpamount}}
          | &#32;
          span.currency {{tx.currency}}
        | .
